/*Este documento define todo o css extra o bootstrap*/


@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/Helvetica Bold.ttf');
    src: url('../fonts/Helvetica-Bold.otf');
}
@font-face {
    font-family: 'Helvetica-BoldOblique';

    src: url('../fonts/Helvetica-BoldOblique.otf');
}
@font-face {
    font-family: 'Helvetica-Light-Light-Italic';
    src: url('../fonts/Helvetica-Light-Light-Italic.ttf');
}
@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/Helvetica-Light.otf');
}

@font-face {
    font-family: 'Helvetica-LightOblique';
    src: url('../fonts/Helvetica-LightOblique.otf');
} 
@font-face {
    font-family: 'Helvetica-LTBlack';
    src: url('../fonts/Helvetica LT Black.ttf');
} 



a{
    border: 0;
    text-decoration: none;
}


.base{

    backorground-color:#fff;	;
    max-width:1025px;
    margin:0 auto;
    max-width:970px;
 
}


.logoDefault{
    text-transform:uppercase;
    color:#444D54;
    font-size: 9px;
}
.NumeroIncubados{

    text-transform:uppercase;
    float: right; 
    display: inline-flex;
    margin-top: 40px;
   
}

.NumeroIncubados .ladoEsquerdo{

    color:#ff4443;
    font-size:24px;
    float: left;
    line-height: 100%;

}
.NumeroIncubados div.ladoEsquerdo img{
    
    margin:-2px 0;
    
}

.NumeroIncubados .ladoDireito .valor{
    
    color:#ff4443;
    font-size:70px;
    font-weight:bold;
    float: left;
    font-family: HelveticaBold;
    
    
}
.NumeroIncubados .ladoDireito .texto{

    font-size: 13px;
    margin-top: 0;
    line-height: 420%;
}
.NumeroIncubados .ladoDireito  a{

      color:#ff4443;
}

  


.topInfo {

    max-height: 970px;
}

.topInfo .span4{

    float: right;
}

.topInfo div.row div.span6{
    
    margin:0; 
}

.topInfo .row{
    
    max-width: 970px; 
    margin: 0 auto;
    margin-left: 0px;
}

.topInfo .span6{
    max-width: 350px;
    float: left;

}
   
.infoBase{

    position:absolute;
    height:auto;
    color:#fff;
    bottom:290px;
    margin-left:50px;

}



.infoBase .tituloBase{

    font-family: HelveticaBold;
    font-size: 40px;
    max-width: 544px;
    line-height:115%;
    text-transform: uppercase;
    max-height: 300px;

}
.infoBase .textoBase{

    font-family: Helvetica-Light;
    font-size: 30px;
    line-height:130%;
    max-width: 568px;
    height: 282px;

}





/********************************** Destaques ********************************************************/
.BaseDestaques {

    margin: 0 auto;
    background-color:#fff;
    position:relative;

}

.BaseDestaques .imagemFundo {

    position:relative;
   

}

div.BaseDestaques div.imagemFundo img{
    
    width:970px;
    height:760px;    
}



.destaques {

    position:absolute;
    max-width:923px;
    height:auto;
    color:#fff;
    bottom:70px;
    margin-left:20px;
    display:inline-block;
}

.destaques a{
    
    color:#fff;
}
.destaques .row{

    margin:0 auto;
    width:923px;
}

.destaques .row .span4{

    display:inline-block;
    margin:0;
    max-width:307px;
    height:177px;
} 


.destaques1{

    width:307px;
    background-color:#7ba0ab;
    height:177px;
}

.destaques2 {

    font-family: HelveticaBold;
    width:307px;
    height:177px;
    background-color:#7ba0ab;
    position:relative;
    font-weight: bold; 
}

.destaques3 {

    width:307px;
    background-color:#ff4443;
    height:177px;
}

.destaques .titulo{


    font-family: HelveticaBold;
    text-transform:uppercase;
    font-size:30px;
    color:#fff;

    line-height:100%;
    max-width: 246px;

}

.destaques .texto{

    font-family: Helvetica-Light;
    font-size:14px;
    line-height:130%;
    margin-top: 5px;

}

.destaques .info{

    padding-top:15px;
    padding-left:20px;
    padding-right:15px;
    padding-bottom:30px;

}

.base div.BaseDestaques div.destaques div.row_top img{
    margin: 0 0 0 222px;
}
.base div.BaseDestaques div.destaques div.row_bottom img{
    margin: 0 50px 0 0;
}


.destaques2 img{

    height:177px;
    width:307px;


}
.destaques .botao{


    font-size:20px;
    font-family: helvetica;
    text-transform:uppercase;
    background-color:#0e5ea4;
    position:absolute;
    bottom:30px;
    width:280px;
    padding:5px;

}

.imagemDestaques{
    z-index:-1;

}


/************************************************ Setor 2***********************************************/

.empresa{

    height:auto;
    width:296px;
    color:#eee331;
    margin: 0 auto;
    position:relative;
    margin-bottom:10px;
    margin-right:50px;

}

.nome_empresa{

    background-color: #0063A7;
    bottom: 25px;
    color: #FFFFFF;
    font-family: HelveticaBold;
    padding: 6px;
    padding-top: 5px;
    position: absolute;
    text-transform: uppercase;
    width: 221px;
}

.setoresIncubacao{

   min-height: 287px;
}

.setoresIncubacao .titulo{

    color:#000;
    text-transform:uppercase;
    font-family:Helvetica-LTBlack ;
    font-size:38px;
    display:inline-block;
    line-height:90%;


}

.setoresIncubacao .texto{

    margin-top:10px; 
    color:#4c91c1;
    line-height:170%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.agenda{

    height:auto;
    color:#629fc9;
    display:inline-block;
 
}

.agenda .data{

    margin-top:4%;
    float:left;
    color:#000;
    font-weight:bold;
    max-width:33%;

}

.agenda .descricao{

    margin-top:4%;
    
    float:right;
    max-width:64%;
    color:#a39aa3;
    line-height: 137%;
    padding:0 0 0 10px;

}

.agenda .titulo{
    
    color:#000;
    text-transform:uppercase;
    font-family:HelveticaLT;
    font-size:38px;
    display:inline-block;
    font-weight: 100%;
    font-family: Helvetica-LTBlack;
}

.agenda .descricaoData{

    display:inline-block;
    height: auto;
    width: auto;
    margin: 1% 2%;
    font-size: 13px;
  
    
 
}


.plus_empresa{

    position:absolute;
    bottom:25px;
    margin-left: 235px;
}

.empresa .plus_empresa img{

    width:35px;
    height:31px;
}


.BaseSetores{


  height: 600px;
  width: 970px;
}


.BaseSetores .esquerdoSetores{
    float:left;
    max-width: 630px
}


 div.BaseSetores div.direitoSetores{
    float:right;
    margin: 0 -8px 0  0;
   max-width: 350px;
    
}

div.BaseSetores div.direitoSetores .agenda{
    
    bottom: 0px;
}
.empresa img{

    height:269px;
    width:296px;

}
/*******************************Incubadora**********************************/
.incubadora{

    height:493px;
    max-width:970px;


}
.BaseIncubadora{

    position: relative;
    max-height:493px;
    width: 970px;

}
.BaseIncubadora .imagemFundo {

   position: relative;
    max-height:493px;

}

.BaseIncubadora img{
position: relative;
    max-height:493px;
    width: 970px;
    max-width: auto;

}

.BaseIncubadora .incubadora_img{

    position: absolute;
    bottom:0;
    width:368px;
    height:493px;
    background-color:#0063a7;
    margin-left:560px;
    position: absolute;
    
}

.incubadora_img .titulo{

    margin: 30px 20px 0 20px;
    font-size:30px;
    font-family: Helvetica-Light;
    color:#fff;
    line-height: 130%;

}

.linha{
    
    height: 1px;
    width: 100%;
    color:#000;
    background-color:#000; 
    
}

.incubadora_img .texto{

    margin: 30px 20px 0 20px;
    font-size: 20px ;
    font-family:Helvetica-Light;
    color:#fff;
    line-height: 135%;

}


.incubadora_img .botao{

    margin:35px 0 0; 
    background-color:#000;
    color:#fff;
    max-width:205px;
    text-transform: uppercase;
    float:bottom;
    font-family: HelveticaBold;
    font-size: 17px;
    display: inline-flex;
}
.incubadora_img .botao .plus{

  
    font-family: HelveticaBold;
    font-size: 30px;
    padding: 5px 5px 8px;
    float: left;
}

.incubadora_img .botao .ver{
    
     padding: 8px 7px ;
     float: right;
    
}

/************************ Formacoes*****************/
.formacoes{

    height:600px;
    margin: 0 auto;
}


.tituloFormacoes{

    margin: 0 auto;
    color:#ff4443;
    padding: 40px 0 23px 25%; 
    font-family: HelveticaBold;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
}

.formacao_span{

    background-color:#000;
    height:414px;
    width:300px;
    margin:0;
}

.formacao_button{

     background-color: #ff4443;
    text-transform: uppercase;
    font-family: HelveticaBold;
    font-size: 18px;
    display:inline-flex;
    margin:40px 52px;
    min-height:35px

}

.formacao_button .plus{

  
    font-family: HelveticaBold;
    font-size: 34px;
    margin:6px 0 0 7px;
    color:#fff;
    float: left;
}
.formacao_button .text{

  
    font-family: HelveticaBold;
    font-size: 18px;
    margin:8px 10px 9px 10px;
    color:#fff;
    float: right;
   
}


.formacoes div.row div.span3{
    
 width:300px;
 padding: 0 5px 0 10px;
    
}

div.formacoes div.row{
    margin: 0px -48px;
 
}

.formacoes div.row div.span3 img{
    
  width: 300px;
  height: 414px;
}

/********************** Atividades ***************************************/

.atividades{
    
    background-color:#e5e5e5;
    height:483px;
    max-width:970px;
    position: relative;
}

.atividade{

    width:353px;
    height:483px;
    position: absolute;
    background-color:#000;
    margin-left: 500px;
  
}

.atividades div.ladoEsquerdo div.span4{
    
    margin: 0 0 0 50px;
    max-height: 483px;
    max-width: 370px;
    
}

.atividades .ladoEsquerdo{
     position: absolute;
    float:left;
}

.atividade img{

    width:353px;
    height:483px;
}


.atividades .titulo{
    
  
    text-transform:uppercase;
    color: #000000;
    font-family: helvetica-LTBlack;
    font-size: 25px;
    padding-top: 47px;
    text-transform: uppercase;
}

.atividades .subtitulo{ 
 
 
    color: #000000;
    font-family: Helvetica-Light;
    font-size: 24px;
    line-height: 129%;
    padding-top: 20px;
    font-size: 27px;
    padding-top: 10px;

}

.atividades .texto{


    font-family: Helvetica-Light;
     font-family: Helvetica-Light;
    font-size: 22px;
    line-height: 117%;
    color:#000;
    margin:0 0 25px;
}


.atividades .botao{

 
    color:#fff;
    text-transform:uppercase;
    font-weight:bold;
    max-width: 160px;
    margin: 40px 40px 0 0px;

    font-size: 18px;
    display: inline;
    height: auto;
   
}

.atividades .botao .plus{

    background-color: #000000;
    float: left;
    font-family: HelveticaBold;
    font-size: 33px;
    padding: 1px 9px 8px 7px;
    
}

.atividades .botao .text{

    font-size: 18px;
    background-color: #000000;
    padding: 5px;
   
}


/****************************Footer**********************/
.footerIEM{

    background-color:#444D54;
    height:184px;
    color:#fff;
    text-transform:uppercase;
    width:970px;
    font-weight:bold;
    float: left;

}
.footerIEM .row{

    width:970px;

}

.footerIEM p{
    font-size:8px;
}

.footerIEM nav ul{
    background-color:#444D54;
    width:200px;
    margin-top:0;

}
.footerIEM nav li{

    padding-bottom:10px;


}

.footerIEM nav li a {

    color:#fff;


}
.footerIEM .row{

    padding-top:43px;
    padding-bottom:50px;
    padding-left:50px;
}

.footerIEM img {

    height:82px;
    width:386px;


}

.topInfo div.menuDefaultIEM nav ul li form#search input.pesquisa_imput{
     background: #000;
     width: 100px;
    /* position: absolute;*/
     left: 0;
     display: none;
     margin: 0;
    
 }


/* menuIEM */
.menuIEM:before,
.menuIEM:after {
    content: " ";
    display: table;
}
.menuIEM:after {
    clear: both;
}
.menuIEM {
    *zoom: 1;
    display: none;
    width: 970px;
    position: fixed;
    top: 0;
    z-index: 9999;
}


.menuIEM nav {
    /*height: 50px;  */
    width: 100%;  
    font-weight: bold;  
    position: relative;  
    background: transparent;
    border-bottom: 2px solid transparent; 
    font-size:14px;
    font-family: Helvetica;

}
.menuIEM nav ul {
    
    padding: 0;
    margin: 0 auto; 
    width: 100%;
    /*height: 50px;  */
    float: left;
    display: block;
    background: #444d54;   
}

.menuIEM nav li {

    display: inline;
    float: left;
    padding: 14px 10px 14px 12px;;
    min-width: 65px;
    
}



.menuIEM nav .first{

    height: 50px;  
    font-weight: bold;  
    position: relative;  
    background-color:transparent;
}


.menuIEM nav ul .first{

    background-color:transparent;
    padding:0px;
  
}
.menuIEM nav li .first {

    background-color:transparent;
    max-width: 133px;
    height: 50px;

}

div.container div.base div.menuIEM nav ul li.pesquisa{

     background: #444d54; 
     min-width:100px;
     padding-bottom:  13px;
    
}




.menuIEM nav li a {
   
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-transform:uppercase;
    color:#fff;
}

.menuIEM nav li:last-child a {
    border-right: 0;
}
.menuIEM nav a:hover, nav a:active {

    color:#000;
       background: #444d54;  
}

.menuIEM nav a#pull {
    display: none;
}




/* menuDefaultIEM */
.menuDefaultIEM:before,
.menuDefaultIEM:after {
    content: " ";
    display: table;
}
.menuDefaultIEM:after {
    clear: both;
}
.menuDefaultIEM {
    *zoom: 1;
}


.menuDefaultIEM nav {

    height: 40px;  
    width: 100%;  
    background:#fff ;  
    font-size: 14pt;  

    font-weight: bold;  
    position: relative;  
    border-bottom: 2px solid #fff;  

}
.menuDefaultIEM nav ul {
    padding: 0;
    margin: 0 auto; 
    width: 100%;
    height: 40px;  

}

.menuDefaultIEM nav li {
    
    display: inline;
    float: left;
    padding:12px 0 10px 15px;
}



.menuDefaultIEM nav a {
    color: #444d54;
    display:inline;
    text-align: center;
    text-decoration: none; 
    text-transform:uppercase;
    font-family: helvetica;
    font-size:14px;

}
.menuDefaultIEM nav li a {

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.menuDefaultIEM nav li:last-child a {
    border-right: 0;
}
.menuDefaultIEM nav a:hover, nav a:active {
    background-color: #fff;
    color:#444d54;
}
.menuDefaultIEM nav a#pull {
    display: none;
}

div.container div.base div.topInfo div.menuDefaultIEM nav ul li#contatos{
    
    float:right;
    
}


.menuDefaultIEM nav ul .first{

    background-color:transparent;
    padding:0px;
    padding-right:10px;
    padding-top:13px;
   

}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
    
    div.container div.base div.topInfo div.menuDefaultIEM nav ul li#contatos{
    
    float:left;
    
}

    .menuDefaultIEM  nav { 
        height: auto;
    }
    .menuDefaultIEM nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    .menuDefaultIEM nav li {
        width: 44%;
        float: left;
        position: relative;
    }
    .menuDefaultIEM nav li a {

    }
    .menuDefaultIEM  	nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    .menuIEM nav { 
        height: auto;
    }
    .menuIEM nav ul {
        width: 100%;
        display: block;
        height: auto;

    }
    .menuIEM nav li {
        width: 44%;
        float: left;
        position: relative;
    }
    .menuIEM nav li a {

    }

    .menuIEM  	nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    .menuDefaultIEM nav ul .first{

    background-color:transparent;
     padding: 12px 0 10px 15px;
   

}
}


.menuDefaultIEM nav .first{

    font-weight: bold;  
    position: relative;  
    background-color:transparent;
}



.menuDefaultIEM nav li .first {
    padding-right:10px;

    padding-top:13px;
    background-color:transparent;

}

/*Styles for screen 515px and lower*/
/*@media only screen and (max-width : 480px) {
    .menuDefaultIEM 	nav {
        border-bottom: 0;
    }
    .menuDefaultIEM nav ul {
        display: none;
        height: auto;
    }
    .menuDefaultIEM nav a#pull {
        display: block;
        background-color: #444d54;
        width: 100%;
        position: relative;
    }
    .menuDefaultIEM nav a#pull:after {
        content:"";
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .menuIEM 	nav {
        border-bottom: 0;
    }
    .menuIEM nav ul {
        display: none;
        height: auto;
    }
    .menuIEM nav a#pull {
        display: block;
        background-color: #444d54;
        width: 100%;
        position: relative;
    }
    .menuIEM nav a#pull:after {
        content:"";
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}*/

/*Smartphone*/
@media only screen and (max-width : 320px) {
    .menuDefaultIEM nav li {
        display: block;
        float: none;
        width: 100%;
    }
    .menuDefaultIEM nav li a {
        border-bottom: 1px solid #444d54;
    }

    .menuIEM nav li {
        display: block;
        float: none;
        width: 100%;
    }
    .menuIEM nav li a {
        border-bottom: 1px solid #444d54;
    }

   
}

.secondFooter {
    width: 100%;
    color:#444d54;
    margin:36px 0 30px 23px;
    font-size: 18px;
    font-family: Helvetica-Light;
    float: left;
}

.secondFooter b{
     font-family: Helvetica-Bold;
    
}
.secondFooter .sigaBase{
    
    display:inline-flex;
}

.secondFooter .sigaBase .siga{
    
    font-family: Helvetica-LTBlack;
    font-size: 28px;
    text-transform: uppercase;
    padding: 10px 0;
  
    width: 200px;
}

.secondFooter .sigaBase .imagem1 img{
    
   

}

 div.secondFooter div.row div.span3 div.sigaBase div.imagem2 img{
    
     
     
    
}

.secondFooter div.row div.span3 div.sigaBase div.imagem1 img{
        margin: 0 0 0 10px;
    width: 47px;
    height:47px;
}

.secondFooter div.row div.span3 div.sigaBase div.imagem2 img{
     margin: 0 0 0 13px;
    width: 47px;
    height:47px;
}

div.secondFooter div.row div.span6{
    
    float:right;
    margin: 0 10px 0 0;
    max-width: 405px;
}



/************* INCUBADORA PAGE**********************/
.incubadoraBasePageTop{
    
    position: relative;
}

.incubadoraBasePage div.incubadoraBasePageTop div.imagemIncubadora img  { 
    max-height: 500px;
    width: 100%;
    
}
.incubadoraBasePageTop .row_top{
    
      position: absolute;
      bottom:0;
      margin: 0 100px;
      
  
}
.incubadoraBasePage .textoIncubadora{

     background-color: #7BA0AB;
    height: 100%;
    padding: 4% 0;
    width: 100%;
    

}

.incubadoraBasePage .textoIncubadora .tituloConteudoIncubadora{
    
    font-family: Helvetica-LTBlack;
    font-size: 50px;
    color:#fff;
    text-transform: uppercase;
     line-height: 100%;
    
}


.incubadoraBasePage .textoIncubadora .textoConteudoIncubadora{
    
    font-family: Helvetica-Light;
    font-size: 16px;
    color:#fff;
    text-transform: uppercase;
    line-height: 130%;
    margin: 20px 0;
    
}

.setoresIncubacao_Incubadora{

    min-width: 300px;
   

}

.setoresIncubacao_Incubadora .titulo{

    color:#000;
    text-transform:uppercase;
    font-family:Helvetica-LTBlack ;
    font-size:38px;
    display:inline-block;
    line-height:90%;


}

.setoresIncubacao_Incubadora .texto{

    margin-top:10px; 
    line-height:170%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#000;
}

.setoresIncubacao_Incubadora .texto a{
    
      color:#000;
    
}
.agendaIncubadora{
    
    
    height:auto;
    color:#629fc9;
    position:absolute;
    display:inline-block;
    margin-top: 45px;
    max-width: 300px;
   
}

.agendaIncubadora .data{

    margin-top:10px;
    float:left;
    color:#000;
    font-weight:bold;
    max-width:100px;

}

.agendaIncubadora .descricao{

    color: #000000;
    float: right;
    line-height: 137%;
    margin-top: 4%;
    max-width: 60%;
    padding: 0 0 0 2%;

}

.agendaIncubadora .titulo{
    
    color: #000000;
    float: left;
    font-weight: bold;
    margin-top: 4%;
    max-width: 30%;
     font-family: Helvetica-LTBlack;
    font-size: 38px;
    text-transform: uppercase;
}

.agendaIncubadora .descricaoData{

    display:inline-block;
    height: auto;
    width: auto;
    margin: 3px 0;
    font-size: 13px;
   
}

.galeriaPage{
    
   
}
.galeriaPage .titulo{
    
    font-family: Helvetica-LTBlack;
    font-size: 22px;
    margin: 0 0 10px 0;
    
}


/***************Incubados**********/

.empresasIncubadas .titulo{
    
    font-family: Helvetica-Bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #000;
    margin: 20px 0;
     
}


.empresasIncubadas .texto{
    
    font-family: Helvetica-Light;
    font-size: 26px;
    color: #444d54;
    margin: 20px 0;
    line-height: 110%;

}

.empresasIncubadas{
    
    max-width: 60%;
    float:left;
    
    
}

.empresasIncubadas .empresas{
    
    display: inline-flex;
    padding:11px 0px;
    float: left;
}


.empresasIncubadas .empresas .nome{
    
    color:#0063a7;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    width: 20%;
    margin: 0;
    
}

.empresasIncubadas .empresas .setor{
    
    color:#444d54;
    font-size: 13px;
    text-transform: capitalize;
    width: 20%;
    margin: 0 31px;
  
}
.incubadosBasePage  div.direitoSetores{
    
    float:right;
    margin: 2% 0;
    max-width: 40%;
}

.empresasIncubadas .empresas .descricao{
    
    color:#444d54;
    font-size: 13px;
    margin: 0 0 0 -5px;
    width: 60%;
   
}

.ladoEsquerdoincubado{
    
    float:left;
}

.ladoDireitoincubado{
    
    float: right
    
}

.dadosIncubado {
    
    display: inline-flex;
    
}

.ladoEsquerdoincubado .setor{
    
    
    
}

.ladoEsquerdoincubado .produtos{
    
    
    
}

.ladoEsquerdoincubado .servicos{
    
    
    
}
.ladoEsquerdoincubado .website{
    
    
    
}

.ladoEsquerdoincubado .sobre{
    
    
    
}

.ladoEsquerdoincubado .imagens{
    
    
    
}

.ladoEsquerdoincubado .tituloSobreIncubado{
    
    
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

.galeria_incubadora{
    margin: 0;
    padding: 0;
    float: left;
    width: 980px;
}
.galeria_incubadora_ul{
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    float: left;
}

.galeria_incubadora_ul li{
    margin: 0 10px 10px 0;
    padding: 0;
    float: left;
    width: 235px;
    height: 150px;
    overflow: hidden;
}
.galeria_incubadora_ul li a img{

    max-width:none;
}

div.base div.menuIEM nav ul li#contatos{
    
    float: right;
}