
<h1><?= $this->conteudo->designacao ?></h1>


<?= $this->bodyContent($this->conteudo->texto) ?>

<?php if($this->conteudo->foto==''):?>
                        <img alt="" src="<?=$this->baseUrl()?>/uploads/images/conteudos/<?=$this->conteudo->foto?>">
<?php endif;?>