<div class="span9">

    <div class="widget">

        <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/conteudos.png"></i>
        pré-visualizar <?=($this->translate('_conteudo'))?>
        
        
    </h1>
        <div class="widget-content">
            <?php if($this->idiomasWebsite()):?>
                 <ul class="idiomas">
                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/<?=$this->action?>/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                    <?php endforeach; ?>
                </ul>
                <?php endif; ?>
            <?=$this->render('alert.phtml')?>
            
            <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                 
            <div class="tab-content" style="width: 84%">
                
                
                <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/css/pages/preview-cotesi.css"/>
                <script src="<?=$this->baseUrl()?>/js/jquery-1.7.2.min.js" type="text/javascript"></script>

                <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery-ui.min.js"></script>
                <script src="<?= $this->baseUrl() ?>/js/cufon-yui.js" type="text/javascript"></script> 
                <script src="<?= $this->baseUrl() ?>/js/fonts.js" type="text/javascript"></script>
                <script src="<?=$this->baseUrl()?>/js/funcoesJs.js" type="text/javascript"></script>

                <div id="detalhe-conteudo">
                    <div class="conteudo" style="">
                            
                            <div id="editContent">
                                
                                
                                <a style="margin-right: <?= (in_array($this->conteudo->tipo_id, array(9, 10, 11, 12)) ? '0px' : '49px' ) ?>;" id="editbutton" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'editar', 'id' => $this->id, 'tipo' => $this->conteudo->tipo_id)) ?>">Editar</a>
                            </div>
                        
                        <?php if(in_array($this->conteudo->tipo_id, array(9, 10, 11, 12))): ?>
                                    
                        <?php else: ?> 
                            <?php if($this->conteudo->foto):?>
                            <div class="imagem-detalhe-cs">
                                <img width="654" height="256" border="0" alt="" src="<?=$this->baseUrl()?>/uploads/images/conteudos/<?=$this->conteudo->foto?>">
                            </div>
                            <?php else: ?>
                            <div class="imagem-detalhe-cs">
                                <img data-src="<?=$this->baseUrl()?>/management/js/holder.js/654x256/text:sem imagem" alt="">
                            </div>
                            <?php endif; ?>
                        <?php endif; ?>

                            <h2 id="designacaoConteudo"><?=  ucfirst($this->translate('_conteudo'))?></h2>
                            <div class="barraSup">
                                <h3 id="tituloConteudo"><?=$this->conteudo->designacao?></h3>

                            </div>
                            <?php $dataFormatada = new Zend_Date(); ?>

                           <!-- <span class="data"><?=$dataFormatada->get(Zend_Date::WEEKDAY.", ".Zend_Date::DAY." ".Zend_Date::MONTH_NAME." ".Zend_Date::YEAR)?></span> -->


                            <div class="introducaoConteudo">
                            
                            </div>

                            <div class="descricaoConteudo">
                                <?=$this->bodyContent($this->conteudo->descricao)?>
                            </div>
                            
                            <?php if(count($this->ficheirosConteudo)): ?>
                            <div class="pricing-plans plans-4" style="float: left; width: 100%; clear: both;margin-top: 15px;">
                               
                                <?php foreach ($this->ficheirosConteudo as $key => $ficheiro) : ?> 
                                    <div id="ficheiro_<?= $ficheiro->id ?>" class="plan-container">
                                        <div class="plan">
                                            <a href="javascript:void()" class="thumbnail plain" style="cursor: text; text-align: center;height:140px;">
                                                <img border="0" width="131" height="151" src="<?= $this->baseUrl() ?>/uploads/images/conteudos-media/<?= $ficheiro->ficheiro ?>" alt="">
                                                <span><?= $ficheiro->posicao ?></span>
                                            </a>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                               
                            </div>
                            <?php endif; ?>

                        </div>
                    </div>
            </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->