<script src="<?=$this->baseUrl()?>/management/js/jquery-1.7.2.min.js"></script>
<script src="<?=$this->baseUrl()?>/management/js/jcrop.js"></script>
<link href="<?=$this->baseUrl()?>/management/css/jcrop.css" rel="stylesheet"> 


<style type="text/css">
    #editionArea{
        background: none repeat scroll 0 0 white;
        /*margin: 1.5em auto 2em;
        padding: 1em 2em 2em;*/
        text-align: left;
        height: <?=$this->height?>px;
        width: <?=$this->width?>px;
    }
    input[type="submit"]{
        background-color: #7F7F7F;
        border: 0 none;
        border-radius: 9px 9px 9px 9px;
        color: #FFFFFF;
        float: left;
        font-size: 12.025px;
        font-weight: bold;
        margin-bottom: 6px;
        padding: 5px 11px;
        text-align: center;
        width: 108px !important;
        cursor: pointer;
    }
</style>
<?php if($this->cropDone != true):?>
    <script type="text/javascript">

        jQuery(function($) {
    
            $('#target').Jcrop({
                bgColor:     '#7F7F7F',
                bgOpacity:   .4,
                onSelectChange: preview,
                maxSize:  [940, 440], 
                setSelect: [0, 0, 940, 440],  
                //setSelect: [0, 0, 470, 220],  
                
                onSelect: updateCoords
            }); 
            
            
        });            

        function updateCoords(c)
        {
            jQuery('#x').val(c.x);
            jQuery('#y').val(c.y);
            jQuery('#w').val(c.w);
            jQuery('#h').val(c.h);
        };
        
        function preview(img, selection) { 
            var scaleX = 100 / (selection.width || 1); 
            var scaleY = 100 / (selection.height || 1); 
            $('.article img').css({ 
                width: Math.round(scaleX * 940) + 'px', 
                height: Math.round(scaleY * 440) + 'px', 
                marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px', 
                marginTop: '-' + Math.round(scaleY * selection.y1) + 'px' 
            }); 
        } 

        function checkCoords(){
            
            //alert('X: '+ $('#x').val() + ' Y: ' + $('#y').val() + ' W: ' + $('#w').val() + ' H: ' + $('#h').val())
            if (parseInt(jQuery('#w').val())>0) return true;
            alert('Por favor selecione a area pretendida!');
            return false;
        };
    </script>
<?php endif; ?>
    <div id="editionArea">
            <div class="article">
                <?php if($this->height >= "440" && $this->width >= "940"):?>
                        <?php if($this->cropDone != true):?>
                            <img src="<?= $this->baseUrl() ?>/uploads/images/banners/<?=$this->imagem?>" id="target" alt="Image" <?=$this->dimensions?>/>
                            
                            <div class="jc_coords">
                                <form action="" method="post" onsubmit="return checkCoords();">
                                    <input type="hidden" id="x" name="x" />
                                    <input type="hidden" id="y" name="y" />
                                    <input type="hidden" id="w" name="w" />
                                    <input type="hidden" id="h" name="h" />
                                    <input type="submit" value="Cortar Imagem" style="width: 98px;" />
                                </form>
                            </div>
                        <?php else: ?>
                            <img src="<?= $this->baseUrl() ?>/uploads/images/banners/<?=$this->imagem?>" id="target" alt="Image" />
                        <?php endif; ?>
                <?php else: ?>
                    <p>
                        A imagem não possui as dimensões minimas para o corte. Para utilizar esta funcionalidade por favor
                        faça o upload de uma imagem com dimensões minimas de 940px x 440px.
                    </p>    
                <?php endif; ?>
            </div>

</div>