<div class="span9">

    <div class="widget">

        <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/conteudos.png"></i>
        <?=$this->translate('_editar')?>  <?=$this->translate('_conteudo')?>// <?=$this->tipoConteudo->designacao?>
    </h1>
       <?php echo $this->render('editorTexto.phtml');?>
        <div class="widget-content">
                <?php if($this->idiomasWebsite()):?>
                 <ul class="idiomas">
                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?> 
                            <?php if($this->main_id):?>
                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/<?=$this->action?>/main_id/<?=$this->conteudoIdioma($this->main_id, $idioma->idioma_iso)->main_id?>/idioma/<?=$idioma->idioma_iso?>/tipo/<?=$this->conteudoIdioma($this->main_id, $idioma->idioma_iso)->tipo_id?>" ><?=$idioma->idioma_iso?></a></li>
                            <?php else: ?>
                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/<?=$this->action?>/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                            <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
                <?php endif; ?>
                <?=$this->render('alert.phtml')?>
                <div class="backList" >
                    <a href="javascript:void(0);" onClick="location.href='<?= $this->baseUrl() ?>/<?=$this->module?>/<?=$this->controller?>'"><?=$this->translate('_voltar')?></a>
                </div>
                <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                <div class="tab-content" style="width: 100%">
                        
                            <fieldset>
                                
                                <div class="group-action" id="previewEdit">
                                    <a class="fancybox" href="#preV" ><span id="preview"><?=$this->translate('_preVisualizar')?></span></a>
                                </div>
                                <div id="preV" style="width:100%;display: none;">
                                        <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/css/pages/preview-mdresearch.css"/>
                                        
                                        <div id="detalhe-conteudo">
                                            <div class="conteudo" style="margin-left: 30px;">

                                                    <div class="imagem-detalhe-cs">
                                                        <img data-src="<?=$this->baseUrl()?>/management/js/holder.js/654x256" alt="">
                                                    </div>

                                                    <div class="barraSup">
                                                        <h3 id="tituloConteudo"> </h3>

                                                    </div>
                                                    <?php $dataFormatada = new Zend_Date(); ?>

                                                    <span class="data"><?=$dataFormatada->get(Zend_Date::WEEKDAY.", ".Zend_Date::DAY." ".Zend_Date::MONTH_NAME." ".Zend_Date::YEAR)?></span>

                                                    <div class="introducaoConteudo">
                            
                                                    </div>

                                                    <div class="descricaoConteudo">
                                                        
                                                    </div>
                                                    
                                                </div>
                                         </div>
                                </div>
                                
                              <br /><br />
                              
                              <div id="configuracoesIdioma" style="width: 79%; margin-left: 6%; margin-top: 4px;">
                                
                                <div class="fields-langs">
                                    
                                    <?php if($this->tipoConteudo->temImagemDestaque == 'N'): ?>
                                    <input type="hidden" id="foto" name="foto" value="" />
                                    <?php else: ?>
                                    <?php if($this->conteudo->foto): ?>
                                    <div class="control-group" id="imgAN" >	

                                        <img id="img_content" width="654" border="0" alt="" src="<?=$this->baseUrl()?>/uploads/images/conteudos/<?=$this->conteudo->foto?>">


                                        <input type="hidden" id="foto" name="foto" value="<?=$this->conteudo->foto?>" />
                                        <ul id="op-image">
                                            <li><a class="delete" href="javascript:void(0)" onClick="javascript:deleteImage();"><?=$this->translate('_apagarFoto')?></a></li>
                                        </ul>
                                    </div>
                                    <?php else: ?>
                                    <div class="control-group" id="imgAN" style="display: none;">	
                                            <img id="img_content" width="654" alt="" src="">
                                            <input type="hidden" id="foto" name="foto" value="" />
                                            <ul id="op-image">
                                                <li style="margin-left: 10px;"><a class="delete" href="javascript:void(0)" onClick="javascript:deleteImage();"><?=$this->translate('_apagarFoto')?></a></li>
                                            </ul>
                                    </div>
                                    <?php endif; ?>
                                    <div id='injection_site'></div>
                                    <div class="control-group" id="uploadImgAN" style="display: block;">
                                        <span><?=  ucfirst($this->translate('_imagem')) ?></span>
                                        <div id="ficheirosmedia"></div> 
                                        <ul id="separate-list"></ul>

                                        <div id="preview"></div>
                                    </div> 
                                    <script type="text/javascript">
                                        function createUploader(){  

                                            var uploader = new qq.FileUploader({
                                                element: document.getElementById('ficheirosmedia'),
                                                listElement: document.getElementById('separate-list'),
                                                action: window.location.protocol + "//" + window.location.host + window.location.pathname,
                                                debug: true,
                                                onComplete: function(id, fileName, responseJSON){
                                                    if(responseJSON.success == true){
                                                        $("#uploadImgAN").css('display', 'none');
                                                        $("#imgAN.control-group img").attr("src", "/uploads/images/conteudos/"+responseJSON.nameFile+"");
                                                        $("#foto").val(responseJSON.nameFile);
                                                        $("#imgAN").css('display', 'block');
                                                    }else{
                                                        bootbox.alert("Não foi possível carregar o ficheiro.");
                                                    }
                                                },
                                                template: '<div class="qq-uploader">' + 
                                                '<div class="qq-upload-drop-area"><span>Arraste ficheiros para carregá-los</span></div>' +
                                                '<div class="qq-upload-button">carregar imagem<br /> <?=($this->tipoConteudo->dimensoesImagemDestaque != NULL) ? 'dimensões aconselhadas '.$this->tipoConteudo->dimensoesImagemDestaque : ''?></div>' +
                                                
                                                '<ul class="qq-upload-list"></ul>' + 
                                                '</div>',
                                                showMessage: function(message){ 
                                                    bootbox.alert(message);
                                                }

                                            });           
                                        }
                                    </script>
                                    <?php endif; ?>
                                    
                                     <?=$this->gerarInputText('Título', 'designacao', $this->conteudo->designacao)?>
                                    
                                     <?= (($this->tipoConteudo->temDescricao == 'S') ? $this->gerarTextArea('Descrição', 'descricao', $this->conteudo->descricao, $this->tipoConteudo->temLerMais) : '' ) ?>
                                   
                                    <?php if (count($this->caracteristicas)>0): ?>
                                    
                                        <hr style="margin: 0;"/>
                                        <?php foreach($this->caracteristicas as $key => $caracteristica) : ?>
                                            
                                            <?php if ($caracteristica->referencia == 'conteudo'): ?>
                                        
                                                <?php foreach($this->conteudosTiposConteudos->getConteudosTiposConteudos($caracteristica->id) as $key => $registo) : ?>

                                                    <?php if ($registo->fieldtype == 'combobox'): ?>
                                                        <?php
                                                        $conteudos = new Model_DbTable_Conteudos();
                                                        if($registo->condicoes!=NULL){
                                                            $condicoes = explode("=", $registo->condicoes);

                                                            //($condicoes[i] % 2)
                                                            $select = $conteudos->select()->where($condicoes[0].' = ?', $condicoes[1])
                                                                ->where('tipo_id = ?', $registo->tipo_id);
                                                            $query = $conteudos->fetchAll($select);
                                                        }else{
                                                        $select = $conteudos->select()->where('tipo_id = ?', $registo->tipo_id);
                                                        $query = $conteudos->fetchAll($select); 
                                                        //encontrar 'caracteristicas_tiposconteudos' onde tipo_id == $registo->tipo_id  e referencia = html
                                                        $id_caracteristica = $this->caracteristicasTiposConteudos->idCaracteristicaTiposConteudosByTipoReferencia($registo->tipo_id, 'html');

                                                        //obter o registo 'caracteristicas_tiposconteudos' id                                           
                                                        //pesquisar em  `atributos_tiposconteudos` caracteristica_id == 'caracteristicas_tiposconteudos' id
                                                        //verificar se fieldtype == combobox
                                                        //apresentar valoresCampo
                                                        //echo 'tipo id '.$registo->tipo_id. ' id caract: '.$id_caracteristica;
                                                        
                                                        $valoresCampo = $id_caracteristica !=NULL ? $this->atributosTiposConteudos->valoresCampo($id_caracteristica) : NULL;
                                                        
                                                        }
                                                        ?>
                                                    <?php if ($valoresCampo!=NULL): ?>
                                                        <?php $valoresCombo = explode(',', $valoresCampo->valoresCampo);?>
                                                        <?=$this->gerarInputSelect($valoresCampo->labelSingular.' ', $valoresCampo->name, $valoresCombo, '', "atributosValor(".$valoresCampo->name.",'".$registo->name."')")?>
                                                        <?=$this->gerarInputSelectDinamico($registo->labelSingular.' ', $registo->name, '', $fields = array('id', 'designacao'), $this->valorAtributosReferenciaConteudoFK($caracteristica->id, $registo->tipo_id, $this->id))?> 
                                                        <?php else: ?>
                                                        
                                                        <?=$this->gerarInputSelectDinamico($registo->labelSingular.' ', $registo->name, $query, $fields = array('id', 'designacao'), $this->valorAtributosReferenciaConteudoFK($caracteristica->id, $registo->tipo_id, $this->id))?> 
                                                    <?php endif; ?>

                                                    <?php endif; ?>
                                                    <?php if ($registo->fieldtype == 'checkbox'): ?>

                                                    <?php endif; ?>



                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                            <?php if ($caracteristica->referencia == 'html'): ?>
                                                <?php foreach($this->atributosTiposConteudos->getAtributosTiposConteudos($caracteristica->id) as $key => $atributo) : ?>
                                                   
                                                        <?php if ($atributo->fieldtype == 'file' || $atributo->fieldtype == 'image'): ?>
                                                            <?=$this->gerarInputFile($atributo->labelSingular.' ', $atributo->name, $this->valorAtributosReferencia($atributo->id, $this->id))?>
                                                        <?php endif; ?>

                                                        <?php if ($atributo->fieldtype == 'text'): ?>
                                                            <?=$this->gerarInputText($atributo->labelSingular.' ', $atributo->name, $this->valorAtributosReferencia($atributo->id, $this->id))?>
                                                        <?php endif; ?>

                                                        <?php if ($atributo->fieldtype == 'textarea'): ?>
                                                            <?=$this->gerarTextArea($atributo->labelSingular.' ', $atributo->name, $this->valorAtributosReferencia($atributo->id, $this->id))?>
                                                        <?php endif; ?>

                                                        <?php if ($atributo->fieldtype == 'combobox'): ?>
                                                            <?php 
                                                                //$valoresCombo = preg_split("/[\s,]+/", $atributo->valoresCampo); 
                                                                $valoresCombo = explode(',', $atributo->valoresCampo);
                                                            ?>
                                                            <?=$this->gerarInputSelect($atributo->labelSingular.' ', $atributo->name, $valoresCombo, $this->valorAtributosReferencia($atributo->id, $this->id))?>
                                                        <?php endif; ?>

                                                        <?php if ($atributo->fieldtype == 'checkbox'): ?>

                                                        <?php endif; ?>
                                        
                                                        <?php if ($atributo->fieldtype == 'multiplefiles'): ?>
                                                        
                                                        <label class="control-label" style="clear: both;width: 100%;"><?=$atributo->labelPlural?></label>
                                                        <script type="text/javascript">

                                                                function createUploaderConteudo() {
                                                                    var uploaderconteudo = new qq.FileUploader({
                                                                        element: document.getElementById('ficheirosmediaconteudos'),
                                                                        listElement: document.getElementById('separate-list'),
                                                                        action: window.location.protocol + "//" + window.location.host + '/management/conteudos/adicionar-ficheiros',
                                                                        params: {
                                                                            atributo_id: <?=$atributo->id?>,
                                                                            accao: '<?=$this->action?>',
                                                                            conteudo_id: <?=$this->conteudo->id?>
                                                                        },
                                                                        debug: true,
                                                                        onComplete: function(id, fileName, responseJSON) {
                                                                            if (responseJSON.success == true) {
                                                                                
                                                                                $("#msg").removeClass("alert-error").addClass("alert-success");
                                                                                $("#msg i").html("Operação efectuada com <strong>sucesso!</strong> ");
                                                                                $("#msg").show().delay(4000).fadeOut();
                                                                                $("#allImages").append('<div class="plan-container" id="ficheiro_' + responseJSON.id + '"><div class="plan"><div class="delFile"><a href="javascript:void()" onclick="apagarFicheiro(\'' + responseJSON.nameFile + '\', \'' + responseJSON.token + '\', \'ficheiro_' + responseJSON.id + '\');"><img alt="" title="Apagar" src="<?= $this->baseUrl() ?>/management/img/delete.png" /></a></div><a style="text-align: center;height:140px;" class="thumbnail plain" href="javascript:void()"><img width="131" border="0" height="151" alt="" src="<?= $this->baseUrl() ?>/uploads/images/conteudos-media/' + responseJSON.nameFile + '"><span>' + responseJSON.posicao + '</span></a></div></div>');

                                                                                $(".plan-container .plan").hover(function() {
                                                                                    $(this).css("background", "#FCFFE2");
                                                                                    var delFile = $(this).children('.delFile');
                                                                                    delFile.show();
                                                                                }, function() {
                                                                                    $(this).css("background", "transparent");
                                                                                    var delFile = $(this).children('.delFile');
                                                                                    delFile.hide();
                                                                                });
                                                                                
                                                                                $("#allImages").sortable({
                                                                                    opacity: 0.7,
                                                                                    connectWith: ".plan-container",
                                                                                    stop: function(event, ui) {
                                                                                        result = "";
                                                                                        order = [];
                                                                                        $('.plan-container').each(function(i, elm) {

                                                                                            order.push(elm.id.split('_')[1]);
                                                                                            changeIdDiv(elm.id, i);
                                                                                        });

                                                                                        $.post(window.location.protocol + "//" + window.location.host + '/management/conteudos/ordenar-imagens',{'order[]': order}, 
                                                                                            function(data){   
                                                                                            });
                                                                                    }
                                                                                });

                                                                            } else {
                                                                                //bootbox.alert(responseJSON.error);
                                                                                $("#msg").removeClass("alert-success").addClass("alert-error");
                                                                                $("#msg i").html("Não foi possível carregar o ficheiro.");
                                                                                $("#msg").show().delay(4000).fadeOut();
                                                                            }
                                                                        },
                                                                        template: '<div class="qq-uploader">' +
                                                                                '<div class="qq-upload-drop-area"><span>Arraste ficheiros para carregá-los</span></div>' +
                                                                                '<div class="qq-upload-button" style="color: #FFF;">carregar imagens </div>' +
                                                                                '<ul class="qq-upload-list"></ul>' +
                                                                                '</div>',
                                                                        showMessage: function(message) {
                                                                            bootbox.alert(message);
                                                                        }

                                                                    });
                                                                }

                                                                function imagemNameWthExtByURL(url) {
                                                                    var tarr = url.split('/');
                                                                    var file = tarr[tarr.length - 1];
                                                                    var data = file.split('.')[0];
                                                                    return data;
                                                                }

                                                            </script>

                                                            <style type="text/css">
                                                                .qq-upload-button{
                                                                    height: 24px;
                                                                    padding: 3px 0;
                                                                    width: 650px;
                                                                }
                                                                .qq-upload-drop-area{
                                                                    left: 3px;
                                                                    padding: 204px 0 0;
                                                                    top: 51px;
                                                                    width: 95%;
                                                                }
                                                                ul.qq-upload-list li.qq-upload-fail span.qq-upload-failed-text{
                                                                    display: none!important;
                                                                }
                                                            </style>


                                                            <div id='injection_siteconteudos'></div>
                                                            <div class="control-group" id="uploadImgANconteudos" style="display: block;clear: both; margin-top: 15px;color: #FFFFFF;">
                                                                <div id="ficheirosmediaconteudos" style="background: none repeat scroll 0 0 #7F7F7F;height: 34px;width: 654px;"></div> 
                                                            </div> 

                                                            <div id="msg" class="alert" style="padding: 4px 28px 4px 17px; float: left; width: 90%;margin: 0;display: none;">  
                                                                <a class="close" data-dismiss="alert">×</a>  
                                                                <i></i>  
                                                            </div>

                                                            <div class="alert category" style="padding: 4px 28px 4px 17px; float: left; width: 90%;display: none;">
                                                                <i></i>
                                                            </div>


                                                            <div class="pricing-plans plans-4" id="allImages" style="float: left; width: 100%; clear: both;margin-top: 15px;">

                                                                <?php foreach ($this->ficheirosConteudo as $key => $ficheiro) : ?> 
                                                                    <div id="ficheiro_<?= $ficheiro->id ?>" class="plan-container">
                                                                        <div class="plan">
                                                                            <div class="delFile" style="display: none;">
                                                                                <a onclick="apagarFicheiro('<?= $ficheiro->ficheiro ?>', '<?= $ficheiro->token ?>', 'ficheiro_<?= $ficheiro->id ?>');" href="javascript:void()">
                                                                                    <img src="<?= $this->baseUrl() ?>/management/img/delete.png" title="Apagar" alt="">
                                                                                </a>
                                                                            </div>
                                                                            <a href="javascript:void()" class="thumbnail plain" style="text-align: center;height:140px;">
                                                                                <img border="0" width="131" height="151" src="<?= $this->baseUrl() ?>/uploads/images/conteudos-media/<?= $ficheiro->ficheiro ?>" alt="">
                                                                                <span><?= $ficheiro->posicao ?></span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                <?php endforeach; ?>
                                                            </div>
                                                        <?php endif; /*fim multifiles*/ ?>

                                                <?php endforeach; ?>
                                            <?php endif; ?>

                                        <?php endforeach; ?>
                                    
                                    <?php endif; ?>
                                    
                                    
                                    
                                     <div class="control-group" style="margin-top: 12px; clear: both;">											
                                        <div class="estado">
                                            <div class="labelEstado"><?=$this->translate('_estadoActivo')?> </div> 
                                            
                                             <input type="checkbox" <?=(in_array($this->conteudo->estado, array('P')) ? 'checked=""' : '' )?> value="<?=$this->conteudo->estado?>" name="estado" id="estado"> 
                                        </div>
                                        <div class="desc"><?=(in_array($this->conteudo->estado, array('P')) ? 'ON' : 'OFF' )?></div>
                                    </div>   
                                     
                                        
                                        <div id="datas-publicacao" <?=(in_array($this->conteudo->estado, array('P')) ? 'style="display: block;"' : '' )?>>
                                            <div id="tri"></div>
                                            <div id="datas">
                                                <div class="control-group" style="padding-bottom: 6px;padding-left: 5px;">											
                                                    <label class="control-label" style="clear: both;width: 100%;">Data de publicação</label>
                                                    <div class="controls" style="float: left;">
                                                        <input type="text" name="inicioPublicacao" id="inicioPublicacao" placeholder="Data de início" readonly="" value="<?=$this->conteudo->inicioPublicacao?>" />
                                                    </div>    
                                                    <span id="at">a</span>
                                                    <div class="controls" style="float: left;margin-left: 1px;">
                                                        <input type="text" name="fimPublicacao" id="fimPublicacao" placeholder="Data de fim" readonly="" value="<?=($this->conteudo->fimPublicacao != '0000-00-00 00:00:00') ? $this->conteudo->fimPublicacao : ''?>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                </div>
                            </div>
                              
                            
                                
                              <div class="control-group" id="actionsForm" style="margin-right: 122px;width: 79%;"> 
                                    
                                   <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?= ucfirst($this->translate('_concluir')) ?>" />
                                    <?php if($this->tipoConteudo->podeApagarConteudos == 'N' || $this->conteudo->estado=='I'): ?>
                                   <input style="cursor: pointer;" type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>'; }});" id="resetbutton" value="<?=$this->translate('_sair')?>" />
                                   <?php else:?>
                                        <input type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$this->conteudo->id?>'; }});" id="resetbutton" value="<?=$this->translate('_remover')?>" />			
                                    <?php endif; ?>
                                </div>
                              
                            </fieldset>
                        

                    <div class="tab-pane" id="tab2" style="min-height: 600px;">
                        teste
                    </div>
                </div>
            </form>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->