
<div class="span9">
    <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/conteudos.png"></i>
        <?=  ucfirst($this->translate('_conteudo'))?>s
    </h1>


        
    <div class="widget">
        
        <div class="widget-content">
            
            <?php if($this->idiomasWebsite()):?>
            <ul class="idiomas">
                <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                        <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/conteudos/index/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                <?php endforeach; ?>
            </ul>
            <?php endif; ?>
            <?=$this->render('alert.phtml')?>
            <div class="row-fluid">
                
                <div class="span12" id="contentsSite">
                    
                    <div id="containerAN"> 
                        <div id="loading" style="top: 15%;">
                            <img src="<?= $this->baseUrl() ?>/management/img/loading.gif" width="53" height="53" /> <p>A carregar... </p>
                        </div>
                        <div id="rightSide" style="top: 15%;">
                            
                        </div>
                        
                        <div id="leftSide">
                            <h4>Seleccione o tipo de conteúdo:</h4>
                            <ul id="main-contentIdiomas-nav" class="nav nav-tabs nav-stacked">

                                <?php foreach($this->registos as $key => $registo) : ?>
                                <li class="areaNegocio" id="tipo_<?=$registo->id?>">
                                    <a href="javascript:void(0);">
                                        <table style="width:100%;border-collapse:collapse;">
                                            <tr>
                                                <td style="width: 69%;padding: 2% 0 2% 4%;" onClick="javascript:obterConteudos('<?=$registo->id?>','<?=$this->idioma?>', 1);"><div class="name" style="text-transform: uppercase;"><?=$registo->designacao?></div></td>
                                                <td style="width: 10%;"><button class="btn addNew" type="button" onClick="location.href='<?= $this->baseUrl() ?>/<?=$this->module?>/<?=$this->controller?>/adicionar/tipo/<?=$registo->id?>/idioma/<?=$this->idioma?>'"><?=ucfirst($this->translate('_adicionar'))?></button></td>
                                            </tr>
                                        </table>
                                    </a>
                                </li>
                                <?php endforeach; ?>
                                
                                
                                

                            </ul>
                        </div>


                    </div>
            </div>
        </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->