<?php if (count($this->conteudos)): ?>
    <h4><?=$this->translate('_seleccioneConteudo')?>:</h4> 
    <a href="javascript:void(0);" class="closeItens"><?=  ucfirst($this->translate('_fechar'))?></a>


    <ul id="sub-categories-nav" class="nav <?=$this->tipo_id?> nav-tabs nav-stacked">

        <?php foreach($this->conteudos as $key => $conteudo) : ?>
            <li id="conteudo_<?=$conteudo->id?>" >
                
                
                
                <a href="<?= $this->baseUrl() ?>/<?=$this->module?>/<?=$this->controller?>/detalhe/main_id/<?= $conteudo->main_id ?>/idioma/<?= $conteudo->idioma_iso ?>/tipo/<?= $conteudo->tipo_id ?>"><?=$conteudo->designacao?>
                </a> 
                <div class="content-langs">
                    
                    <?php foreach($this->outrosIdiomas($conteudo->idioma_iso) as $key => $idioma) : ?>                                                                                                                                                            
                        <a href="<?=($this->conteudoIdioma($conteudo->main_id , $idioma->idioma_iso)->estado!=NULL && $this->conteudoIdioma($conteudo->main_id , $idioma->idioma_iso)->estado != 'I') ? $this->baseUrl().'/'.$this->module.'/'.$this->controller.'/detalhe/main_id/'.$conteudo->main_id.'/idioma/'.$idioma->idioma_iso.'/tipo/'.$this->conteudoIdioma($conteudo->main_id , $idioma->idioma_iso)->tipo_id : $this->baseUrl().'/'.$this->module.'/'.$this->controller.'/editar/main_id/'.$conteudo->main_id.'/idioma/'.$idioma->idioma_iso.'/tipo/'.$this->conteudoIdioma($conteudo->main_id , $idioma->idioma_iso)->tipo_id?>"><span class="label <?=($this->conteudoIdioma($conteudo->main_id , $idioma->idioma_iso)->estado!=NULL && $this->conteudoIdioma($conteudo->main_id , $idioma->idioma_iso)->estado != 'I') ? 'label-success' : ''?>"><?=$idioma->idioma_iso?></span></a>
                    <?php endforeach; ?>
                    
                </div>
                
            </li> 


        <?php endforeach; ?>
    </ul>
        <?php if (count($this->nItens)>10): ?>
        <?=$this->paginationControl($this->conteudos, 'Elastic', 'pagination_control.phtml', array('tipo' => $this->tipo_id, 'idioma' => $this->idioma)); ?>
        <?php endif; ?>
    <br />

<?php else: ?>
    <h5><?=$this->translate('_semRegistos')?></h5>
<?php endif; ?>
<script type="text/javascript">
    $(function(){
        $('#loading').css('display', 'none');
    });
</script>