
<div class="tabbable"> 
    <ul class="nav nav-tabs">
        <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?> 
            <li <?=(($key == 0) ? 'class="active"' : '' )?>><a href="#<?=$idioma->idioma_iso?>" data-toggle="tab"><?=$idioma->idioma_iso?></a></li>
        <?php endforeach; ?>
    </ul>
    
    <div class="tab-content">
        <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?> 
        <div class="tab-pane <?=(($key == 0) ? 'active' : '' )?>" id="<?=$idioma->idioma_iso?>">
            <div class="pricing-plans plans-4">
            <?php foreach($this->registos as $key => $produto) : ?>
                <?php if($idioma->idioma_iso == $produto->idioma_iso):?>
                        <div class="plan-container">
                            <span class="status">estado: <b><?=(($produto->estado == 'A') ? 'activo' : 'inactivo' )?></b></span>
                            <div class="plan">	
                            <a style="text-align: center;" class="thumbnail plain" href="<?= $this->baseUrl() ?>/<?=$this->module?>/<?=$this->controller?>/detalhe/id/<?= $produto->id ?>">
                            <img width="131" border="0" height="151" title="<?=$produto->designacao?>" alt="<?=$produto->designacao?>" src="<?= $this->baseUrl() ?>/uploads/images/produtos/<?=$produto->imagem?>">
                                    <div class="plan-actions">				
                                            <?=$produto->designacao?>		
                                    </div> 
                            </a>
                            </div> 
                        </div> 
            
                <?php endif; ?>
            <?php endforeach; ?>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    
</div>



<!--    <div class="tabbable"> 
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
            <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <p>I'm in Section 1.</p>
            </div>
            <div class="tab-pane" id="tab2">
                <p>Howdy, I'm in Section 2.</p>
            </div>
        </div>
    </div>
 -->



