<meta http-equiv="X-UA-Compatible" content="IE=8" />
<link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/css/pages/preview-mdresearch.css"/>

<div id="detalhe-conteudo">
        <div class="conteudo">
            <div class="imagem-detalhe-cs">
                <img width="654" height="256" border="0" alt="" src="<?=$this->baseUrl()?><?=$this->imagem?>">
            </div>

            <h2 id="designacaoConteudo">Conteúdo</h2>
            <div class="barraSup">
                <h3 id="tituloConteudo"><?=$this->designacao?></h3>

            </div>
            <?php $dataFormatada = new Zend_Date(); ?>
            
            <span class="data"><?=$dataFormatada->get(Zend_Date::WEEKDAY.", ".Zend_Date::DAY." ".Zend_Date::MONTH_NAME." ".Zend_Date::YEAR)?></span>
            
            
            <div class="introducaoConteudo">
               <?=strip_tags($this->leadContent($this->texto, 150, '...'))?>
            </div>

            <div class="descricaoConteudo">
                 <?=$this->bodyContent($this->texto)?>
            </div>
            
        </div>
     </div>


