<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/categorias.png"></i>
            Adicionar novo registo
        </h1>
       
        <div class="widget-content">
                 
                 <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <div class="tab-content">
                    
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>
                                
                                <div class="group-name">
                                    caracteristicas tipos de conteúdo
                                </div>
                                <div class="group-action">
                                    
                                </div>
                              
                                
                              <br /><br />
                              
                            <div id="configuracoesIdioma">
                            <?php if($this->idiomasWebsite()):?>
                            <ul class="langs">
                                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'adicionar', 'idioma' => $idioma->idioma_iso, 'sharedKey' => $this->sharedKey)) ?>" ><?=$idioma->idioma_iso?></a></li>
                                    <?php endforeach; ?>
                                
                                
                                <div class="fields-langs">
                                                    
                                    <?=$this->gerarInputSelectDinamico('Tipo ', 'tipo_id', $this->tiposConteudos, $fields = array('id', 'designacao'), '')?>
                                    
                                    <?=$this->gerarInputText('Característica ', 'designacao', '')?> 
                                    
                                    <?=$this->gerarInputSelectKey('Referência', 'referencia', $valores = array(
                                            'html'=>'Elementos HTML', 'conteudo'=>'Conteúdo referência'), '')?>
                                    
                                </div>
                            </ul>
                            
                            <?php endif; ?>
                            </div>
                              
                              
                              
                                
                              <div id="rightForm">
                                  <div id="waiting" style="display: none;background: #FFF;color: #555555;">
                                      <p style="margin-left: 31%;">A enviar... por favor aguarde.</p>

                                        <img src="<?=$this->baseUrl()?>/management/img/loading.gif" alt="Por favor aguarde....">   
                                    </div>
                                  <div id="registos">
                                      
                                  </div>
                                  
                                </div>
                              
                                
                              <div class="control-group" id="actionsForm">
                                    
                                  <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?= ucfirst($this->translate('_adicionar')) ?>" />
                                  <input style="cursor: pointer;" type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>'; }});" id="resetbutton" value="<?=$this->translate('_sair')?>" />			
                                </div>
                            </fieldset>
                        </form>
                </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->