<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/categorias.png"></i>
            Adicionar novo registo
        </h1>
       
        <div class="widget-content">
                 
                 <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <div class="tab-content">
                    
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>
                                
                                <div class="group-name">
                                    caracteristicas tipos de conteúdo
                                </div>
                                <div class="group-action">
                                    
                                </div>
                              
                                
                              <br /><br />
                              
                            <div id="configuracoesIdioma">
                            <?php if($this->idiomasWebsite()):?>
                            <ul class="langs">
                                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'adicionar', 'idioma' => $idioma->idioma_iso, 'sharedKey' => $this->sharedKey)) ?>" ><?=$idioma->idioma_iso?></a></li>
                                    <?php endforeach; ?>
                                
                                
                                <div class="fields-langs">
                                                    
                                    <?=$this->gerarInputSelectDinamico('Tipo ', 'tipo_id', $this->tiposConteudos, $fields = array('id', 'designacao'), $this->caracteristica->tipo_id)?>
                                    
                                    <?=$this->gerarInputText('Característica ', 'designacao', $this->caracteristica->designacao)?> 
                                    
                                    <?=$this->gerarInputSelectKey('Referência', 'referencia', $valores = array('html'=>'Elementos HTML', 'conteudo'=>'Conteúdo referência'), $this->caracteristica->referencia, TRUE)?>
                                    
                                </div>
                            </ul>
                            
                            <?php endif; ?>
                            </div>
                                                             
                              <div id="rightForm" style="display: block;">
                                  <div id="waiting" style="display: none;background: #FFF;color: #555555;">
                                      <p style="margin-left: 31%;">A enviar... por favor aguarde.</p>

                                        <img src="<?=$this->baseUrl()?>/management/img/loading.gif" alt="Por favor aguarde....">   
                                    </div>
                                  <div id="registos">
                                      
                                      <?php if($this->caracteristica->referencia=='conteudo'):?>
                                      <h4>Atributos da caracteristica conteúdo</h4>
                                  
                                        <?=$this->gerarInputSelectDinamico('Referência ', 'tipo_id', $this->tiposConteudosRef, $fields = array('id', 'designacao'), $this->extra->tipo_id)?>

                                        <?=$this->gerarInputText('Label (singular) ', 'labelSingular', $this->extra->labelSingular) ?> 

                                        <?=$this->gerarInputText('Label (plural) ', 'labelPlural', $this->extra->labelPlural)?>  

                                        <?=$this->gerarInputText('Nome elemento (minúsculas) ', 'name', $this->extra->name)?> 

                                        <?=$this->gerarInputSelectKey('Tipo elemento', 'fieldtype', $valores = array(
                                        'combobox'=>'ComboBox', 'checkbox'=>'CheckBox'), $this->extra->fieldtype)?>

                                        <?=$this->gerarTextArea('Condições (SQL)', 'condicoes', $this->extra->condicoes)?> 

                                        <?=$this->gerarTextArea('Restrições (js code)', 'restricoes', $this->extra->restricoes)?> 
                                      
                                      <?php else: ?>
                                      <?php if($this->caracteristica->referencia=='html'):?>
                                      <h4>Atributos da caracteristica html</h4>

                                        <?=$this->gerarInputText('Label (singular) ', 'labelSingular', $this->extra->labelSingular) ?> 

                                        <?=$this->gerarInputText('Label (plural) ', 'labelPlural', $this->extra->labelPlural)?> 

                                        <?=$this->gerarInputText('Nome elemento (minúsculas) ', 'name', $this->extra->name)?> 

                                        <?=$this->gerarInputSelectKey('Tipo elemento ', 'fieldtype', $valores = array('text'=>'Text','textarea'=>'TextArea','file'=>'Ficheiro','image'=>'Imagem',
                                        'combobox'=>'ComboBox', 'checkbox'=>'CheckBox'), $this->extra->fieldtype)?>

                                        <?=$this->gerarTextArea('Valores pré-definidos (combobox|checkbox) ', 'valoresCampo', $this->extra->valoresCampo)?> 
                                        
                                        
                                        <?=$this->gerarTextArea('Restrições (js code) ', 'restricoes', $this->extra->restricoes)?> 
                                      <?php endif; ?>
                                      <?php endif; ?>
                                      
                                  </div>
                                  
                                </div>
                              
                                <div class="control-group" id="actionsForm"> 
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?= ucfirst($this->translate('_concluir')) ?>" />
                                    <input type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$this->caracteristica->id?>'; }});" id="resetbutton" value="<?=$this->translate('_remover')?>" />			
                                </div> 
                              
                            </fieldset>
                        </form>
                </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->