<link href="<?=$this->baseUrl()?>/management/css/bootstrap.min.css" rel="stylesheet">
<table id="tabela" border="0" width="98%" style="border-bottom:1px solid #f0f0f0;font-size: 12px;background: transparent;">
    <tr>
        <th>Registo</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Label (singular): </td>
        <td><?= $this->atributos->labelSingular ?></td>
    </tr>

    <tr>
        <td>Label (plural): </td>
        <td><?= $this->atributos->labelPlural ?></td>
    </tr>

    <tr>
        <td>Name (element form): </td>
        <td><?= $this->atributos->name ?></td>
    </tr>
        
    <tr>
        <td>Tipo campo: </td>
        <td><?= $this->atributos->fieldtype ?></td>
    </tr>
    
    <tr>
        <td>Valores pré-definidos (campo): </td>
        <td><?= $this->atributos->valoresCampo ?></td>
    </tr>
    
    <tr>
        <td>Restrições (brevemente): </td>
        <td><?= $this->atributos->restricoes ?></td>
    </tr>
</table>