<div class="span9">
    <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?= $this->baseUrl() ?>/management/img/icons/banners.png"></i>
        caracteristicas

        <button onclick="location.href='<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'adicionar', 'idioma' => $this->idioma)) ?>'" type="button" class="btn addNew" id="addNew" style="display: block;"><?= $this->translate('_adicionarNova') ?></button>		

    </h1>


    <div class="widget">

        <div class="widget-content">
            <?php if ($this->idiomasWebsite()): ?>
                <ul class="idiomas">
                    <?php foreach ($this->idiomasWebsite() as $key => $idioma) : ?>
                        <li><a class="lang-tab <?= (($this->idioma == $idioma->idioma_iso) ? 'selected' : '' ) ?>" href="<?= $this->baseUrl() ?>/management/<?= $this->controller ?>/index/idioma/<?= $idioma->idioma_iso ?>" ><?= $idioma->idioma_iso ?></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <div class="row-fluid">

                <div class="span12" id="contentsSite">
                    <?= $this->render('alert.phtml') ?>
                    
                    <table id="tabela" class="tablesorter">
                            <?php if (count($this->caracteristicas)): ?>
                            <thead>
                                <tr>
                                    <th>Designação</th>
                                    <th>Tipo de conteúdo</th>
                                    <th>Referência</th>
                                    <th class="sorter-false">Atributos</th>
                                    <th class="sorter-false">Acções</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="7" class="pager form-horizontal">
                                        <button class="btn first"><i class="icon-step-backward"></i></button>
                                        <button class="btn prev"><i class="icon-arrow-left"></i></button>
                                        <span class="pagedisplay"></span>
                                        <button class="btn next"><i class="icon-arrow-right"></i></button>
                                        <button class="btn last"><i class="icon-step-forward"></i></button>
                                        <div id="filterPages">
                                        <select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
                                        </select>
                                        </div>
                                        
                                    </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <?php foreach ($this->caracteristicas as $key => $caracteristica) : ?>
                                <tr>
                                    <td><?= $caracteristica['designacao'] ?></td>
                                    <td><?= $this->obterTipoConteudo($caracteristica['tipo_id'])  ?></a></td>
                                    <td><?= (($caracteristica['referencia'] == 'html') ? 'Elemento HTML' : 'Conteúdo FK' ) ?></td>
                                    <td style="padding-left: 40px;"><a class="fancybox fancybox.iframe" href="<?= $this->baseUrl() ?>/management/<?=$this->controller?>/<?=$caracteristica['referencia']?>/id/<?= $caracteristica['id'] ?>" title="Características de <?= $caracteristica['designacao'] ?> em <?= $this->obterTipoConteudo($caracteristica['tipo_id'])  ?>"><img src="<?= $this->baseUrl ?>/management/img/caracteristicas.png" alt="" border="0"/></a></td>
                                    <td>
                                        <a href="<?= $this->baseUrl() ?>/management/<?=$this->controller?>/editar/id/<?= $caracteristica['id'] ?>" title="Editar"><img src="<?= $this->baseUrl() ?>/management/img/edit.png" alt="" border="0"/></a>
                                        <img style="cursor:pointer;" src="<?= $this->baseUrl ?>/management/img/delete.png" alt="Apagar" title="Apagar" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$caracteristica['id']?>'; }});" />
                                        
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                            </tbody>
                            <?php endif; ?>
                    </table>

                    


                </div>
            </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->