<?php if($this->idiomasWebsite()):?>
<ul class="langs">
    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
            <li><a class="<?=(($this->idioma == $idioma->idioma_iso) ? 'lang-tab selected' : 'lang-tab' )?>" href="javascript:void(0)" onClick="javascript:configuracoesIdioma('<?=$idioma->idioma_iso?>', '<?=$this->accao?>')"><?=$idioma->idioma_iso?></a></li>
    <?php endforeach; ?>


    <div class="fields-langs">
                                    
        <div class="control-group">											
            <label class="control-label" for="title"><?=$this->translate('_titulo')?></label>
            <div class="controls">
                <input type="text" class="input-large" name="title" id="title" value="<?=$this->getOptionValueIdioma('title', $this->idioma)?>" <?=(($this->accao != 'editar') ? 'disabled=""' : '' )?>>
            </div> 			
        </div>

        <div class="control-group">											
            <label class="control-label" for="descricao"><?=$this->translate('_descricao')?></label>
            <div class="controls">
                <textarea name="descricao" <?=(($this->accao != 'editar') ? 'disabled=""' : '' )?>><?=$this->getOptionValueIdioma('description', $this->idioma)?></textarea>
            </div> 			
        </div>

        <div class="control-group">											
            <label class="control-label" for="keywords">keywords</label>
            <div class="controls">
                <textarea name="keywords" <?=(($this->accao != 'editar') ? 'disabled=""' : '' )?>><?=$this->getOptionValueIdioma('keywords', $this->idioma)?></textarea>
            </div> 			
        </div>
        
        <?php if($this->accao != 'index'):?>
            <span id="aplicar" onClick="javascript:saveConfiguracoesIdioma('<?=$this->idioma?>')"><?=$this->translate('_aplicar')?></span>
        <?php endif; ?>
    </div>
            
            
</ul>
<?php endif; ?>