<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/websites.png"></i>
           <?=$this->translate('_detalhe')?> website    
        </h1>
       
        <div class="widget-content">
                 
                 <?= $this->render('alert.phtml') ?>
                <div class="tab-content">
                    
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>
                                
                                <div class="group-name">
                                    <?=$this->translate('_configuracao')?> website 
                                </div>
                                <div class="group-action">
                                    <a id="editbutton" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'editar')) ?>"><?=$this->translate('_editar')?></a>
                                </div>
                              
                                
                              <br /><br />
                                                            
                            <div id="configuracoesIdioma">
                            <?php if($this->idiomasWebsite()):?>
                            <ul class="langs">
                                <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                                        <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="javascript:void(0)" onClick="javascript:configuracoesIdioma('<?=$idioma->idioma_iso?>', 'index')"><?=$idioma->idioma_iso?></a></li>
                                <?php endforeach; ?>
                                
                                
                                <div class="fields-langs">
                                    
                                    <div class="control-group">											
                                        <label class="control-label" for="title"><?=$this->translate('_titulo')?></label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="title" id="title" value="<?=$this->getOptionValueIdioma('title', $this->idioma)?>" disabled="">
                                        </div> 			
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="control-label" for="descricao"><?=$this->translate('_descricao')?></label>
                                        <div class="controls">
                                            <textarea name="descricao" disabled=""><?=$this->getOptionValueIdioma('description', $this->idioma)?></textarea>
                                        </div> 			
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="control-label" for="keywords">keywords</label>
                                        <div class="controls">
                                            <textarea name="keywords" disabled=""><?=$this->getOptionValueIdioma('keywords', $this->idioma)?></textarea>
                                        </div> 			
                                    </div>
                                </div>
                            </ul>
                            <?php endif; ?>
                            </div>
                                
                                <div style="margin-bottom: 18px;" class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#defGerais">Gerais</a></li>
                                        <li class=""><a data-toggle="tab" href="#defEmail">E-mail</a></li>
                                        <li class=""><a data-toggle="tab" href="#defAnalytics">Google analytics</a></li>
                                    </ul>
                                    <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd; width: 100%" >

                                        <div id="defGerais" class="tab-pane active">
                                                <div class="control-group">											
                                            <label class="control-label" for="nome">website</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" name="nome" id="nome" value="<?=$this->getOptionValue('title')?>" disabled="">
                                            </div>
                                        </div>


                                        <div class="control-group">											
                                            <label class="control-label" for="email">e-mail</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" name="email" id="email" value="<?=$this->getOptionValue('email')?>" disabled="">
                                            </div> 			
                                        </div>

                                        <div class="control-group">											
                                            <label class="control-label" for="endereco"><?=$this->translate('_endereco')?></label>
                                            <div class="controls">
                                                <input type="text" class="input-large" name="endereco" id="endereco" value="<?=$this->getOptionValue('url')?>" disabled="">
                                            </div> <!-- /controls -->				
                                        </div> <!-- /control-group -->

                                        <div class="control-group">											
                                            <label class="control-label" for="facebook">facebook</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" name="facebook" id="facebook" value="<?=$this->getOptionValue('facebook')?>" disabled="">
                                            </div> 				
                                        </div> 

                                         
                                        </div>

                                        <div id="defEmail" class="tab-pane">
                                        		
                                            
                                                <div class="control-group">											
                                                    <label for="seguranca_system" class="control-label">protocolo (segurança)</label>
                                                    <div class="controls">
                                                        <select name="seguranca_system" disabled="">
                                                            <option value="tls" <?=(($this->adminEmail->seguranca == 'tls') ? 'selected=""' : '' )?>><?=strtoupper('TLS')?></option>
                                                            <option value="ssl" <?=(($this->adminEmail->seguranca == 'ssl') ? 'selected=""' : '' )?>><?=strtoupper('ssl')?></option>
                                                        </select>
                                                    </div> 			
                                                </div> 
                                                
                                                <div class="control-group">
                                                        <label for="email_system" class="control-label">Email</label>
                                                        <div class="controls">
                                                                <input type="text" value="<?=$this->adminEmail->email?>" id="email_system" class="input-large" disabled="">
                                                        </div>
                                                </div>
                                            
                                                <div class="control-group">
                                                        <label for="password_system" class="control-label">Password</label>
                                                        <div class="controls">
                                                                <input type="text" value="" id="password_system" class="input-large" disabled="">
                                                        </div>
                                                </div>
                                            
                                                <div class="control-group">
                                                        <label for="email_servidor" class="control-label">Servidor</label>
                                                        <div class="controls">
                                                                <input type="text" value="<?=$this->adminEmail->servidor?>" id="email_servidor" class="input-large" disabled="">
                                                        </div>
                                                </div>
                                            
                                                <div class="control-group">
                                                        <label for="email_port" class="control-label">Porta</label>
                                                        <div class="controls">
                                                                <input type="text" value="<?=$this->adminEmail->port?>" id="email_port" class="input-small" disabled="">
                                                        </div>
                                                </div>

                                        </div>
                                        
                                        <div id="defAnalytics" class="tab-pane">
                                        		
                                            
                                                <div class="control-group">											
                                                    <label class="control-label" for="google-analytics">google analytics</label>
                                                    <div class="controls">
                                                        <textarea name="google-analytics" rows="5" disabled=""><?=$this->getOptionValue('google-analytics')?></textarea>
                                                    </div> <!-- /controls -->				
                                                </div>
                                                
                                                <div class="control-group">
                                                        <label for="email_system" class="control-label">Email (google analytics)</label>
                                                        <div class="controls">
                                                               <input type="text" class="input-large" name="email-analytics" id="email-analytics" value="<?=$this->getOptionValue('email-analytics')?>" disabled="">
                                                        </div>
                                                </div>
                                            
                                                <div class="control-group">
                                                        <label for="password_system" class="control-label">Password (google analytics)</label>
                                                        <div class="controls">
                                                                <input type="password" value="" id="password-analytics" name="password-analytics" class="input-large" disabled="">
                                                        </div>
                                                </div>
                                            
                                            
                                                <div class="control-group">
                                                        <label for="port_system" class="control-label">Profile#ID</label>
                                                        <div class="controls">
                                                                <input type="text" value="<?=$this->getOptionValue('profile_id-analytics')?>" name="profile_id-analytics" id="profile_id-analytics" class="input-small" disabled="">
                                                        </div>
                                                </div>


                                        </div>

                                    </div>
                                </div>
                              
                                
                                
                                
                                
                                <br />
                                
                                
                                
                        <!--         <span class="badge badge-error">apagar</span>
                                 <span class="badge badge-inverse">adicionar</span> -->
                            </fieldset>
                        </form>
                </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->