

<div class="incubadosBasePage" > 
                    
                <div class="incubadosBasePageTop" > 
                    
                    <div class="row">
                        <div class="span3">
                          <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                         </div>
                        
                        <div class="span3">
                            <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                        
                        <div class="span3">
                             <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                    
                 </div>
                           
                    <div class="row">
                        <div class="span3">
                          <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                         </div>
                        
                        <div class="span3">
                            <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                        
                        <div class="span3">
                             <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                    
                 </div>
                    </div>
                  <div class="linha"> </div>
                  <div class="dadosIncubado">
                 <div class="ladoEsquerdoincubado">

                    <div class="titulo">
                        

                    </div>
                    <div class="setor">
                        <div class="tituloSobreIncubado"> Sector </div>
                      


                    </div>
                    <div class="produtos">
                       <div class="tituloSobreIncubado">  Produtos </div>

                    </div>
                     <div class="servicos">
                        <div class="tituloSobreIncubado"> Serviços </div>

                    </div>
                    <div class="website">
                        <div class="tituloSobreIncubado"> Website  </div>


                    </div>
                    <div class="sobre">


                    </div>
                     
                     <div class="imagens"> </div>
                </div>
            
                   <div class="ladoDireitoincubado">
                  
                     
                                  <div class="setoresIncubacao">

                                    <div class="titulo">
                                        Sectores de <br/>
                                        incubação:
                                    </div>

                                    <div class="texto">

                                        <a href="#">ggggggggggg</a> <br/>
                                        <a href="#">ggggggggggg</a> <br/>
                                        <a href="#">ggggggggggg</a> <br/>
                                    </div>

                                    </div>
                  
                  
                            
                                         <div class="agenda">
                                             <div class="titulo">
                                               Agenda: </div>
                                       <br/>

                                       <div class="descricaoData">
                                           <div class="data"> Novembro 26,
                                               2013</div>
                                           <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                                       </div>
                                       <div class="descricaoData">
                                           <div class="data"> Novembro 26,
                                               2013</div>
                                           <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                                       </div>
                                       <div class="descricaoData">
                                           <div class="data"> Novembro 26,
                                               2013</div>
                                           <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                                       </div>
                                       <div class="descricaoData">
                                           <div class="data"> Novembro 26,
                                               2013</div>
                                           <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                                            </div>
                                           </div>
                                 </div>   
                    </div>
                  </div>
          
         <br/>
      <?php if ($this->getOptionValue('google-analytics') != NULL): ?>
             <script type="text/javascript"><?= $this->getOptionValue('google-analytics') ?></script>
        <?php endif; ?>
