<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="icon-home"></i>
            novo item para  <?= $this->tipoMenu->designacao?>	
        </h1>
        
        <div class="widget-content">
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <?php if($this->idiomasWebsite()):?>
            <ul class="idiomas">
                <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                        <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/index/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                <?php endforeach; ?>
            </ul>
            <?php endif; ?>
            
                <div id="not-main">
                    <div id="configuracoes">
                        <span class="info">{--- Seleccione um tipo de item de menu</span>
                    </div>
                </div>
            
                
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    Novo item para <?= $this->tipoMenu->designacao?>
                                </div>
                                
                                <div class="control-group">											
                                    <label class="control-label" for="descricao_menu">tipo de item de menu </label>
                                    <div class="controls">
                                        <input type="text" class="input-xlm" disabled="disabled" readonly="readonly" name="descricao_menu" id="descricao_menu" value="">
                                        <input type="hidden" value="" name="item_id" id="item_id" >
                                        <input type="hidden" value="" name="conteudo_id" id="conteudo_id" >	
                                    </div> 
                                    <span id="selectType"><a href="#menu-types" class="fancybox">Sel.</a></span>
                                    
                                </div>
                                
                                
                                <div id="menu-types" style="display: none;">
                                    <div id="menus-types-list">
                                            <h1>Escolher um tipo de item de menu:</h1>
                                            <div class="clear"></div>
                                            <hr style="margin-bottom: 10px;">                                            
                                            <ul>
                                                <li class="first">Artigos</li>
                                                <li onclick="javascript:ajax_request(1, 'Artigo único', '<?=$this->idioma?>');"><a title="Exibir um artigo único." href="javascript:void(0);"> Artigo único</a></li>
                                                <!--<li onclick="javascript:ajax_request(2, 'Categoria em lista', '<?=$this->idioma?>');"><a title="Exibe uma lista de artigos numa categoria." href="javascript:void(0);">Categoria em lista</a></li>
                                                <li onclick="javascript:ajax_request(3, 'Listar todas as categorias', '<?=$this->idioma?>');"><a title="Mostra uma lista de todas as categorias de artigos." href="javascript:void(0);">Listar todas as categorias</a></li>-->
                                                <li onclick="javascript:ajax_request(4, 'Categoria em blog', '<?=$this->idioma?>');"><a title="Apresenta titulo+intro de conteúdo." href="javascript:void(0);">Categoria em blog</a></li> 
                                            </ul>
                                                                                         
                                            <ul>
                                                <li class="first">Ligações de itens</li>
                                                <li onclick="javascript:ajax_request(5, 'URL externo', '<?=$this->idioma?>');"><a title="Um URL externo." href="javascript:void(0);">URL externo</a></li>
                                                <li onclick="javascript:ajax_request(6, 'Sem link - apenas designação', '<?=$this->idioma?>');"><a title="Sem link - apenas designação." href="javascript:void(0);">Sem link (href="#")</a></li>
                                            </ul>
                                            

                                            <div class="clear"></div>
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="designacao"><?=$this->translate('_titulo')?> de menu</label> 
                                    <div class="controls">
                                        <input type="text" class="input-medium" name="designacao" id="designacao" value="">
                                    </div> 			
                                </div>
                                
                                <div class="control-group" style="display: none;">
                                    <label class="control-label" for="path">alternativo</label> 
                                    <div class="controls">
                                        <input type="text" class="input-medium" name="path" id="path" value="">
                                    </div> 			
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="link">hiperligação</label> 
                                    <div class="controls">
                                        <input type="text" readonly="readonly" class="input-medium" name="link" id="link" value="">
                                    </div> 			
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="itemsuperior_id">item superior</label> 
                                    <div class="controls">
                                        <select name="itemsuperior_id" id="itemsuperior_id">
                                        <option value="">Menu Item de raiz</option>
                                        <?php if (count($this->outrosMenus)): ?>
                                                    <?php foreach ($this->outrosMenus as $key => $menu) : ?>
                                                        <option value="<?= $menu->id ?>"><?= $menu->designacao ?></option>
                                                    <?php endforeach; ?>
                                            <?php endif; ?>
                                        </select>
                                    </div> 			
                                </div>
                                
                                <?php if($this->tipoMenu->backgroundimage == 'S'): ?>
                                <div class="control-group" id="imgAN" style="display: none;">	
                                        <img id="img_content" width="468" alt="" src="">
                                        <input type="hidden" id="backgroundImage" name="backgroundImage" value="" />
                                        <ul id="op-image">
                                            <li style="margin-left: 10px;"><a class="delete" href="javascript:void(0)" onClick="javascript:deleteImage();"><?=$this->translate('_apagarFoto')?></a></li>
                                        </ul>
                                </div>
                                <div id='injection_site'></div>
                                <div class="control-group" id="uploadImgAN"style="display: block;">
                                    <span><?=$this->translate('_imagemLateral')?></span>
                                    <div id="ficheirosmedia"></div> 
                                    <ul id="separate-list"></ul>

                                    <div id="preview"></div>
                                </div>
                                <?php endif; ?>
                                
                                
                                <?php if($this->tipoMenu->lateraldireita == 'S'): ?>
                                <?php  echo $this->render('editorTexto-tiny.phtml'); ?>
                                <?= $this->gerarTextArea('Texto lateral direita', 'descricao', '', 'N') ?>
                                <?php endif; ?>
                                
                                
                                <div class="control-group" style="margin-top: 42px;">
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?=ucfirst($this->translate('_adicionar'))?>" />
                                    <input style="cursor: pointer;" type="reset" id="resetbutton" value="<?=$this->translate('_limpar')?>" />  			
                                </div>
                            </fieldset>
                        </form>

                    
                </div>









        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->