<div class="span9">
    <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?= $this->baseUrl() ?>/management/img/icons/produtos.png"></i>
        Menus

    </h1>


    <div class="widget">

        <div class="widget-content">

            <div class="row-fluid">

                <div class="span12" id="contentsSite">
                    <?= $this->render('alert.phtml') ?>
                    <?php if (count($this->registos)): ?>
                        <ul id="main-websites-nav" class="nav nav-tabs nav-stacked">

                        <?php foreach ($this->registos as $key => $registo) : ?> 
                        <li><a href="<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'itens', 'tipo' => $registo['id'], 'idioma' => $this->idioma)) ?>">
                                <table style="width:100%;height: 36px;border-collapse:collapse;">
                                    <td style="width: 80%;"><div class="name"><?= $registo['designacao'] ?></div></td>
                                    <td style="width: 20%;">
                                        <!-- <div>
                                        <a href="<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'editar', 'id' => $registo['id'])) ?>" title="Editar"><img src="<?= $this->baseUrl() ?>/management/img/edit.png" alt="" border="0"/></a>
                                        <img style="cursor:pointer;" src="<?= $this->baseUrl() ?>/management/img/delete.png" alt="Apagar" title="Apagar" onclick="return bootbox.confirm('<?= $this->translate('_temACerteza') ?> ?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/<?= $this->module ?>/<?= $this->controller ?>/apagar/id/<?= $registo['id'] ?>'; }});"/>
                                        </div>       --> 
                                    </td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                        <?php endforeach; ?>


                        </ul>
                    <?php endif; ?>
                    
                    
                    
                </div>
            </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->