<script type="text/javascript">
    function escolherArtigo(id, descricao) {
        parent.jQuery.fancybox.close();
        
        $("#conteudo_id").attr("value", id);
        $("#artigo").attr("value", descricao);
        $("#link").attr("value", '/conteudos/categoria/id/'+id);
        $("#designacao").attr("value", descricao);
    }
    
    $(function(){
        
    });
</script>
<fieldset class="escolherArtigo">
            <label for="artigo">Categoria para blog </label>					
            <input type="text" size="35" disabled="disabled" value="Escolher um categoria" id="artigo">
            <span><a href="#conteudos" class="fancybox" title="Escolher ou mude categoria" id="seleccionarArtigo">Sel.</a></span>			
</fieldset>

<div id="conteudos" style="width:550px;height: 500px; margin-bottom: 15px; display: none;">
    <table border="0" width="400" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                    <th height="36" valign="middle">Título</th>
                    <th height="36" valign="middle">Categoria</th>
                    <th height="36" valign="middle">ID</th>
            </tr>
        </thead>
        
        <tbody>
            
            <?php if (count($this->tiposConteudos)): ?>
                <?php foreach ($this->tiposConteudos as $key => $tipo) : ?>
                <tr>
                    <td height="33" align="left" valign="middle" style="padding:0 0 0 4%;"><a style="cursor: pointer;" onclick="javascript:escolherArtigo(<?=$tipo->id?>, '<?=$tipo->designacao?>');"><?=$tipo->designacao?></a></td>
                    <td height="33" align="center" valign="middle"><?=$tipo->designacao?></td>
                    <td height="33" align="center" valign="middle"><?=$tipo->id?></td>
                </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td colspan='3' height="33" align="center" valign="middle">Não existem reguistos</td>
                </tr>
            <?php endif; ?>
            
            
        </tbody>
    </table>
</div>