<script type="text/javascript">
    function escolherArtigo(id, descricao) {
        parent.jQuery.fancybox.close();
        
        $("#conteudo_id").attr("value", id);
        $("#artigo").attr("value", descricao);
        $("#link").attr("value", '/conteudos/conteudo/id/'+id);
        $("#designacao").attr("value", descricao);
    }
    
    $(function(){
        
    });
</script>
<fieldset class="escolherArtigo">
            <label for="artigo">Conteúdo </label>					
            <input type="text" size="35" disabled="disabled" value="Escolher um conteúdo" id="artigo">
            <span><a href="#conteudos" class="fancybox" title="Escolher ou mudar conteúdo" id="seleccionarArtigo">Sel.</a></span>
            
            			
</fieldset>

<div id="conteudos" style="width:550px;height: 500px; margin-bottom: 15px; display: none;">
    <table border="0" width="550" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                    <th height="36" valign="middle">Título</th>
                    <th height="36" valign="middle">Tipo</th>
                    <th height="36" valign="middle">Data Alteração</th>
                    <th height="36" valign="middle">ID</th>
            </tr>
        </thead>
        
        <?php if (count($this->conteudos)): ?>       
        <tbody>
            <?php foreach ($this->conteudos as $key => $conteudo) : ?>
            <tr>
                <td height="33" align="left" valign="middle" style="padding:0 0 0 4%;"><a style="cursor: pointer;" onclick="javascript:escolherArtigo(<?=$conteudo->id?>, '<?=$conteudo->designacao?>')" title="Seleccionar <?=$conteudo->designacao?>"><?=$conteudo->designacao?></a></td>
                <td height="33" align="center" valign="middle"><?=$conteudo->tipo_id?></td>
                <td height="33" align="center" valign="middle"><?=$this->converteData($conteudo->dataCriacao)?></td>
                <td height="33" align="center" valign="middle"><?=$conteudo->id?></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
        <?php endif; ?>
    </table>
</div>