<script type="text/javascript">
    function escolherArtigo(id, descricao) {
        parent.jQuery.fancybox.close();
        
        
    }
    
    function validateURL(textval) {
      var urlregex = new RegExp(
            "^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@)*((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(\:[0-9]+)*(/($|[a-zA-Z0-9\.\,\?\'\\\+&amp;%\$#\=~_\-]+))*$");
      return urlregex.test(textval);
    }
    
    $(function(){
        $('#url').blur(function() {
            
            if(!validateURL($(this).val())){
                $("#link").attr("value", '');
                //$("#url").facus();
                bootbox.alert('Alerta: o endereço url poderá ser inválido.');
            }else{
                
            }
            $("#link").attr("value", $(this).val());
        });
    });
</script>
<fieldset class="escolherArtigo">
            <label for="url">Endereço URL </label>					
            <input type="text" size="40" value="http://" id="url" name="url">
</fieldset>
