<script type="text/javascript">
    
    $(function(){
        $("#link").attr("value", '#');
    });
</script>
<span class="info"> Hiperligação: <br />
    <code>
        <xmp>
            <a href="#">Link</a>
        </xmp>
    </code>

</span>