<div class="span9">
    <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?= $this->baseUrl() ?>/management/img/icons/produtos.png"></i>
        Itens do Menu 
        <button onclick="location.href='<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'adicionar', 'tipo' => $this->tipo_id, 'idioma' => $this->idioma)) ?>'" type="button" class="btn addNew" id="addNew" style="display: block;"><?= $this->translate('_adicionarNovo') ?></button>		
    </h1>


    <div class="widget">

        <div class="widget-content">
            <?php if($this->idiomasWebsite()):?>
            <ul class="idiomas">
                <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                        <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/itens/tipo/<?=$this->tipo_id?>/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                <?php endforeach; ?>
            </ul>
            <?php endif; ?>
            
             <?= $this->render('alert.phtml') ?>
            <div class="row-fluid">

                <div class="span12" id="contentsSite">
                   
                    
                    <div class="group-name">
                        <h3><?= $this->tipoMenu ?></h3>
                    </div>
                    
                   <pre style="clear: both;"><span class="label label-info">Instruções:</span> Mova os itens para <b>ordenar</b> ou duplo clique para <b>editar</b></pre>
                    
                    <?php if (count($this->registos)): ?>
                        <ol class="sortable">

                            
                            <?php foreach ($this->registos as $key => $item) : ?>
                                <li id="id_<?= $item->id ?>" onclick="location.href='<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'editar', 'id' => $item->id, 'idioma' => $item->idioma_iso)) ?>'"><div><?= $item->designacao ?> <small><?= $item->link ?></small></div>

                                    <?php if (count($this->obterSubMenus($item->id))): ?>
                                        <?php foreach ($this->obterSubMenus($item->id) as $k => $subMenu) : ?>
                                            <ol>
                                                <li id="id_<?= $subMenu->id ?>" ondblclick="location.href='<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'editar', 'id' => $item->id, 'idioma' => $item->idioma_iso)) ?>'"><div><?= $subMenu->designacao ?> <small><?= $subMenu->path ?></small> </div>
                                            </ol>
                                        <?php endforeach; ?>
                                    <?php endif; ?>

                                <?php endforeach; ?>
                        </ol>
                    <?php endif; ?>
                    
                    
                    
                </div>
            </div>

        </div> 

    </div> 



</div>