body {
	background: #000;
        font-family: 'Open Sans';
}

#boxlogin {
	background-image: url(../img/bck.png);
	background-repeat: no-repeat;
	width: 346px;
	height: 365px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-182px 0 0 -173px;
        float: left;
	}
	
#logo {
	background-repeat: no-repeat;
	width: 260px;
	height: 166px;
	margin:0 auto;
	margin-top: 42px;
	}

input:focus{
    outline:none;
}

form#login-form input{
	background-image: url(../img/form_box.jpg);
	background-repeat: no-repeat;
	width: 260px;
	height: 36px;
	float: left;
	margin-left: 44px;
	border: none;
}


input#login {
	margin-top: 20px;
	color: gray;
	font-size: 0.8em;
	padding-left: 8px;
	width: 252px!important;
	float:left;
}


#password {
	margin-top: 12px;
	color: gray;
	font-size: 0.8em;
	padding-left: 8px;
	width: 252px!important;
	float:left;
}

input#email {
	margin-top: 20px;
	color: gray;
	font-size: 0.8em;
	padding-left: 8px;
	width: 252px!important;
	float:left;
}

form#login-form button{
	background-image: url(../img/bt_forgot.jpg);
	background-repeat: no-repeat;
	width: 127px;
	height: 27px;
	margin-top: 10px;
	float: left;
	margin-left: 177px;
	border: none;
	color: gray;
	font-size: 0.6em;
        font-weight: bold;
        cursor: pointer;
}

#loginForm form#login-form button#submit{
    background-image: url("../img/submit.png");
    background-repeat: no-repeat;
    height: 27px;
    position: absolute;
    right: 47px;
    top: 273px;
    width: 29px;
    display: none;
}

#lostPass-form form#login-form button#submit{
    background-image: url("../img/submit.png");
    background-repeat: no-repeat;
    height: 27px;
    position: absolute;
    right: 47px;
    top: 223px;
    width: 29px;
    display: none;
}

#login-footer {
	position: fixed;
	right: 10px;
	bottom: 0;
	font-size: 0.7em;
	color: gray;
}

#login-footer p a {
	color: red;
	text-decoration: none;
}
p.error {
    border-radius: 3px 3px 3px 3px;
    color: #DF2839;
    font-size: 12px;
    font-weight: bold;
    left: 28px;
    position: absolute;
    text-align: center;
    top: 194px;
    width: 296px;
}