/*------------------------------------------------------------------

[Dashboard Stylesheet]

	Project:		Adminia Admin
	Version:		1.0
	Last change:	05/11/2012
	Assigned to:	Rod Howard (rh)



[Table of contents]

	1. Stats / .stat-container

-------------------------------------------------------------------*/





/*------------------------------------------------------------------
[1. Stats / .stat-container]
*/

.stat-container {
	display: table;
	
	margin-bottom: 1.5em;
	
	width: 100%;
}

.stat-holder {
	display: table-cell;
	
	width: 25%;
}

.stat span {
	display: block;
	margin-bottom: .4em;
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	color: #4A515B;
}

.stat {
	height: auto;
	padding: 5px;
	margin-right: 1em;
	
	font-size: 12px;
	font-style: italic;
	text-align: center;
	color: #888;
	
	background: #FFF;
	
	border: 1px solid #CCC;
	
	border-radius: 5px;
	
	text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}


.stat-container .stat-holder:last-child .stat {
	margin: 0;
}


@media (max-width: 767px) {
	
	.stat-container {
		float: left;
		display: block;
		
		margin-bottom: 1em;
	}
	
	.stat-holder {
		float: left;
		display: block;
		
		width: 50%;
		margin-bottom: 1em;
	}
	
	.stat {
		margin: 0 1em;
	}
	
	.stat-container .stat-holder:last-child .stat {
		margin: 0 1em;
	}
	
}
