<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="icon-home"></i>
            <?=  ucfirst($this->translate('_adicionar')) ?> tipo de conteúdo		
        </h1>

        <div class="widget-content">
            
                <?php if($this->idiomasWebsite()):?>
                 <ul class="idiomas">
                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/<?=$this->action?>/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                    <?php endforeach; ?>
                </ul>
                <?php endif; ?>
                <?=$this->render('alert.phtml')?>
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    tipo de conteúdo
                                </div>
                                
                                <div class="control-group">											
                                    <label class="control-label" for="designacao"><?=$this->translate('_designacao')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="designacao" id="designacao" value="">
                                    </div>
                                </div>
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">Imagem (destaque)?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="temImagemDestaque" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="temImagemDestaque" value="N" />
                                    </div>
                                </div>
                                
                                <div id="dimensoesImagem" style="margin-bottom: -10px;">
                                    <div id="tri" style="margin-left: 34px;"></div>
                                    <div id="datas">
                                        <div class="control-group" style="padding-bottom: 6px;padding-left: 5px;">											
                                            <label class="control-label" style="clear: both;width: 100%;">Dimensões da imagem</label>
                                            <div class="controls" style="float: left;">
                                                <input type="text" name="dimensoesImagemDestaque" id="dimensoesImagemDestaque" placeholder="Dimensões da imagem" value="654x245 píxeis" style="background-color: #FFF;" />
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">Descrição?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="temDescricao" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="temDescricao" value="S" />
                                    </div>
                                </div>
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">'Ler mais...' ?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="temLerMais" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="temLerMais" value="S" />
                                    </div>
                                </div>
                                
                                
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">Pode ser eliminado?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="podeApagar" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="podeApagar" value="S" />
                                    </div>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio">Conteúdos podem ser eliminados?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="podeApagarConteudos" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="podeApagarConteudos" value="S" />
                                    </div>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio">Pode ser referência?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="podeSerReferencia" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="podeSerReferencia" value="S" />
                                    </div>
                                </div>
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio">Seleccionar para newsletter?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="newsletter" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="newsletter" value="S" />
                                    </div>
                                </div>

                                
                                <div class="control-group">
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?=  ucfirst($this->translate('_adicionar')) ?>" />
                                    <input style="cursor: pointer;" type="reset" id="resetbutton" value="<?=$this->translate('_limpar')?>" />  			
                                </div>
                            </fieldset>
                        </form>

                    
                </div>









        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->