<div class="span9">
    <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?= $this->baseUrl() ?>/management/img/icons/banners.png"></i>
        caracteristicas para <?=$this->tipoConteudo->designacao?>

  <!--      <button onclick="location.href='<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'adicionar', 'idioma' => $this->idioma)) ?>'" type="button" class="btn addNew" id="addNew" style="display: block;"><?= $this->translate('_adicionarNova') ?></button>		-->

    </h1>


    <div class="widget">

        <div class="widget-content">
            <?php if ($this->idiomasWebsite()): ?>
                <ul class="idiomas">
                    <?php foreach ($this->idiomasWebsite() as $key => $idioma) : ?>
                        <li><a class="lang-tab <?= (($this->idioma == $idioma->idioma_iso) ? 'selected' : '' ) ?>" href="<?= $this->baseUrl() ?>/management/<?= $this->controller ?>/index/idioma/<?= $idioma->idioma_iso ?>" ><?= $idioma->idioma_iso ?></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <div class="row-fluid">

                <div class="span12" id="contentsSite">
                    <?= $this->render('alert.phtml') ?>
                     
                    <table id="tabela" class="tablesorter">
                            <?php if (count($this->caracteristicasTP)): ?>
                            <thead>
                                <tr>
                                    <th>Designação</th>
                                    <th>Referência</th>
                                    <th class="sorter-false">Acções</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="7" class="pager form-horizontal">
                                        <button class="btn first"><i class="icon-step-backward"></i></button>
                                        <button class="btn prev"><i class="icon-arrow-left"></i></button>
                                        <span class="pagedisplay"></span>
                                        <button class="btn next"><i class="icon-arrow-right"></i></button>
                                        <button class="btn last"><i class="icon-step-forward"></i></button>
                                        <div id="filterPages">
                                        <select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
                                        </select>
                                        </div>
                                        
                                    </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Título</td>
                                    <td><b>Input Text</b></td>
                                    <td> - </td>
                                </tr>
                                
                                <tr <?= (($this->tipoConteudo->temDescricao == 'N') ? 'style="color:#969696;"' : '' ) ?>>
                                    <td>Texto</td>
                                    <td><b>TextArea</b> (Editor <i>WYSIWYG</i>) // <b>Lead</b> (<?= (($this->tipoConteudo->temLerMais == 'N') ? 'Não' : 'Sim' ) ?>) </td>
                                    <?php if ($this->tipoConteudo->temDescricao == 'N'): ?>
                                        <td><img style="cursor:pointer;" src="<?= $this->baseUrl ?>/management/img/on.png" alt="Activar" title="Activar" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='#'; }});" /> </td>
                                    <?php else: ?>
                                        <td>
                                            <img style="cursor:pointer;" src="<?= $this->baseUrl ?>/management/img/off.png" alt="Desactivar" title="Desactivar" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='#'; }});" /> 
                                            <img style="cursor:pointer;margin-left: 4px;" src="<?= $this->baseUrl ?>/management/img/<?= (($this->tipoConteudo->temLerMais == 'N') ? 'lead-off' : 'lead-on' ) ?>.png" alt="<?= (($this->tipoConteudo->temLerMais == 'N') ? 'Adicionar Lead' : 'Remover Lead' ) ?>" title="<?= (($this->tipoConteudo->temLerMais == 'N') ? 'Adicionar Lead' : 'Remover Lead' ) ?>" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='#'; }});" /> 
                                        </td>
                                    <?php endif; ?>
                                </tr>
                                
                                
                                
                                <?php foreach ($this->caracteristicasTP as $key => $caracteristica) : ?>
                                    <tr>
                                        <td><?= $caracteristica->designacao ?></td>

                                        <?php if ($caracteristica->referencia == 'conteudo'): ?>
                                            <td>FK: <?= $this->conteudosTiposConteudos->getCaracteristicaTipoConteudo($caracteristica->id) ?></td>
                                        <?php else: ?>
                                            <td><?= $this->atributosTiposConteudos->getAtributoTipoConteudo($caracteristica->id) ?></td>
                                        <?php endif; ?>

                                        <td>
                                          <a href="<?= $this->baseUrl ?>/management/caracteristicas-tipos-conteudos/editar/id/<?= $caracteristica->id ?>" title="Editar"><img src="<?= $this->baseUrl() ?>/management/img/edit.png" alt="" border="0"/></a>
                                            <img style="cursor:pointer;" src="<?= $this->baseUrl ?>/management/img/delete.png" alt="Apagar" title="Apagar" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$caracteristica->id?>'; }});" />
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                            <?php endif; ?>
                    </table>
                    
                    <div class="control-group" style="margin-top: 30px;">											
                        <label class="control-label" for="buttons-radio">Pode ser eliminado?</label>
                        <div class="controls" style="clear: both;">
                            <div class="btn-group" data-toggle-name="podeApagar_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                <button type="button" value="S" class="btn <?=(($this->tipoConteudo->podeApagar == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                <button type="button" value="N" class="btn <?=(($this->tipoConteudo->podeApagar == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                            </div>

                            <input type="hidden" name="podeApagar" value="" />
                        </div>
                    </div>
                    
                    <div class="control-group">											
                        <label class="control-label" for="buttons-radio">Conteúdos podem ser eliminados?</label>
                        <div class="controls" style="clear: both;">
                            <div class="btn-group" data-toggle-name="podeApagarConteudos_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                <button type="button" value="S" class="btn <?=(($this->tipoConteudo->podeApagarConteudos == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                <button type="button" value="N" class="btn <?=(($this->tipoConteudo->podeApagarConteudos == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                            </div>

                            <input type="hidden" name="podeApagarConteudos" value="" />
                        </div>
                    </div>
                    
                    <div class="control-group">											
                        <label class="control-label" for="buttons-radio">Pode ser referência?</label>
                        <div class="controls" style="clear: both;">
                            <div class="btn-group" data-toggle-name="podeSerReferencia_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                <button type="button" value="S" class="btn <?=(($this->tipoConteudo->podeSerReferencia == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                <button type="button" value="N" class="btn <?=(($this->tipoConteudo->podeSerReferencia == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                            </div>

                            <input type="hidden" name="podeSerReferencia" value="" />
                        </div>
                    </div>
                    


                </div>
            </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->