<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-users"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/users.png"></i>
            <?=  ucfirst($this->translate('_editar')) ?> tipos de conteúdo		
        </h1>

        <div class="widget-content">
            
                <?php if($this->idiomasWebsite()):?>
                 <ul class="idiomas">
                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                        <?php if($this->main_id):?>
                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/<?=$this->action?>/main_id/<?=$this->tipoConteudoIdioma($this->main_id, $idioma->idioma_iso)->main_id?>/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                         <?php else: ?>
                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/<?=$this->action?>/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
                <?php endif; ?>
                <?=$this->render('alert.phtml')?>
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    tipo de conteúdo
                                </div>
                                
                                
                                
                                <div class="control-group">											
                                    <label class="control-label" for="designacao"><?=$this->translate('_designacao')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="designacao" id="designacao" value="<?=$this->tipoConteudo->designacao?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">Imagem (destaque)?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="temImagemDestaque_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn <?=(($this->tipoConteudo->temImagemDestaque == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn <?=(($this->tipoConteudo->temImagemDestaque == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="temImagemDestaque" value="<?=$this->tipoConteudo->temImagemDestaque?>" />
                                    </div>
                                </div>
                                
                                <div id="dimensoesImagem" style="margin-bottom: -10px;<?=(($this->tipoConteudo->temImagemDestaque == 'S') ? 'display: block;' : 'display: nome;' )?>">
                                    <div id="tri" style="margin-left: 34px;"></div>
                                    <div id="datas">
                                        <div class="control-group" style="padding-bottom: 6px;padding-left: 5px;">											
                                            <label class="control-label" style="clear: both;width: 100%;">Dimensões da imagem</label>
                                            <div class="controls" style="float: left;">
                                                <input type="text" name="dimensoesImagemDestaque" id="dimensoesImagemDestaque" placeholder="Dimensões da imagem" value="<?=$this->tipoConteudo->dimensoesImagemDestaque?>" style="background-color: #FFF;" />
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">Descrição?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="temDescricao_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn <?=(($this->tipoConteudo->temDescricao == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn <?=(($this->tipoConteudo->temDescricao == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="temDescricao" value="<?=$this->tipoConteudo->temDescricao?>" />
                                    </div>
                                </div>
                                
                                
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">'Ler mais...' ?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="temLerMais_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn <?=(($this->tipoConteudo->temLerMais == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn <?=(($this->tipoConteudo->temLerMais == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="temLerMais" value="<?=$this->tipoConteudo->temLerMais?>" />
                                    </div>
                                </div>
                                
                                <div class="control-group" style="">											
                                    <label class="control-label" for="buttons-radio">Pode ser eliminado?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="podeApagar_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn <?=(($this->tipoConteudo->podeApagar == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn <?=(($this->tipoConteudo->podeApagar == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="podeApagar" value="<?=$this->tipoConteudo->podeApagar?>" />
                                    </div>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio">Conteúdos podem ser eliminados?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="podeApagarConteudos_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn <?=(($this->tipoConteudo->podeApagarConteudos == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn <?=(($this->tipoConteudo->podeApagarConteudos == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="podeApagarConteudos" value="<?=$this->tipoConteudo->podeApagarConteudos?>" />
                                    </div>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio">Pode ser referência?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="podeSerReferencia_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn <?=(($this->tipoConteudo->podeSerReferencia == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn <?=(($this->tipoConteudo->podeSerReferencia == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="podeSerReferencia" value="<?=$this->tipoConteudo->podeSerReferencia?>" />
                                    </div>
                                </div>
                                
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio">Seleccionar para newsletter?</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="newsletter_<?=$this->tipoConteudo->id?>" data-toggle="buttons-radio" >
                                            <button type="button" value="S" class="btn <?=(($this->tipoConteudo->newsletter == 'S') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_sim')?></button>
                                            <button type="button" value="N" class="btn <?=(($this->tipoConteudo->newsletter == 'N') ? 'active' : '' )?>" data-toggle="button"><?=$this->translate('_nao')?></button>
                                        </div>

                                        <input type="hidden" name="newsletter" value="<?=$this->tipoConteudo->newsletter?>" />
                                    </div>
                                </div>
                                
                                
                                <div class="control-group">
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?=  ucfirst($this->translate('_concluir')) ?>" />
                                    <input style="cursor: pointer;" type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$this->tipoConteudo->id?>'; }});" id="resetbutton" value="<?=$this->translate('_remover')?>" />			
                                    
                                </div>
                            </fieldset>
                        </form>

                </div>


        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->