<div class="span9">
    <h1 class="page-title">
        <i class="ico-conteudos"><img alt="" src="<?= $this->baseUrl() ?>/management/img/icons/banners.png"></i>
        tipos de conteúdo

        <button onclick="location.href='<?php echo $this->url(array('module' => $this->module, 'controller' => $this->controller, 'action' => 'adicionar', 'idioma' => $this->idioma)) ?>'" type="button" class="btn addNew" id="addNew" style="display: block;"><?= $this->translate('_adicionarNova') ?></button>		

    </h1>


    <div class="widget">

        <div class="widget-content">
            <?php if ($this->idiomasWebsite()): ?>
                <ul class="idiomas">
                    <?php foreach ($this->idiomasWebsite() as $key => $idioma) : ?>
                        <li><a class="lang-tab <?= (($this->idioma == $idioma->idioma_iso) ? 'selected' : '' ) ?>" href="<?= $this->baseUrl() ?>/management/<?= $this->controller ?>/index/idioma/<?= $idioma->idioma_iso ?>" ><?= $idioma->idioma_iso ?></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <div class="row-fluid">

                <div class="span12" id="contentsSite">
                    <?= $this->render('alert.phtml') ?>
                    
                    <table id="tabela" class="tablesorter">
                            <?php if (count($this->tiposConteudos)): ?>
                            <thead>
                                <tr>
                                    <th>Designação</th>
                                    <th>Características</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="7" class="pager form-horizontal">
                                        <button class="btn first"><i class="icon-step-backward"></i></button>
                                        <button class="btn prev"><i class="icon-arrow-left"></i></button>
                                        <span class="pagedisplay"></span>
                                        <button class="btn next"><i class="icon-arrow-right"></i></button>
                                        <button class="btn last"><i class="icon-step-forward"></i></button>
                                        <div id="filterPages">
                                        <select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
                                        </select>
                                        </div>
                                        
                                    </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <?php foreach ($this->tiposConteudos as $key => $tipo) : ?>
                                <?php
                                //echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'caracteristicas', 'id' => $tipo->id) ) 
                                ?>
                                <tr onclick="location.href='<?= $this->baseUrl ?>/management/tipos-conteudos/editar/main_id/<?= $tipo->main_id ?>/idioma/<?= $tipo->idioma_iso ?>'">
                                    <td><?= $tipo->designacao ?></td>
                                    <td>
                                        
                                        (Título <?= (($tipo->temDescricao == 'S') ? ', Texto' : '' ) ?><?= (($this->quantasCaractTipoCont($tipo->id) > 0) ? ' e mais '.$this->quantasCaractTipoCont($tipo->id) : '' ) ?>
                                        <?php if ($this->quantasCaractTipoCont($tipo->id) > 0): ?>
                                        <a href="<?= $this->baseUrl ?>/management/tipos-conteudos/caracteristicas/id/<?= $tipo->id ?>" title="Ver outras características"><img src="<?= $this->baseUrl ?>/management/img/caracteristicas.png" alt="" border="0"/></a>
                                        <?php else: ?>
                                        <a href="<?= $this->baseUrl ?>/management/caracteristicas-tipos-conteudos/adicionar" title="Adicionar característica"><img src="<?= $this->baseUrl ?>/management/img/caracteristicas-add.png" alt="" border="0"/></a>)
                                        <?php endif; ?>
                                        )
                                    </td>
                                    
                                </tr>
                                <?php endforeach; ?>
                            </tbody>
                            <?php endif; ?>
                    </table>

                    


                </div>
            </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->