<div id="navinfo">

	<h2 class="navegador"><a href="<?=$this->baseUrl. "/" .$this->module?>" target="_self" title="<?= $this->module ?>"><?= $this->module ?></a> > <a href="<?= $this->baseUrl . "/" . $this->module . "/" . $this->controller?>" target="_self" title="<?= $this->controller ?>"><?= $this->controller ?></a> > <a href="<?= $this->baseUrl . "/" . $this->module . "/" . $this->controller . "/" . $this->action?>" target="_self" title="<?= $this->action ?>"><?= $this->action ?></a> </h2>

</div>

<br />



<div id="navinfo">

	<div id="infoPHP">Mova os itens do menu e no final escolha a opção <strong>"Salvar Alterações"</strong></div>
	<h1>Ordenar produtos da colecção <b><?=$this->designacaoAN?></b></h1>
	<form action="" method="POST">

	<input name="menuId" value="" id="menuId" type="hidden">

		<ul class="sortable" style="float:left; height:inherit; width:100%; display:block;">
		<?php foreach($this->categorias as $item) : ?>
		<li class="sortableItem"><a style="-moz-user-select: none;" href="#" class="handle"></a>
			<input name="id[]" style="height:22px;" value="<?=$item->id ?>" id="id" type="hidden">
			<input name="label[]" style="height:22px; padding-left:5px; margin-left: 30px; margin-top: -25px; width:269px; color:#000000;" id="label" value="<?=$item->designacao ?>" disabled="disabled" type="text">
		</li>
		<?php endforeach; ?> 

	</ul>

	<input style="background-color:#2C2C2C; color:#FFFFFF; margin-top:10px; font-size:11px;" name="save" id="save" value="Salvar Alterações" type="submit">

</form>

</div>

