<div class="span9">

    <h1 class="page-title">
        <i class="icon-home"></i>
        <?=  ucfirst($this->translate('_editar')) ?> <?=$this->translate('_roles')?>		
    </h1>

    
    <div class="widget">

        <div class="widget-content">
            
            <div class="row-fluid">
                
                    <div class="span12" id="contentsSite">
                        <?=$this->render('alert.phtml')?>
                        <div id="containerAN"> 
                            <div id="loading" style="top: 22%;">
                                <img src="<?= $this->baseUrl() ?>/management/img/loading.gif" width="53" height="53" /> <p>A carregar permissões... </p>
                            </div>
                            
                            <div id="rightSide" style="top: 21%;">
                                
                            </div>
                            
                            <div id="leftSide">
                                

                                <h3>Gerir Privilégios</h3>
                                <div class="stat-holder">						
                                    <select id="selectRole" class="elemento-change">
                                        <?php foreach ($this->roles as $key => $role) : ?>
                                            <option value="<?= $role->id_role ?>" <?php if ($this->role == $role->id_role): ?> selected="selected" <?php endif; ?>><?= $role->designacao ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                                
                                
                                
                                
                                
                                <h4>Seleccione um componente e se seguida seleccione as acções a que o tipo de utilizador tem acesso.</h4>
                                <ul id="main-contentIdiomas-nav" class="nav nav-tabs nav-stacked">
                                    
                                    <?php foreach ($this->recursos as $key => $recurso) : ?>
                                    <li id="tipo_<?= $recurso->controladorNome ?>">
                                        <a href="javascript:void(0);">
                                            <table style="width:100%;border-collapse:collapse;">
                                                <tr>
                                                    <td style="width: 79%;padding: 2% 0 2% 4%;" onClick="javascript:obterRecursos('<?= $recurso->controladorNome ?>');"><div class="name" style="text-transform: uppercase;"><?= $recurso->descricao ?></div></td>
                                                </tr>
                                            </table>
                                        </a>
                                    </li>
                                    <?php endforeach; ?>


                                </ul>
                                
                            </div>
                            
                                


                        </div>
                </div>
            </div>
            
        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->