<h4>Acções:</h4> 
<?php if (count($this->privilegios)): ?>
<a href="javascript:void(0);" class="closeItens"><?=$this->translate('_fechar')?></a>
<ul id="sub-categories-nav" class="nav nav-tabs nav-stacked">
    
    <?php foreach($this->privilegios as $key => $privilegio) : ?>
    <li id="conteudo_1" >
        <input  name="recurso[]" id="<?=$privilegio->id_privilegio?>" onclick="javascript:enviaPermissao('<?=$privilegio->id_privilegio?>');" type="checkbox" title="Seleccionar <?=$privilegio->descricao?>" value="<?=$privilegio->descricao?>"
                <?=(($this->regras->verificaPermissao($this->role, $privilegio->id_privilegio)>0) ? 'checked="yes"' : '' )?>
        >
        <span id="flash_<?=$privilegio->id_privilegio?>" style="display:none;">
            <img style="float: left;margin-left: 2px;margin-right: 2px;width: 16px;height: 16px;padding-top: 2px;" src="<?=$this->baseUrl()?>/management/img/loading2.gif" />
        </span>
        <h5><?=$privilegio->descricao?></h5>
    </li>
    <?php endforeach; ?>
</ul>
<?php else: ?>
<div class="privilegios">
    <h5>Não foram encontradas acções para este recurso.</h5>
</div>
<?php endif; ?>

<script type="text/javascript">
    $(function(){
        $('#loading').css('display', 'none');
    });
    
</script>
