
<?php $display = new Zend_Session_Namespace('display'); ?>
<?php if(isset($display->display)): ?>
    <div class="alert alert-success">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <strong><?=$display->display?></strong> 
    </div>
    <?php unset($display->display); ?>
<?php endif; ?>