<script type="text/javascript" src="<?=$this->baseUrl()?>/management/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="<?=$this->baseUrl()?>/management/js/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript">
tinyMCE.init({
		// General options
                language : "pt",
                relative_urls : false,
                remove_script_host : false,
                
                document_base_url : "<?=(($this->controller == 'conteudos' && in_array($this->tipo_id, array(9, 10, 11, 12))) ? $this->baseUrl().'/uploads/' : '' )?>",
                convert_urls : <?=(($this->controller == 'conteudos' && in_array($this->tipo_id, array(9, 10, 11, 12))) ? 'true' : 'false' )?>,
                
		width: '100%',
		height: '<?=(($this->controller == 'conteudos') ? '300px' : '250px' )?>', 
		mode : "exact",
                entity_encoding:"raw",
		elements : "descricao, desenvolvimento, mensagem, introducao_pt, introducao_en, introducao_es, conteudo_pt, conteudo_en, conteudo_es, desenvolvimento_pt, desenvolvimento_en, desenvolvimento_es",
		theme : "advanced",
		plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,youtube",
		// Theme options
                theme_advanced_buttons1:
"code,|,bold,italic,underline,justifyleft,justifycenter,justifyright,justifyfull,outdent,indent,image,table,bullist,numlist,media,link,unlink",
		// Theme options
		theme_advanced_buttons2 : "undo,redo,formatselect,fontsizeselect,forecolor",
		theme_advanced_buttons3 : "",
		theme_advanced_buttons4 : "",

		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : false,

		// Example content CSS (should be your site CSS)
	 content_css : "<?=$this->baseUrl;?>/js/examples/css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "<?=$this->baseUrl()?>/js/examples/lists/template_list.js",
		external_link_list_url : "<?=$this->baseUrl()?>/js/examples/lists/link_list.js",
		external_image_list_url : "<?=$this->baseUrl()?>/js/examples/lists/image_list.js",
		media_external_list_url : "<?=$this->baseUrl()?>/js/examples/lists/media_list.js",
    file_browser_callback : "tinyBrowser",
		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}

	});
</script>