<ul id="main-cotesi-nav" class="nav nav-tabs nav-stacked">
    <li <?=(($this->controller == 'roles') ? 'class="active"' : '' )?>>
        <a href="<?= $this->baseUrl() ?>/management/roles/">
            <?=$this->translate('_menuTiposUtilizadores')?> 		
        </a>
    </li>
    
    <li <?=(($this->controller == 'utilizadores') ? 'class="active"' : '' )?>>
        <a href="<?= $this->baseUrl() ?>/management/utilizadores/">
            <?=$this->translate('_menuUtilizadores')?> 		
        </a>
    </li>

    
    
    <li <?=(($this->controller == 'privilegios') ? 'class="active"' : '' )?>>
        <a href="<?= $this->baseUrl() ?>/management/privilegios/">
            <?=$this->translate('_menuRoles')?> 		
        </a>
    </li>
    
</ul>

<?php if(in_array($this->infoUtilizador()->role_id, array(1))): ?>
<ul id="main-contentsType-nav" class="nav nav-tabs nav-stacked">
    <li <?= (($this->controller == 'tipos-conteudos') ? 'class="active"' : '' ) ?>>
        <a href="<?= $this->baseUrl() ?>/management/tipos-conteudos">
            <?=$this->translate('_menuTiposConteudo')?>		
        </a>
    </li>

    <li <?=(($this->controller == 'caracteristicas-tipos-conteudos') ? 'class="active"' : '' )?>>
        <a href="<?= $this->baseUrl() ?>/management/caracteristicas-tipos-conteudos"> 
            <?=$this->translate('_menuCaracteristicas')?>		
        </a>
    </li>
</ul>
<?php endif; ?>

<ul id="main-components-nav" class="nav nav-tabs nav-stacked">

    <li <?= (($this->controller == 'configuracoes') ? 'class="active"' : '' ) ?>>
        <a href="<?= $this->baseUrl() ?>/management/configuracoes">
            <?= $this->translate('_menuConfiguracoes') ?>	
        </a>
    </li>
    
    
    <li <?= (($this->controller == 'conteudos') ? 'class="active"' : '' ) ?>>
        <a href="<?= $this->baseUrl() ?>/management/conteudos">
            <?= $this->translate('_menuConteudos') ?>	
        </a>
    </li>
    
    <li <?=(($this->controller == 'galerias') ? 'class="active"' : '' )?>>
        <a href="<?= $this->baseUrl() ?>/management/galerias">
            <?=$this->translate('Galerias')?>
        </a>
    </li>
    
    <li <?= (($this->controller == 'banners') ? 'class="active"' : '' ) ?>>
        <a href="<?= $this->baseUrl() ?>/management/banners/editar/seccao/homePage">
            <?= $this->translate('Banners') ?>	
        </a>
    </li>
    

    <li <?= (($this->controller == 'menus') ? 'class="active"' : '' ) ?>>
        <a href="<?= $this->baseUrl() ?>/management/menus">
            <?= $this->translate('_menuMenus') ?>	
        </a>
    </li>
</ul>



<br />