

<div class="BaseDestaques" >     
    <div class="imagemFundo">
        <img src="<?= $this->baseUrl() ?>/images/ieminho2013 (3).jpg" >
        <div class="infoBase">
            <div class="tituloBase">  
                O Ieminho tem blalalalalaff 
                sssss
                fffff
            </div>
            <br/>

            <div class="textoBase">  
                O primeiro protótipo da casa Uchi já está pronto e pode ser visitado no Instituto Empresarial do Minho
                hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
                hhhhhhh gggggggg hhhhhhhhhhhh
            </div>
        </div>
    </div>


    <div class="destaques">

        <div class="row row_top">   
            <img src="<?= $this->baseUrl() ?>/images/greytop.png" >
        </div>
        <div class="row">         
            <div class="span4" >     
                <div class="destaques1">
                    <div class="info">
                        <div class="titulo">
                            Apresente a sua ideia de negócio

                        </div>
                        <div class="texto">
                            O empreendedor que possui uma ideia de projeto ou produto já pronto poderá se candidatar à incubadora.
                        </div>
                    </div>
                </div>
            </div>

            <div class="span4" >
                <div class="destaques2" >
                    <img src="<?= $this->baseUrl() ?>/images/destaque2.jpg" >
                    <a href="<?= $this->baseUrl() ?>/incubadora">  <div class="botao">

                            Conheça a Incubadora

                        </div></a>

                </div>
            </div>

            <div class="span4" >
                <div class="destaques3">
                    <div class="info">
                        <div class="titulo">
                            Os nossos serviços

                        </div>
                        <div class="texto">
                            Apoio à criação de empresas! <br/>
                            O empreendedor que possui uma ideia de projeto ou produto já pronto poderá se candidatar à incubadora.
                        </div>
                    </div>
                </div>   
            </div>   
        </div>

        <div class="row row_bottom">   
            <img src="<?= $this->baseUrl() ?>/images/bottomred.png" style="float:right" alt="Smiley face">
        </div>


    </div>
</div>

<br/>
<div class="linha"> </div>
<br/>
<div class="BaseSetores">      

    <div class="esquerdoSetores">
        <div class="row">
          <div class="span3">
        <div class="empresa">
            <img src="<?= $this->baseUrl() ?>/images/empresa1.jpg" alt="Smiley face">
            <div class="nome_empresa"> Plantit</div>
            <div class="plus_empresa">  
                <a href="<?= $this->baseUrl() ?>/incubado/">  <img src="<?= $this->baseUrl() ?>/images/plus.png" alt="Smiley face">
                </a>
            </div>   
        </div>
          </div>

               <div class="span3">
        <div class="empresa">
            <img src="<?= $this->baseUrl() ?>/images/empresa2.jpg" alt="Smiley face">
            <div class="nome_empresa"> Plantit
            </div>
            <div class="plus_empresa">  
                <a href="<?= $this->baseUrl() ?>/incubado/">  <img src="<?= $this->baseUrl() ?>/images/plus.png" alt="Smiley face"></a>
            </div>   
        </div></div>
        </div>
        <div class="row">
            <div class="span3">
        <div class="empresa">
            <img src="/images/empresa3.jpg" alt="Smiley face">
            <div class="nome_empresa"> Plantit</div>
            <div class="plus_empresa">  
                <a href="<?= $this->baseUrl() ?>/incubado/">   <img src="/images/plus.png" alt="Smiley face"> </a>
            </div>   
        </div>
            </div>

            <div class="span3">
        <div class="empresa">
            <img src="/images/empresa4.jpg" alt="Smiley face">
            <div class="nome_empresa"> Plantit</div>     
            <div class="plus_empresa">  
                <a href="<?= $this->baseUrl() ?>/incubado/">  <img src="/images/plus.png" alt="Smiley face"> </a>
            </div>   
        </div>
        </div>
        </div>

    </div>



<div class="direitoSetores">

    <div class="setoresIncubacao">

        <div class="titulo">
            Sectores de <br/>
            incubação:
        </div>

        <div class="texto">

            <a href="#">ggggggggggg</a> <br/>
            <a href="#">ggggggggggg</a> <br/>
            <a href="#">ggggggggggg</a> <br/>
        </div>
    </div> 




    <div class="agenda">
        <div class="titulo">
            Agenda: </div>
        <br/>

        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
    </div>
</div>
</div>


<br/>
    <div class="linha"> </div>
<br/>
<div class="BaseIncubadora">
    <div class="imagemFundo">
        <img src="<?= $this->baseUrl() ?>/images/ieminho2013 (41).jpg" >
    </div>

    <div class="incubadora_img"> 
        <div class="titulo">
            Conheça as empresas que pode encontrar na <b>incubadora do IEMinho<b/>.
        </div>
        <div class="texto">
            O empreendedor que possui uma ideia, projecto ou produto já pronto poderá candidatar-se à Incubadora, através de uma candidatura que se consubstancia na apresentação de um Plano de Negócios. 
        </div>
        <a href="<?= $this->baseUrl() ?>/incubados"> <div class="botao">
                <div class="plus" > +  </div>
                <div class="ver" > Veja quem São</div></div>
    </div> </a>


</div >
<div  id="formacao"></div>
<br/>

<div class="formacoes" >
    <div class="tituloFormacoes">
        Próximas acções de formação
    </div>  
    <br/>

    <div class="row">
        <div class="span3">
            <div class="formacao_span">
                <img src="<?= $this->baseUrl() ?>/images/atividade3.jpg" alt="Smiley face">
            </div>
            <a href="<?= $this->baseUrl() ?>/images/atividade3.jpg"> <div class="formacao_button">
                    <div class="plus"> +  </div>
                    <div class="text">     Inscrever-se </div>
                </div></a>
        </div>


        <div class="span3">
            <div class="formacao_span">
                <img src="<?= $this->baseUrl() ?>/images/atividade3.jpg" alt="Smiley face">
            </div>
            <a href="<?= $this->baseUrl() ?>/images/atividade3.jpg"><div class="formacao_button">
                    <div class="plus"> +  </div>
                    <div class="text">     Inscrever-se </div>
                </div></a>
        </div>


        <div class="span3">
            <div class="formacao_span">
                <img src="<?= $this->baseUrl() ?>/images/atividade3.jpg" alt="Smiley face">
            </div>
            <a href="<?= $this->baseUrl() ?>/images/atividade3.jpg"> <div class="formacao_button">
                    <div class="plus"> +  </div>
                    <div class="text">     Inscrever-se </div>
                </div></a>
        </div>
    </div>
</div>



<br/>
<br/>
<br/>

<div class="atividades">

    <div class="ladoEsquerdo">
        <div class="span4">
            <div class="titulo">Actividades:</div>

            <div class="subtitulo">Exposição: <br/>"O IEMinho em fotografia"</div>
            <br/> <br/>
            <div class="texto"> Com o intuito de desenvolver e estimular as relações interpessoais entre todos os empreendedores vamos levar a cabo uma exposição subordinada ao tema: "O IEMinho em fotografia”. </div>
            <div class="botao">
                <div class="plus"> +  </div>
                <div class="text"> Participe </div>
            </div></div>

    </div>

    <div class="atividade">
        <div class="atividade_img">
            <img src="<?= $this->baseUrl() ?>/images/atividade3.jpg" alt="Smiley face">
        </div>
    </div>

</div>




<?php if ($this->getOptionValue('google-analytics') != NULL): ?>
    <script type="text/javascript"><?= $this->getOptionValue('google-analytics') ?></script>
<?php endif; ?>

