<script type="text/javascript">
    $(document).ready(function() {
        var cat_id = '<?= $this->categoria_id ?>';

        if (cat_id) {
            $('#galeriafotos').show();
        } else {
            $('#galeriafotos').hide();
        }
    });
</script>

<section class="grid_6">
    <div class="block-border" style="min-width: 70%;">
        <div class="block-content">

            <h1>Adicionar ficheiros</h1>

            <form id="informacoes" method="post" enctype="multipart/form-data" action="">
                <div id="main" style="min-height: 450px;">

                    <label for="categoria_id">Categoria: </label>
                    <select name="categoria_id" id="categoria_id" onchange="OnSelectionChange(this);">
                        <? if (!isset($this->categoria_id)) : ?>
                            <option value=""  selected="selected">-- Selecione uma opção --</option>
                        <? endif; ?>
                        <?php foreach ($this->categoriasG as $key => $categoria) : ?>
                            <option value="<?= $categoria->id ?>" <?= (($this->categoria_id == $categoria->id) ? 'selected="selected"' : '') ?> ><?= $this->filtrarConteudoLingua('pt', $categoria->designacao, TRUE) ?></option>
                        <?php endforeach; ?>
                    </select>


                    <ul id="lista-fotos"></ul>

                    <div id="galeriafotos"></div>

                    <script>

    var comboCategorias = document.getElementById("categoria_id");
    var categoria_id = comboCategorias.options[comboCategorias.selectedIndex].value;

    function OnSelectionChange(select) {
        var selectedOption = select.options[select.selectedIndex];

        window.open('<?= $this->baseUrl ?>/management/galerias/adicionar-ficheiros/categoria/' + selectedOption.value + '/', '_self');
    }



    function createUploader() {
        var uploader = new qq.FileUploader({
            element: document.getElementById('galeriafotos'),
            listElement: document.getElementById('lista-fotos'),
            action: '<?= $this->baseUrl() ?>/management/galerias/adicionar-ficheiros',
            params: {categoria_id: categoria_id},
            allowedExtensions: ['png', 'jpg', 'jpeg', 'gif', 'bmp', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'pdf', 'txt', 'rar', 'zip', 'mp3', 'wave'],
            debug: true,
            onComplete: function(id, fileName, responseJSON) {
                if (responseJSON.success === true) {

                    var textAreaIdiomas = '<div class="descriptions">';
<?php foreach ($this->idiomas as $key => $idioma) : ?>
                        textAreaIdiomas += '<p class="descriptionPicture" id="galeria_<?= $idioma->iso ?>_' + responseJSON.id_bd + '">Introduza uma descrição em <?= $idioma->designacao ?></p>';
<?php endforeach; ?>
                    textAreaIdiomas += '</div>';

                    if (responseJSON.ext === 'doc' || responseJSON.ext === 'docx') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/Word-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }

                    if (responseJSON.ext === 'xls' || responseJSON.ext === 'xlsx') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/Excel-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }

                    if (responseJSON.ext === 'ppt' || responseJSON.ext === 'ppts') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/PPT-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }

                    if (responseJSON.ext === 'txt') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/TXT-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }

                    if (responseJSON.ext === 'pdf') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/PDF-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }
                    
                    if (responseJSON.ext === 'rar' || responseJSON.ext === 'zip') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/ZIP-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }
                    
                    if (responseJSON.ext === 'mp3' || responseJSON.ext === 'wave') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/Audio-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }
                    
                    if (responseJSON.ext === 'jpg' || responseJSON.ext === 'jpeg' || responseJSON.ext === 'gif' || responseJSON.ext === 'png' || responseJSON.ext === 'bmp') {
                        var textAreaImgs = "<img src='<?= $this->baseUrl() ?>/images/management/PICT-icon.png' alt='" + responseJSON.nameFile + "' width='48' height='48' />";
                    }

                    $("#areaFiles").append('<div class="file">' + textAreaIdiomas + textAreaImgs + '</div>');

                    //messageBox("ok "+ responseJSON.nameFile, "Informação", "OK");
                    $(".descriptionPicture").editable("/management/galerias/atualizar-descricao-ficheiro", {
                        indicator: '<img src="<?php echo $this->baseUrl(); ?>/images/management/loading.gif">',
                        type: 'textarea',
                        select: true,
                        submit: 'Salvar',
                        placeholder: "Duplo clique para editar",
                        style: "inherit",
                        callback: function(x) {
                            if (x === 'erro') {
                                messageBox('Erro ao atribuir designação.', 'Informação/Erro', 'Ok');
                            } else {
                                // messageBox('Resultado: '+x+' <br/>', 'Informação', 'Ok');
                            }
                        }
                    });


                } else {
                    messageBox("Não foi possível carregar o ficheiro. ", "Informação", "OK");
                }
                /*
                 console.debug(responseJSON);
                 alert(responseJSON)*/

            },
            template: '<div class="qq-uploader">' +
                    '<div class="qq-upload-drop-area"><span>Arraste para aqui os ficheiros...</span></div>' +
                    '<div class="qq-upload-button">Carregar Ficheiros...<div>' +
                    '<ul class="qq-upload-list"></ul>' +
                    '</div>',
            showMessage: function(message) {
                alert(message);
            }

        });
    }
    window.onload = createUploader;
                    </script> 
                    <div id="areaFiles">
                    </div>

<!--<textarea name="ficheiros" id="ficheiros"></textarea> -->


                </div>

                <div id="not-main">
                    <h1>Opções</h1>
                    <div class="block">
                        <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="Publicar" />
                        <input style="cursor: pointer;" onclick="messageBoxRedirect('Pretende sair da edição do registo ?', 'Confirmação', 'Sim', 'Não', '/management/galerias/ficheiros');" type="button" id="cancelbutton" value="Calcelar" />
                    </div>
                    <div>Extensões permitidas: png, jpg, jpeg, gif, bmp, doc, docx, xls, xlsx, ppt, pptx, pdf, zip, rar, txt, mp3 e wave.</div>
                </div>

            </form>

        </div>
    </div>
</section>

