<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/categorias.png"></i>
            <?=$this->translate('_categorias')?> (galerias)
        </h1>
       
        <div class="widget-content">
                 
                 <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
            <?=$this->render('alert.phtml')?>
                <div class="tab-content">
                    
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>
                                
                                <div class="group-name">
                                    <?=$this->translate('_categorias')?> (galerias)
                                </div>
                                <div class="group-action">
                                    
                                </div>
                              
                                
                              <br /><br />
                              
                            <div id="configuracoesIdioma">
                            <?php if($this->idiomasWebsite()):?>
                            <ul class="langs">
                                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'adicionar', 'idioma' => $idioma->idioma_iso)) ?>" ><?=$idioma->idioma_iso?></a></li>
                                    <?php endforeach; ?>
                                
                                
                                <div class="fields-langs">
                                    
                                    
                                    <div class="control-group">											
                                        <label class="control-label" for="designacao"><?=$this->translate('_nomeCategoria')?></label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="designacao" id="designacao" value="">
                                        </div> 			
                                    </div>
                                                                        
                                    <div class="control-group">											
                                        <label class="control-label" for="apagar"><?=$this->translate('Pode apagar?')?></label>
                                        <div class="controls">
                                            <select name="apagar" id="apagar">
                                                <option value="S">Sim</option>
                                                <option value="N">Não</option>
                                            </select>
                                        </div> 			
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="control-label" for="ligacao"><?=$this->translate('Ligação')?></label>
                                        <div class="controls">
                                            <select name="ligacao" id="ligacao">
                                                <option value="imagens">Imagens</option>
                                                <option value="videos">Videos</option>
                                                <option value="ficheiros">Ficheiros</option>
                                            </select>
                                        </div> 			
                                    </div>
                                    
                                    <div class="control-group" style="margin-top: 16px;">											
                                        <div class="estado">
                                            <div class="labelEstado"><?=$this->translate('_estadoActivo')?> </div> 
                                            <input type="checkbox" id="estado" name="estado" value="A" checked=""> 
                                        </div>
                                        <div class="desc">ON</div>
                                    </div>
                                    
                                    
                                    
                                    <div class="control-group">											
                                        <div class="subCategorias">
                                            <div class="labelSubCat"><?=$this->translate('_subCategoriasDependente')?>? </div> 
                                            <input type="checkbox" id="subCategorias" name="subCategorias" value="N"> 
                                        </div>
                                        <div class="descSubCat"><?=$this->translate('_sim')?></div>
                                    </div>
                                    
                                </div>
                            </ul>
                            
                            <?php endif; ?>
                            </div>
                              
                              <div id="rightForm">
                                  <h4><?=$this->translate('_subCategorias')?></h4> 
                                  <span class="addItem" id="createItemSubCat"><?=$this->translate('_criarNova')?></span>
                                  
                                    <div class="listagem" id="subCategories">
                                        
                                    </div>
                                    
                                    <div id="subCatShowHide">
                                        <label for="subCategoria"><?=$this->translate('_nomeSubCategoria')?></label>
                                        <input id="subCategoria" name="subCategoria" />
                                        <span id="addSubCatToList"><?=$this->translate('_adicionar')?></span>
                                    </div>
                                    
                                </div>
                              
                                
                              <div class="control-group" id="actionsForm">
                                    
                                  <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?= ucfirst($this->translate('_adicionar')) ?>" />
                                  <input style="cursor: pointer;" type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>'; }});" id="resetbutton" value="<?=$this->translate('_sair')?>" />			
                                </div>
                            </fieldset>
                        </form>
                </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->