<div class="span9">
    <h1 class="page-title">
        <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/categorias.png"></i>
         <?=$this->translate('_categorias')?> (galerias)
        <button onclick="location.href='<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'adicionar-categoria', 'idioma' => $this->idioma) ) ?>'" type="button" class="btn addNew" id="addNew" style="display: block;"><?=$this->translate('_adicionarNova')?></button>		
    </h1>


        
    <div class="widget">

        <div class="widget-content">
            
            <?php if($this->idiomasWebsite()):?>
            <ul class="idiomas">
                <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                        <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?=$this->baseUrl()?>/management/<?=$this->controller?>/categorias/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                <?php endforeach; ?>



            </ul>
            <?php endif; ?>
            <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a> 
                </div>
            
            <?php if (count($this->categoriasG)): ?>
            
            <?php else: ?>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Não existem registos	
            </div>
            <?php endif; ?>
            <div id="areasNegIdioma">
                  <?=$this->render('alert.phtml')?>

                <?php if (count($this->categoriasG)): ?>
                    <ul id="main-contentIdiomas-nav" class="nav nav-tabs nav-stacked">

                        <?php foreach($this->categoriasG as $key => $categoria) : ?>
                        <li class="categoria" id="cat_<?=$categoria->id?>"><a href="<?=(($categoria->categoria_pai != NULL) ? '#' : $this->baseUrl().'/management/'.$this->controller.'/editar-categoria/id/'.$categoria->id.'/idioma/'.$categoria->idioma_iso)?>">
                                <table style="width:100%;border-collapse:collapse;">
                                        <td style="width: 1%;"><div class="order"><img width="31" height="26" alt="<?=$categoria->designacao?>" src="<?=$this->baseUrl()?>/management/img/drag.png"></div></td> 
                                        <td style="width: 70%;padding-left: <?=(($categoria->categoria_pai != NULL) ? '5%' : '2%')?>;"><div class="name"><?=$categoria->designacao?> <?=(($categoria->categoria_pai != NULL) ? '// <b style="text-transform: uppercase;">'.$this->categoriaPaiGaleria($categoria->categoria_pai).'</b>' : '' )?></div></td>
                                        <td style="width: 19%;"><div class="owner"><?=(($categoria->estado == 'A') ? $this->translate('_activa') : $this->translate('_inactiva') )?></div></td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                        <?php endforeach; ?>


                    </ul>
                <?php endif; ?>
                
            </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->