<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/categorias.png"></i>
            <?=$this->translate('_categorias')?>
        </h1>
       
        <div class="widget-content">
                 
                 
                <div class="tab-content">
                    
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>
                                
                                <div class="group-name">
                                     <?=$this->translate('_categorias')?>
                                </div>
                                <div class="group-action">
                                    
                                </div>
                              
                                
                              <br /><br />
                              
                            <div id="configuracoesIdioma">
                            <?php if($this->idiomasWebsite()):?>
                            <ul class="langs">
                                    <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                                            <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'editar', 'sharedKey' => $this->sharedKey, 'idioma' => $idioma->idioma_iso)) ?>" ><?=$idioma->idioma_iso?></a></li>
                                    <?php endforeach; ?>
                                
                                
                                <div class="fields-langs">
                                                                        
                                    <div class="control-group">											
                                        <label class="control-label" for="designacao"><?=$this->translate('_nomeCategoria')?></label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="designacao" id="designacao" value="<?=$this->categoria->designacao?>">
                                        </div> 			
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="control-label" for="apagar"><?=$this->translate('Pode apagar?')?></label>
                                        <div class="controls">
                                            <select name="apagar" id="apagar">
                                                <option value="S" <?=(($this->categoria->apagar == 'S') ? 'selected=""' : '' )?>>Sim</option>
                                                <option value="N" <?=(($this->categoria->apagar == 'N') ? 'selected=""' : '' )?>>Não</option>
                                            </select>
                                        </div> 			
                                    </div>
                                    
                                    <div class="control-group">											
                                        <label class="control-label" for="ligacao"><?=$this->translate('Ligação')?></label>
                                        <div class="controls">
                                            <select name="ligacao" id="ligacao">
                                                <option value="imagens" <?=(($this->categoria->ligacao == 'imagens') ? 'selected=""' : '' )?>>Imagens</option>
                                                <option value="videos" <?=(($this->categoria->ligacao == 'videos') ? 'selected=""' : '' )?>>Videos</option>
                                                <option value="ficheiros" <?=(($this->categoria->ligacao == 'ficheiros') ? 'selected=""' : '' )?>>Ficheiros</option>
                                            </select>
                                        </div> 			
                                    </div>
                                    
                                    <div class="control-group" style="margin-top: 16px;">											
                                        <div class="estado">
                                            <div class="labelEstado"><?=$this->translate('_estadoActivo')?> </div> 
                                            <input type="checkbox" id="estado" name="estado" value="<?=$this->categoria->estado?>" <?=(($this->categoria->estado == 'A') ? 'checked=""' : '' )?> > 
                                        </div>
                                        <div class="desc">ON</div>
                                    </div>
                                    
                                    <div class="control-group" style="margin-top: 16px;">											
                                        <div class="subCategorias">
                                            <div class="labelSubCat"><?=$this->translate('_subCategoriasDependente')?>? </div> 
                                            <input type="checkbox" id="subCategorias" name="subCategorias" value="<?=(($this->categoriaGaleriaTemDependencias($this->categoria->id) == TRUE) ? 'S' : 'N' )?>" <?=(($this->categoriaTemDependencias($this->categoria->id) == TRUE) ? 'checked=""' : '' )?> > 
                                        </div>
                                        <div class="descSubCat"><?=(($this->categoriaGaleriaTemDependencias($this->categoria->id) == TRUE) ? $this->translate('_sim') : $this->translate('_sim') )?></div>
                                    </div>
                                    
                                </div>
                            </ul>
                            
                            <?php endif; ?>
                            </div>
                              
                              
                            <div id="rightForm" <?php if ($this->categoriaGaleriaTemDependencias($this->categoria->id) == TRUE): ?> style="display: block;" <?php endif; ?>>
                                  <h4><?=$this->translate('_subCategorias')?></h4> 
                                  
                                    <div class="listagem" id="subCategories">
                                    <?php foreach($this->subCategoriasGaleriaByCategoriaID($this->categoria->id) as $key => $subCat) : ?>
                                        <div class="subCategoriaItem" id="subCat_<?=$subCat->id?>">
                                            <input type="text" name="subCategoriaItem[]" value="<?=$subCat->designacao?>"/>
                                            <button class="del" onClick="javascript:deleteSubCatFromList('<?=$subCat->id?>');" type="button"><?=$this->translate('_apagar')?></button>
                                            <button class="edit" onClick="javascript:editSubCatFromList('<?=$subCat->id?>');" type="button"><?=$this->translate('_editar')?></button>
                                        </div>
                                    <?php endforeach; ?>
                                    </div>
                                    
                                    <label for="subCategoria"><?=$this->translate('_nomeSubCategoria')?></label>
                                    <input id="subCategoria" name="subCategoria" />
                                    <span class="addItem" id="createItemSubCat"><?=$this->translate('_criarNova')?></span>
                                    
                                    <span id="finishSubcat"><?=$this->translate('_concluir')?></span>
                            </div>
                                
                              <div class="control-group" id="actionsForm">
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?=$this->translate('_concluir')?>" />
                                     
                                     
                                    <input style="cursor: pointer;" type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$this->categoria->id?>'; }});" id="resetbutton" value="<?=$this->translate('_remover')?>" />			
                                </div>
                                
                        <!--         <span class="badge badge-error">apagar</span>
                                 <span class="badge badge-inverse">adicionar</span> -->
                            </fieldset>
                        </form>
                </div>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->