<?php if(count($this->registos)):?>
<?php foreach($this->registos as $key => $registo) : ?>
<div class="plan-container" id="ficheiro_<?=$registo->id?>">

        <span class="status">categoria: <b><a href="#" class="categoria_id" data-type="select" data-pk="<?=$registo->id?>" data-value="<?=$registo->categoria_id?>" data-source="<?=$this->baseUrl()?>/management/galerias/categorias-array" data-url="<?=$this->baseUrl()?>/management/galerias/actualizar-categoria-ficheiro" data-original-title="Indique a categoria"><?=$this->categoriaPaiGaleria($registo->categoria_id)?></a></b></span>
        <div class="plan">	
                <div class="delFile"><a href="javascript:void()" onClick="apagarFicheiro('<?=$registo->id?>', 'imagem')"><img alt="" title="Apagar" src="<?=$this->baseUrl()?>/management/img/delete.png" /></a></div>
                <a style="text-align: center;padding: 1px;" class="thumbnail plain" href="javascript:void()">
                    <img width="131" height="151" border="0" alt="<?=$registo->ficheiro?>" src="<?= $this->baseUrl() ?>/uploads/images/galeria/<?=$registo->ficheiro?>">
                    <div class="plan-actions" style="margin-top: 0px;">				
                        <a href="#" class="descricaoFicheiro" data-type="textarea"data-pk="<?=$registo->id?>" data-url="<?=$this->baseUrl()?>/management/galerias/actualizar-designacao-ficheiro" data-original-title="Descrição..."><?=($registo->descricao != NULL ? $registo->descricao : $registo->ficheiro)?>	</a>
                    </div> 

                </a>

        </div> 
</div> 
<?php endforeach; ?>

<?php else: ?>
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Não foram encontrados registos	
</div>
<?php endif; ?>
<script src="<?=$this->baseUrl()?>/management/js/<?=$this->controller?>.js"></script>
<script type="text/javascript">
    $(function(){
        
    });
</script>