<div class="span9">
    <h1 class="page-title">
        <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/banners.png"></i>
        <?=  ucfirst($this->translate('galeria'))?> de imagens
        <button type="button" href="#menu-types" class="btn addNew uploadFiles" id="addNew" style="display: block;"><?=ucfirst($this->translate('_adicionar'))?> imagens</button>		
    </h1>
    
    <div id="menu-types" style="display: none;width: 640px; height: 480px;">
        <select name="categoria_id" id="categoria_id" onchange="OnSelectionChange(this);">
            
            <option value="" selected="">Seleccione uma categoria</option>
            <?php if (count($this->categoriasG)): ?>
                    <?php foreach ($this->categoriasG as $key => $cat) : ?>
                        <option value="<?= $cat->id ?>"><?= $cat->designacao ?></option>
                        
                        <?php if (count($this->subCategoriasGaleriaByCategoriaID($cat->id))): ?>
                         <optgroup label="Subcategorias (<?= $cat->designacao ?>)">
                            <?php foreach($this->subCategoriasGaleriaByCategoriaID($cat->id) as $key => $subcat) : ?>
                            <option value="<?= $subcat->id ?>"><?= $subcat->designacao ?></option>
                            <?php endforeach; ?>
                        </optgroup>
                        <?php endif; ?>
                        
                    <?php endforeach; ?>
            <?php endif; ?>
        </select>
        
        
        
        
        <div class="alert category" style="padding:3px 34px 4px 14px; float: right; width: 361px;display: none;">
            <i></i>
        </div>
        <div id='injection_site'></div>
        <div class="control-group" id="uploadImgAN" style="display: block;clear: both; margin-top: 15px;">
            <div id="ficheirosmedia" style="width: 639px; height: 400px;"></div> 
            
            <div id="msg" class="alert" style="padding: 4px 31px 4px 17px; float: left; width: 92%;margin: 0;display: none;">  
            <a class="close" data-dismiss="alert">×</a>  
                <i></i>  
            </div>
        </div>
        
        
        
        <style type="text/css">
            .qq-upload-button{
                padding: 169px 0;
                width: 635px;
            }
            .qq-upload-drop-area{
                left: 3px;
                padding: 204px 0 0;
                top: 51px;
                width: 634px;
            }
            ul.qq-upload-list li.qq-upload-fail span.qq-upload-failed-text{
                display: none!important;
            }
        </style>
        
        <script type="text/javascript">
            var comboCategorias = document.getElementById("categoria_id");
            var categoria_id = comboCategorias.options[comboCategorias.selectedIndex].value;
            function OnSelectionChange(select) {
                var selectedOption = select.options[select.selectedIndex];
                uploader.setParams({categoria_id: selectedOption.value});
                return selectedOption.value;
            }
    
            function createUploader(){  

                var uploader = new qq.FileUploader({
                    element: document.getElementById('ficheirosmedia'),
                    listElement: document.getElementById('separate-list'),
                    action: window.location.protocol + "//" + window.location.host + window.location.pathname,
                    params: {categoria_id: categoria_id},
                    debug: true,
                    onSubmit: function(id, fileName) {
                        var comboCategorias = document.getElementById("categoria_id");
                        uploader.setParams({
                            categoria_id: comboCategorias.options[comboCategorias.selectedIndex].value
                        });
                    },
                    onComplete: function(id, fileName, responseJSON){
                        if(responseJSON.success == true){ 
    
                            $("#msg").removeClass("alert-error").addClass("alert-success");
                            $("#msg i").html("Operação efectuada com <strong>sucesso!</strong> ");
                            $("#msg").show().delay(4000).fadeOut();
                            $("#allProducts").append('<div class="plan-container"><span class="status">categoria: <b>'+responseJSON.categoria+'</b></span><div class="plan"><a style="text-align: center;" class="thumbnail plain" href="javascript:void()"><img width="131" border="0" height="151" alt="" src="<?= $this->baseUrl() ?>/uploads/images/galeria/'+responseJSON.nameFile+'"><div class="plan-actions">'+responseJSON.nameFile+'</div></a></div></div>');
                            
                            //$("#allProducts").append('<div id="ficheiro_'+responseJSON.id+'" class="plan-container"><span class="status">categoria: <b><a data-original-title="Indique a categoria" data-url="<?= $this->baseUrl() ?>/management/galerias/actualizar-categoria-ficheiro" data-source="<?= $this->baseUrl() ?>/management/galerias/categorias-array" data-value="'+responseJSON.categoria_id+'" data-pk="'+responseJSON.id+'" data-type="select" class="categoria_id editable editable-click" href="#">'+responseJSON.categoria+'</a></b></span><div class="plan"><div class="delFile" style="display: none;"><a onclick="apagarFicheiro(\''+responseJSON.id+'\', \'imagem\');" href="javascript:void()"><img src="<?= $this->baseUrl() ?>/management/img/delete.png" title="Apagar" alt=""></a></div><a href="javascript:void()" class="thumbnail plain" style="text-align: center;padding: 1px;"><img width="131" border="0" height="151" src="<?= $this->baseUrl() ?>/uploads/images/galeria/'+responseJSON.nameFile+'" alt="'+responseJSON.nameFile+'"></a><div style="margin-top: 0px;" class="plan-actions"><a href="javascript:void()" class="thumbnail plain" style="text-align: center;padding: 1px;"></a><a data-original-title="Descrição..." data-url="<?= $this->baseUrl() ?>/management/galerias/actualizar-designacao-ficheiro" data-pk="'+responseJSON.id+'" data-type="textarea" class="descricaoFicheiro editable editable-click" href="#">'+responseJSON.nameFile+'</a></div></div></div>');
                        }else{
                            $("#msg").removeClass("alert-success").addClass("alert-error");
                            $("#msg i").html("Não foi possível carregar o ficheiro.");
                            $("#msg").show().delay(4000).fadeOut();
                        }
                    },
                    template: '<div class="qq-uploader">' + 
                    '<div class="qq-upload-drop-area"><span>Arraste ficheiros para carregá-los</span></div>' +
                    '<div class="qq-upload-button">carregar imagem <br /> respeite as dimensoes aconselhadas </div>' +

                    '<ul class="qq-upload-list"></ul>' + 
                    '</div>',
                    showMessage: function(message){ 
                        bootbox.alert(message);
                    }

                });           
            }
            
        </script>
        
        
        
        
    </div>
    
    <div class="widget">
        
        <div class="widget-content">
            <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a> 
                </div>
            <div class="row-fluid">
                <div class="span12" id="products">
                    <?php if($this->idiomasWebsite()):?>
                    <ul class="idiomas">
                        <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                                <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?= $this->baseUrl() ?>/<?=$this->module?>/<?=$this->controller?>/index/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                        <?php endforeach; ?>
                    </ul>
                    <?php endif; ?>
                    <?=$this->render('alert.phtml')?>
                    
                        <div class="topsplash">
                            
                            <?php if(count($this->categoriasG)):?>
                                <?php foreach($this->categoriasG as $key => $categoria) : ?>
                                <div class="checkboxItem">
                                            <span class="ui-checkbox"><input type="checkbox" value="<?=$categoria->id?>" name="categoria" checked=""></span>
                                            <div class="checkboxLabel label"><?=$categoria->designacao?></div>
                                            
                                            <?php if($this->subCategoriasGaleriaByCategoriaID($categoria->id)):?>
                                            <?php foreach($this->subCategoriasGaleriaByCategoriaID($categoria->id) as $key => $subcat) : ?>
                                            <div class="checkboxSubItem">
                                                <span class="ui-checkbox"><input type="checkbox" value="<?=$subcat->id?>" name="categoria" checked=""></span>
                                                        <div class="checkboxLabel label"><?=$subcat->designacao?></div>
                                            </div>
                                            <?php endforeach; ?>
                                            <?php endif; ?>
                                </div>
                            
                                <?php if(($key+1)%4==0):?>
                                <div class="clear" style="float: left;padding: 0 0 8px;width: 99%;"></div>
                                <?php endif; ?>
                                
                                <?php endforeach; ?>
                            <?php endif; ?>
                       </div>
                    
                    
                    <div class="pricing-plans plans-4" id="allProducts" style="clear: both;margin-top: 15px;">
                        <?php if(count($this->registos)):?>
                        <?php foreach($this->registos as $key => $registo) : ?>
                        <div class="plan-container" id="ficheiro_<?=$registo->id?>">
                           
                                <span class="status">categoria: <b><a href="#" class="categoria_id" data-type="select" data-pk="<?=$registo->id?>" data-value="<?=$registo->categoria_id?>" data-source="<?=$this->baseUrl()?>/management/galerias/categorias-array" data-url="<?=$this->baseUrl()?>/management/galerias/actualizar-categoria-ficheiro" data-original-title="Indique a categoria"><?=$this->categoriaPaiGaleria($registo->categoria_id)?></a></b></span>
                                <div class="plan">	
                                        <div class="delFile"><a href="javascript:void()" onClick="apagarFicheiro('<?=$registo->id?>', 'imagem')"><img alt="" title="Apagar" src="<?=$this->baseUrl()?>/management/img/delete.png" /></a></div>
                                        <a style="text-align: center;padding: 1px;" class="thumbnail plain" href="javascript:void()">
                                            <img width="131" height="151" border="0" alt="<?=$registo->ficheiro?>" src="<?= $this->baseUrl() ?>/uploads/images/galeria/<?=$registo->ficheiro?>">
                                            <div class="plan-actions" style="margin-top: 0px;">				
                                                <a href="#" class="descricaoFicheiro" data-type="textarea"data-pk="<?=$registo->id?>" data-url="<?=$this->baseUrl()?>/management/galerias/actualizar-designacao-ficheiro" data-original-title="Descrição..."><?=($registo->descricao != NULL ? $registo->descricao : $registo->ficheiro)?>	</a>
                                            </div> 
                                            
                                        </a>
                                    
                               </div> 
                        </div> 
                        <?php endforeach; ?>
                        
                        <?php else: ?>
                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Não foram encontrados registos	
                        </div>
                        <?php endif; ?>
                    </div>
            </div>
        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->