<div class="span9">
    <h1 class="page-title">
        <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/banners.png"></i>
        <?=  ucfirst($this->translate('galeria'))?>s  
    </h1>
    


    <div class="widget">
        
        
        
        <div class="widget-content">

            <div class="row-fluid">
                <div class="span12" id="products">
                    <?php if($this->idiomasWebsite()):?>
                    <ul class="idiomas">
                        <?php foreach($this->idiomasWebsite() as $key => $idioma) : ?>
                                <li><a class="lang-tab <?=(($this->idioma == $idioma->idioma_iso) ? 'selected' : '' )?>" href="<?= $this->baseUrl() ?>/<?=$this->module?>/<?=$this->controller?>/index/idioma/<?=$idioma->idioma_iso?>" ><?=$idioma->idioma_iso?></a></li>
                        <?php endforeach; ?>
                    </ul>
                    <?php endif; ?>
                    <?=$this->render('alert.phtml')?>
                    
                    <div class="pricing-plans plans-4" id="allProducts">
                        <div class="plan-container">
                                <div class="plan">	
                                        <a style="text-align: center;" class="thumbnail plain" href="<?= $this->baseUrl() ?>/management/galerias/categorias/idioma/<?=$this->idioma?>">
                                        <img width="131" border="0" height="151" alt="Categorias" src="<?= $this->baseUrl() ?>/images/cpanel/icon-48-gallery-category.png">
                                                <div class="plan-actions">				
                                                        Categorias		
                                                </div> 
                                        </a>
                            </div> 
                        </div> 
                        
                        
                        <div class="plan-container">
                                <div class="plan">	
                                        <a style="text-align: center;" class="thumbnail plain" href="<?= $this->baseUrl() ?>/management/galerias/imagens/idioma/<?=$this->idioma?>">
                                        <img width="131" border="0" height="151" alt="Galeria Imagens	" src="<?= $this->baseUrl() ?>/images/cpanel/icon-48-media.png">
                                                <div class="plan-actions">				
                                                        Galeria Imagens		
                                                </div> 
                                        </a>
                            </div> 
                        </div> 
                        
                        
                        
                    <!--    <div class="plan-container">
                                <div class="plan">	
                                        <a style="text-align: center;" class="thumbnail plain" href="javascript:void()">
                                        <img width="131" border="0" height="151" alt="Galeria Ficheiros" src="<?= $this->baseUrl() ?>/images/cpanel/icon-48-media.png">
                                                <div class="plan-actions">				
                                                        Galeria Ficheiros		
                                                </div> 
                                        </a>
                            </div> 
                        </div> 
                        
                        
                        <div class="plan-container">
                                <div class="plan">	
                                        <a style="text-align: center;" class="thumbnail plain" href="javascript:void()">
                                        <img width="131" border="0" height="151" alt="Galeria Vídeos" src="<?= $this->baseUrl() ?>/images/cpanel/icon-48-media.png">
                                                <div class="plan-actions">				
                                                        Galeria Vídeos		
                                                </div> 
                                        </a>
                            </div> 
                        </div>  -->
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->