<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="icon-home"></i>
            <?=$this->translate('_adicionarNovo')?> <?=$this->translate('_utilizador')?>		
        </h1>

        <div class="widget-content">
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    <?=$this->translate('_fichaUtilizador')?>
                                </div>
                              
                              <div class="control-group">
                                    
                                  <label class="filebutton">
                                        <div id="upload">
                                            <div id="preview" draggable="true"><img width="53" height="53" alt="" src="<?=$this->baseUrl()?>/uploads/images/utilizadores/sample-user.jpg"></div>
                                        </div>                                        
                                        <span id='deleteFile'><?=$this->translate('_remover')?></span> 
                                        <input type="hidden" id="fileImage" name="fileImage" value="sample-user.jpg">
                                    </label>
                                    
                                </div>
                                
                                
                                
                                <div class="control-group">											
                                    <label class="control-label" for="nome"><?=$this->translate('_nome')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="nome" id="nome" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="lastname"><?=$this->translate('_apelido')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="apelido" id="apelido" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="email">email</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="email" id="email" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_role')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="role_id" data-toggle="buttons-radio" >
                                            
                                            <?php foreach($this->getRoles() as $key => $role) : ?>
                                            <button type="button" value="<?=$role->id_role?>" class="btn <?=($key==0) ? 'active' : ''?>" data-toggle="button"><?=  ucfirst($role->designacao) ?></button>
                                            <?php endforeach; ?>
                                        </div>
                                        <input type="hidden" name="role_id" value="1" />
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_estado')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="estado" data-toggle="buttons-radio" >
                                            <button type="button" value="A" class="btn active" data-toggle="button"><?=$this->translate('_activo')?></button>
                                            <button type="button" value="I" class="btn" data-toggle="button"><?=$this->translate('_inactivo')?></button>
                                        </div>
                                        <input type="hidden" name="estado" value="A" />
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                
                                <br />
                                <div class="group-name">
                                    <?=$this->translate('_accessData')?>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="login" title="nome de utilizador">login</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="login" id="login" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="password">password</label>
                                    <div class="controls">
                                        <input type="password" class="input-large" name="password" id="password" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->

                                
                                <div class="control-group">
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?=$this->translate('_adicionar')?>" />
                                    <input style="cursor: pointer;" type="reset" id="resetbutton" value="<?=$this->translate('_limpar')?>" />  			
                                </div>
                            </fieldset>
                        </form>

                    
                </div>









        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->