<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-users"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/users.png"></i>
            <?=$this->translate('_fichaUtilizador')?>		
        </h1>

        <div class="widget-content">
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <?=$this->render('alert.phtml')?>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    <?=$this->translate('_fichaUtilizador')?>
                                </div>
                                
                                <div class="group-action">
                                    <?php if(($this->userSession->id == $this->id)): ?>
                                    <a id="editbutton" href="<?=$this->baseUrl()?>/<?=$this->module?>/<?=$this->controller?>/perfil/"><?=$this->translate('_editar')?></a>
                                    <?php else: ?> 
                                    <a id="editbutton" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'editar', 'id' => $this->utilizador->id ) ) ?>"><?=$this->translate('_editar')?></a>
                                    <?php endif; ?>
                                </div>
                                
                              
                              <div class="control-group">
                                  <label class="filebutton">
                                        <?php if(($this->infoUtilizador()->foto != null)): ?>
                                            <div id="preview" draggable="true"><img width="53" height="53" alt="" src="<?=$this->baseUrl()?>/uploads/images/utilizadores/<?=($this->utilizador->foto != NULL ? $this->utilizador->foto : 'sample-user.jpg')?>"></div>
                                        <?php else: ?> 
                                            <img src="<?=$this->baseUrl()?>/management/img/headshot.png" width="53" height="53" alt="" class="thumbnail" />
                                        <?php endif; ?>
                                    </label>
                                </div>
                                
                                 
                                
                                <div class="control-group">											
                                    <label class="control-label" for="nome"><?=$this->translate('_nome')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="nome" id="nome" value="<?=$this->utilizador->nome?>" disabled="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="lastname"><?=$this->translate('_apelido')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="apelido" id="apelido" value="<?=$this->utilizador->apelido?>" disabled="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="email">email</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="email" id="email" value="<?=$this->utilizador->email?>" disabled="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_role')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle="buttons-radio">
                                            <button type="button" name="idioma_iso" id="idioma_iso" class="btn active" disabled=""><?=$this->role?></button>
                                        </div>
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                
                                
                                <br />
                                <div class="group-name">
                                    <?=$this->translate('_accessData')?>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="login" title="nome de utilizador">login</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="login" id="login" value="<?=$this->utilizador->login?>" disabled="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="password">password</label>
                                    <div class="controls">
                                        <input type="password" class="input-large" name="password" id="password" value="" disabled="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->

                            </fieldset>
                        </form>

                </div>


        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->