<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-users"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/users.png"></i>
            <?=  ucfirst($this->translate('_editar')) ?> <?=$this->translate('_fichaUtilizador')?>		
        </h1>

        <div class="widget-content">
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    <?=$this->translate('_fichaUtilizador')?>
                                </div>
                                
                              
                                <div class="control-group">
                                  <label class="filebutton">
                                      <?php if($this->utilizador->foto != NULL && $this->utilizador->foto != 'sample-user.jpg'):?>
                                         
                                        <div id="upload">
                                            <div id="preview" draggable="true"><img width="53" height="53" alt="" src="<?=$this->baseUrl()?>/uploads/images/utilizadores/<?=$this->utilizador->foto?>"></div>
                                        </div>       
                                        <span id='deleteFile' style="display: block;"><?=$this->translate('_remover')?></span>
                                        <input type="hidden" id="fileImage" name="fileImage" value="<?=$this->utilizador->foto?>">
                                    <?php else: ?>
                                        <div id="upload">
                                            <span id='imgRepres'><?=$this->translate('_submeterFoto')?><br/>125px<br/>125px</span> 
                                            <div id="preview" draggable="true"></div>
                                        </div>                                        
                                        <span id='deleteFile'><?=$this->translate('_remover')?></span> 
                                        <input type="hidden" id="fileImage" name="fileImage" value="">
                                    <?php endif; ?>
                                </label>
                                    
                                </div>
                                
                                
                                <div class="control-group">											
                                    <label class="control-label" for="nome"><?=$this->translate('_nome')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="nome" id="nome" value="<?=$this->utilizador->nome?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="lastname"><?=$this->translate('_apelido')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="apelido" id="apelido" value="<?=$this->utilizador->apelido?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="email">email</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="email" id="email" value="<?=$this->utilizador->email?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->

                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_role')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="role_id" data-toggle="buttons-radio" >
                                            
                                            <?php foreach($this->getRoles() as $key => $role) : ?>
                                            <button type="button" value="<?=$role->id_role?>" class="btn <?=($role->id_role==$this->utilizador->role_id) ? 'active' : ''?>" data-toggle="button"><?=  ucfirst($role->designacao) ?></button>
                                            <?php endforeach; ?>
                                        </div>
                                        <input type="hidden" name="role_id" value="<?=$this->utilizador->role_id?>" />
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_estado')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="estado" data-toggle="buttons-radio" >
                                            <button type="button" value="A" class="btn <?= (($this->utilizador->estado == 'A') ? 'active' : '' ) ?>" data-toggle="button"><?=$this->translate('_activo')?></button>
                                            <button type="button" value="I" class="btn <?= (($this->utilizador->estado == 'I') ? 'active' : '' ) ?>" data-toggle="button"><?=$this->translate('_inactivo')?></button>
                                        </div>
                                        <input type="hidden" name="estado" value="<?=$this->utilizador->estado?>" />
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                
                                <br />
                                <div class="group-name">
                                    <?=$this->translate('_accessData')?>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="login" title="nome de utilizador">login</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="login" id="login" value="<?=$this->utilizador->login?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="password">password</label>
                                    <div class="controls">
                                        <input type="password" class="input-large" name="password" id="password" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?=$this->translate('_concluir')?>" />
                                    
                                    <?php if(($this->userSession->id != $this->id)): ?>
                                        <input style="cursor: pointer;" type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$this->utilizador->id?>'; }});" id="resetbutton" value="<?=$this->translate('_remover')?>" />			
                                    <?php endif; ?>
                                </div>
                            </fieldset>
                        </form>

                </div>


        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->