<div class="span9">
    
    <h1 class="page-title">
        <i class="ico-users"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/users.png"></i>
         <?=  ucfirst($this->translate('_utilizadores'))?>
        <button onclick="location.href='<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'adicionar') ) ?>'" type="button" class="btn addNew" id="addNew" style="display: block;"><?=$this->translate('_adicionarNovo')?></button>		
    </h1>


        
    <div class="widget">
        
        <div class="widget-content">
            
            <?=$this->render('alert.phtml')?>
            <?php if (count($this->utilizadores)): ?>
            <ul id="main-websites-nav" class="nav nav-tabs nav-stacked">

                <?php foreach($this->utilizadores as $key => $utilizador) : ?>
                <li><a href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'detalhe', 'id' => $utilizador->id ) ) ?>">
                        <table style="width:100%;border-collapse:collapse;">
                                <td style="width: 15%;"><div class="logo"><img width="52" height="52" alt="<?=$utilizador->nome?>" src="<?=$this->baseUrl()?>/uploads/images/utilizadores/<?=($utilizador->foto != NULL ? $utilizador->foto : 'sample-user.jpg')?>"></div></td>
                                <td style="width: 45%;"><div class="name"><?=$utilizador->nome?> <?=$utilizador->apelido?></div></td>
                                <td style="width: 45%;"><div class="owner"><?=$this->role($utilizador->role_id)?> </div></td>
                            </tr>
                        </table>
                    </a>
                </li>
                <?php endforeach; ?>

                
            </ul>
            <?php endif; ?>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->