<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="icon-home"></i>
            <?=  ucfirst($this->translate('_editar')) ?> <?=$this->translate('_fichaUtilizador')?>		
        </h1>

        <div class="widget-content">
                <?=$this->render('alert.phtml')?>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    <?=$this->translate('_fichaUtilizador')?>
                                </div>
                                
                              
                              <div class="control-group">
                                    
                                  <label class="filebutton">
                                        <div id="upload">
                                            <div id="preview" draggable="true"><img width="53" height="53" alt="" src="<?=$this->baseUrl()?>/uploads/images/utilizadores/<?=$this->utilizador->foto?>"></div>
                                        </div>       
                                      <span id='deleteFile' style="display: block;"><?=$this->translate('_remover')?></span>
                                         
                                        <input type="hidden" id="fileImage" name="fileImage" value="<?=$this->utilizador->foto?>">
                                    </label>
                                    
                                </div>
                                
                                
                                
                                <div class="control-group">											
                                    <label class="control-label" for="nome"><?=$this->translate('_nome')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="nome" id="nome" value="<?=$this->utilizador->nome?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="lastname"><?=$this->translate('_apelido')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="apelido" id="apelido" value="<?=$this->utilizador->apelido?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="email">email</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="email" id="email" value="<?=$this->utilizador->email?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <br />
                                <div class="group-name">
                                    <?=$this->translate('_accessData')?>
                                </div>

                                <div class="control-group">											
                                    <label class="control-label" for="login" title="nome de utilizador">login</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="login" id="login" value="<?=$this->utilizador->login?>">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="password">password</label>
                                    <div class="controls">
                                        <input type="password" class="input-large" name="password" id="password" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->

                                
                                <div class="control-group">
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?=$this->translate('_concluir')?>" />
                                     		
                                </div>
                            </fieldset>
                        </form>

                </div>


        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->