
<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-products"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/banners.png"></i>
            Banners
        </h1>
       
        <div class="widget-content">
                 
                 <?=$this->render('alert.phtml')?>
                <div class="tab-banners">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>
                                
                                <div class="group-name">
                                   <?=$this->translate('_menuBanners')?> (posições do site)
                                </div>    
                                
                                
                              <br /><br />
                              
                            <div id="configuracoesIdioma">
                            <ul class="nav nav-pills">
                                <li <?= (($this->seccao == 'homePage') ? 'class="active"' : '' ) ?>><a href="<?=$this->baseUrl()?>/management/banners/editar/seccao/homePage">Homepage</a></li>
                                <li <?= (($this->seccao == 'lateralDireita') ? 'class="active"' : '' ) ?>><a href="<?=$this->baseUrl()?>/management/banners/editar/seccao/lateralDireita">Lateral direira</a></li>
                                <li <?= (($this->seccao == 'finalpagina') ? 'class="active"' : '' ) ?>><a href="<?=$this->baseUrl()?>/management/banners/editar/seccao/finalpagina">Final página</a></li>
                            </ul>
                            
                            
                            <div class="banners-langs">
                                <span> <?=$this->translate('Imagem(s) para ')?> <b><?=  ucfirst($this->seccao)?></b> </span>
                                <div id="showImage">
                                    <div class="image"></div>
                                    <div class="actions">
                                        <ul>
                                            <li><a class="delete" href="javascript:void(0)" onClick="javascript:deleteImage();"><?=$this->translate('_apagar')?> <?=$this->translate('banner')?></a></li>
<!--                                            <li><a class="edit crop" href="javascript:void(0)" onClick=""><?=$this->translate('_editar')?> <?=$this->translate('_foto')?></a></li>-->
                                            
                                        </ul>
                                    </div>
                                </div>
                                
                                <div id="waiting" style="display: none;">
                                    <p>A carregar... por favor aguarde.</p>

                                    <img src="<?=$this->baseUrl()?>/management/img/loading.gif" alt="Por favor aguarde....">   
                                </div>
                                <div id="formFields">
                                    
                                    
                                </div>
                                <div class="control-group" style="margin-top: 0px;" id="actionsForm">
                                    <input style="cursor: pointer;" type="submit" name="submit" id="donebutton" value="<?=  ucfirst($this->translate('Salvar')) ?>" />
                                    <input style="cursor: pointer;" type="button" id="addbutton" onClick="javascript:voltar();" value="<?=$this->translate('_adicionarNova')?>" />
                               </div>
                                <div id="ficheirosmedia" style="height: 251px; width: 538px;"></div>
                                
                                <ul id="separate-list"></ul>
                                
                                <span class="infoOrder"><?=$this->translate('_ordemVisionamento')?> </span>
                                
                                <?php if($this->banners):?>
                                    
                                        <div id="preview" class="ui-sortable">
                                            <?php foreach($this->banners as $key => $banner) : ?>
                                            <div id="<?=current(explode(".", $banner->imagem))?>" data="<?=$banner->id?>" class="preview">
                                                <img alt="" src="<?=$this->baseUrl()?>/uploads/images/banners/<?=$banner->imagem?>">
                                                <span><?=$banner->posicao?></span>
                                            </div>
                                             <?php endforeach; ?>
                                            
                                        </div>
                                   
                                <?php else: ?>
                                <div id="preview"></div>
                                <?php endif; ?>
                                
<!--                                <span id="aplicar">aplicar</span>-->
                            </div>
                            <div id='injection_site'></div>
                            
                            </div>
                              
                              
                              
                              
                              </fieldset>
                        </form>
                </div>


        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div> <!-- /span9 -->