<div id="datas-publicacao">
    <div id="tri"></div>
    <div id="datas">
        <div class="control-group" style="padding-left: 5px;">			
            <label class="control-label" style="clear: both;width: 100%;" for="url"><?=$this->translate('Endereço (url)')?></label> 
            <div class="controls">
                <input type="text" class="input-large" name="url" id="url" value="<?=$this->banner->url?>" style="background-color: #FFF;">
            </div> 
        </div>
        
        <div class="control-group" style="padding-bottom: 6px;padding-left: 5px;margin-bottom: 15px;">			
            <label class="control-label" style="clear: both;width: 100%;" for="target"><?=$this->translate('Destino (target)')?></label> 
            <div class="controls">
                <select id="target" name="target" style="background-color: #FFF;">
                    <option value="_self" <?= (($this->banner->target == '_self') ? 'selected=""' : '' ) ?>>Na própria página</option>
                    <option value="_blank" <?= (($this->banner->target == '_blank') ? 'selected=""' : '' ) ?>>Nova página</option>
                </select>
            </div> 
        </div>
        
        <div class="control-group">								
            <div class="controls">
                <input type="hidden" class="input-small" name="id" id="id" value="<?=$this->banner->id?>">
            </div> 				
        </div> 

    </div>

</div>