    
<head>
    <meta charset="utf-8">
    <meta name="language" content="pt" />
    <?= $this->HeadMeta() ?><?= "\n" ?><?= $this->headTitle() ?><?= "\n" ?>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<?= $this->description ?>" />
    <meta name="keywords" content="<?= $this->keywords ?>" />
    <meta name="author" content="Sétima, Lda" />
    <meta name="robots" content="index,follow,noarchive" />
    <meta name="generator" content="SBM - SÉTIMA BACKOFFICE MODULE V2.0  (setima.pt)" />

    <title>IEMinho</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="<?= $this->baseUrl() ?>/images/favicon.ico" />

    <!-- css -->

    <!--
            <link href="<?= $this->baseUrl() ?>/css/style.css" rel="stylesheet">-->
    <link href="<?= $this->baseUrl() ?>/css/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="<?= $this->baseUrl() ?>/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="<?= $this->baseUrl() ?>/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?= $this->baseUrl() ?>/css/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="<?= $this->baseUrl() ?>/css/smartmenus-0.9.3/css/sm-core-css.css" rel="stylesheet" type="text/css" />
    <link href="<?= $this->baseUrl() ?>/css/smartmenus-0.9.3/css/sm-blue/sm-blue.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="<?= $this->baseUrl() ?>/css/smartmenus-0.9.3/css/normalize.css">
    <link rel="stylesheet" href="<?= $this->baseUrl() ?>/css/smartmenus-0.9.3/css/style.css">
    <link rel="stylesheet" href="<?= $this->baseUrl() ?>/css/styleIEM.css">



    <!-- js -->

    <!--
            <link rel="stylesheet" href="<?= $this->baseUrl() ?>/css/ezmark.css" media="all" />-->
    <!--        <link href="<?= $this->baseUrl() ?>/js/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css">-->
    <script src="<?= $this->baseUrl() ?>/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link type="text/css" href="<?= $this->baseUrl() ?>/css/custom-theme/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/MessageBox.js"></script>
<!--        <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.ui.button.js"></script>-->
<!--        <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.maskedinput.min.js"></script>
    <script src="<?= $this->baseUrl() ?>/js/jquery.backstretch.min.js"></script>-->
<!--        <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.fancybox.js?v=2.1.5"></script>
    <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.ezmark.min.js"></script>-->

    <script type="text/javascript" src="<?= $this->baseUrl() ?>/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/css/jquery.fancybox.css?v=2.1.5" media="screen" />

    <script src="<?= $this->baseUrl() ?>/js/common.js"></script>

    <script>

        $(document).ready(function() {


            $('.fancybox').fancybox();

        });



        $(function() {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();

            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function() {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>


    <!-- jQuery -->
<!--        <script type="text/javascript" src="<?= $this->baseUrl() ?>/libs/jquery-loader.js"></script>-->

    <!--         SmartMenus jQuery plugin 
            <script type="text/javascript" src="<?= $this->baseUrl() ?>/jquery.smartmenus.js"></script>-->

    <!--     SmartMenus jQuery init 
        <script type="text/javascript">
            $(function() {
                $('#main-menu').smartmenus({
                    subMenusSubOffsetX: 1,
                    subMenusSubOffsetY: -8
                });
            });
        </script>  -->
</head>

<div  class="container">   
    <div class="base">
        <br/>
        <div class="topInfo">
            <div class="row">
                <div class="span6">
                    <div class="logoDefault">
                        <a href="<?= $this->baseUrl() ?>/"> <img src="<?= $this->baseUrl() ?>/images/logoBig.png" alt="Smiley face">  </a>
                        <p>Centro de Incubação de Empresas</p>
                    </div>
                </div>
                <div class="span4">  

                    <div class="NumeroIncubados">
                        <div class="ladoEsquerdo">

                            <a href="<?= $this->baseUrl() ?>/incubados"> <img src="<?= $this->baseUrl() ?>/images/plus_incubados.png" alt="+">  </a>

                        </div>
                        <div class="ladoDireito">
                            <div class="valor"> 

                                <a href="<?= $this->baseUrl() ?>/incubados">   26 </a>
                            </div>
                            <div class="texto"> 
                                <p> Incubados</p> </div>
                        </div>
                    </div>     
                </div>
            </div>


            <br/>
            <br/>
            <div  class="menuDefaultIEM">
                <nav>  
                    <ul >  

                        <li class="first"><a href="<?= $this->baseUrl() ?>/incubados">Empresas Incubadas</a></li>  
                        <li><a href="<?= $this->baseUrl() ?>/#formacao">Projetos em curso</a></li>  
                        <li><a href="<?= $this->baseUrl() ?>/incubadora">A incubadora</a></li>  
                        <li><a href="<?= $this->baseUrl() ?>/ieminho">Ieminho</a></li>  
                        <!--                                <li>   
                                                            <form method="get" action="/search" id="search">
                                                                <img src="/images/pesquisaDefault.png" alt="Smiley face"> 
                                                                
                                                                <input name="pesquisa" type="text" class="pesquisa_imput"/>
                                                            </form>
                        
                        
                                                        </li>  -->

                        <li id="contatos"><a class="fancybox" href="#contacto_div">Contactos</a></li>    
                    </ul>  

                    <a href="#" id="pull">Menu</a>  
                </nav>  
            </div>
        </div>
        <div id="contacto_div" style="width:400px;display: none;">
            <h3>Etiam quis mi eu elit</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Nulla et lorem eu nibh adipiscing ultricies nec at lacus. Cras laoreet ultricies sem, at blandit mi eleifend aliquam. Nunc enim ipsum, vehicula non pretium varius, cursus ac tortor. Vivamus fringilla congue laoreet. Quisque ultrices sodales orci, quis rhoncus justo auctor in. Phasellus dui eros, bibendum eu feugiat ornare, faucibus eu mi. Nunc aliquet tempus sem, id aliquam diam varius ac. Maecenas nisl nunc, molestie vitae eleifend vel, iaculis sed magna. Aenean tempus lacus vitae orci posuere porttitor eget non felis. Donec lectus elit, aliquam nec eleifend sit amet, vestibulum sed nunc.
            </p>
        </div>

        <div  class="menuIEM">
            <nav>  
                <ul >  
                    <li class="first"><a href="<?= $this->baseUrl() ?>"> <img src="/images/logosticky.png" alt="Smiley face"> </a> </li>
                    <li><a href="<?= $this->baseUrl() ?>/incubados">Empresas Incubadas</a></li>  
                    <li><a href="<?= $this->baseUrl() ?>/#formacao">Projetos em curso</a></li>  
                    <li><a href="<?= $this->baseUrl() ?>/incubadora">A incubadora</a></li>  
                    <li><a href="<?= $this->baseUrl() ?>/ieminho">Ieminho</a></li>  
                    <!--                            <li  class="pesquisa">
                                                    <form method="get" action="/search" id="search">
                    
                                                      <img src="/images/pesquisaDefault.png" alt="Smiley face"> 
                                                       <input name="pesquisa" type="text" class="pesquisa_imput"/>  
                                                    </form>
                    
                    
                                                </li>  -->

                    <li id="contatos"><a class="fancybox" href="#contacto_div">Contactos</a></li>    
                </ul>  

                <a href="#" id="pull">Menu</a>  
            </nav>  
        </div>   

        <?= $this->layout()->content ?>
        <br/>



        <div class="footerIEM">

            <div class="row">
                <div class="span3">
                    <a href="<?= $this->baseUrl() ?>/">  <img src="<?= $this->baseUrl() ?>/images/logo_footer.png" alt="Smiley face"> </a>
                    <p>Centro de Incubação de Empresas</p>
                </div>
                <div class="span3">
                    <nav> 
                        <ul>
                            <li><a href="<?= $this->baseUrl() ?>/incubados">Empresas Incubadas</a></li>

                            <li><a href="<?= $this->baseUrl() ?>/#formacao">Projetos em Curso</a></li>

                            <li><a href="<?= $this->baseUrl() ?>/incubadora">A Incubadora</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="span3">
                    <nav>  
                        <ul>
                            <li><a href="<?= $this->baseUrl() ?>/ieminho">Ieminho</a></li>

                            <li><a <a href="<?= $this->baseUrl() ?>/contactos">Contactos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
        <div class="secondFooter">
            <div class="row">
                <div class="span3">
                    <div class="sigaBase">
                        <div class="siga">
                            Siga-Nos: </div>
                        <div class="imagem1">
                            <img src="<?= $this->baseUrl() ?>/images/facebook_icon.png" alt="Smiley face"></div>
                        <div class="imagem2">
                            <img src="<?= $this->baseUrl() ?>/images/twitter.png" alt="Smiley face">
                        </div>
                    </div>
                </div>
                <div class="span6">

                    <b> © 2013</b>. Política de Privacidade e Acessibilidade

                </div>
            </div>
        </div>
        <br/>
    </div>
</div> 

