<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="icon-home"></i>
            <?=$this->translate('_adicionarNovo')?> <?=$this->translate('_perfil')?>		
        </h1>

        <div class="widget-content">
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <?=$this->render('alert.phtml')?>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    <?=  ucfirst($this->translate('_perfis'))?> de <?=$this->translate('_utilizador')?>
                                </div>
                              
                                <BR />
                                <div class="control-group">											
                                    <label class="control-label" for="designacao"><?=$this->translate('_designacao')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="designacao" id="designacao" value="">
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->


                                <div class="control-group">											
                                    <label class="control-label" for="descricao"><?=$this->translate('_descricao')?></label>
                                    <div class="controls">
                                        <textarea class="input-xlarge" id="descricao" name="descricao" rows="2"></textarea>  
                                    </div> <!-- /controls -->				
                                </div> <!-- /control-group -->
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_estado')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="estado" data-toggle="buttons-radio" >
                                            <button type="button" value="A" class="btn active" data-toggle="button"><?=$this->translate('_activo')?></button>
                                            <button type="button" value="I" class="btn" data-toggle="button"><?=$this->translate('_inactivo')?></button>
                                        </div>
                                        <input type="hidden" name="estado" value="A" />
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->
                                
                                
                                <div class="control-group">
                                    
                                    <input style="cursor: pointer;" type="submit" name="submit" id="submitbutton" value="<?= ucfirst($this->translate('_adicionar')) ?>" />
                                    <input style="cursor: pointer;" type="reset" id="resetbutton" value="<?=$this->translate('_limpar')?>" />  			
                                </div>
                            </fieldset>
                        </form>

                    
                </div>









        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->