<div class="span9">

    <h1 class="page-title">
        <i class="icon-home"></i>
        configurar privilégios	
    </h1>

    
    <div class="widget">

        <div class="widget-content">
            
            <div class="row-fluid">
                
                    <div class="span12" id="contentsSite">
                        <?=$this->render('alert.phtml')?>
                   
                        <div id="containerAN"> 
                            <div id="loading" style="top: 23%;">
                                <img src="<?= $this->baseUrl() ?>/management/img/loading.gif" width="53" height="53" /> <p>A carregar permissões... </p>
                            </div>
                            
                                    
                                <?php foreach ($this->controllersActions as $controller => $controllers) : ?>
                                    <div class="question" style="float: left;width: 72%;margin-bottom: 25px;border: 1px dotted #888;padding: 5px;">
                                        <div style="margin-bottom: 6px;">
                                            <span style="font-weight: bold;margin-left: 3px;text-transform: uppercase;"> <?=$controller?> </span>
                                            <input type="checkbox" <?=($this->recursosModel->existeController($controller) == TRUE) ? 'checked="" disabled=""' : ''?>   onClick="javascript:inserirRecurso('<?=$controller?>');" value="<?=$controller?>" id="<?=$controller?>" name="controllerAction[]" role="checkbox">
                                        </div>
                                        
                                        <?php foreach ($controllers as $a => $action) : ?>
                                        <?php //if controller don't exist in database hide actions ?>
                                        <?php if ($this->recursosModel->existeController($controller) == FALSE): ?>
                                        <div class="checkboxItem">
                                            <div class="checkboxHolder">
                                                <span class="ui-checkbox"><input type="checkbox" disabled="" id="<?=$controller?>_<?= $action?>" value="<?=$action?>" name="controllerAction[]" role="checkbox"></span>
                                            </div>
                                            <div class="checkboxLabel label"><?=$action?></div>
                                        </div>
                                        <?php else: ?>
                                        <div class="checkboxItem">
                                            <div class="checkboxHolder"> 
                                                <span class="ui-checkbox"><input type="checkbox" <?=($this->privilegiosModel->existePrivilegio($controller, $action) == TRUE) ? 'checked="" disabled=""' : ''?> onClick="javascript:inserirPrivilegio('<?=$controller?>', '<?= $action?>');" id="<?=$controller?>_<?= $action?>" value="<?=$action?>" name="controllerAction[]" role="checkbox"></span>
                                            </div>
                                            <div class="checkboxLabel label"><?=$action?></div>
                                        </div>
                                        <?php endif; ?>
                                        
                                        <?php endforeach; ?>
                                        
                                    </div>
                                <?php endforeach; ?>
                                
                            
                                


                        </div>
                </div>
            </div>
            
        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->