<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="ico-users"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/users.png"></i>
            <?=$this->translate('_detalhe')?> <?=$this->translate('_perfil')?>		
        </h1>

        <div class="widget-content">
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <?=$this->render('alert.phtml')?>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    <?=  ucfirst($this->translate('_perfis'))?> de <?=$this->translate('_utilizador')?>
                                </div>
                                
                                <div class="group-action">
                                    <a id="editbutton" href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'editar', 'id' => $this->role->id_role ) ) ?>"><?=$this->translate('_editar')?></a>
                                </div>
                                
                                <div class="control-group">											
                                    <label class="control-label" for="designacao"><?=$this->translate('_designacao')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="designacao" id="designacao" value="<?=$this->role->designacao?>" disabled="">
                                    </div> 			
                                </div> 


                                <div class="control-group">											
                                    <label class="control-label" for="descricao"><?=$this->translate('_descricao')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="descricao" id="descricao" value="<?=$this->role->descricao?>" disabled="">
                                    </div> 			
                                </div> 

                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_estado')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle="buttons-radio">
                                            <button type="button" name="estado" id="estado" class="btn active" disabled=""><?= (($this->role->estado == 'A') ? 'Activo' : 'Não activo' ) ?></button>
                                        </div>
                                    </div> 
                                </div> 
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio">Núm. de <?=$this->translate('_utilizador')?>es a usar este perfil</label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle="buttons-radio">
                                            <button type="button" name="estado" id="estado" class="btn active" disabled=""><?= $this->quantos?></button>
                                        </div>
                                    </div> 
                                </div> 

                            </fieldset>
                        </form>

                </div>
            
                <div id="containerAN"> 
                        <div id="loading" style="top: 355px;">
                            <img src="<?= $this->baseUrl() ?>/management/img/loading.gif" width="53" height="53" /> <p>A carregar permissões... </p>
                        </div>

                        <div id="rightSide" style="top: 355px;border: 1px solid #D5D5D5;border-radius: 5px 5px 5px 5px;">

                        </div>

                        <div id="leftSide">


                            <h3>Gestão de privilégios</h3>

                            <!--  <h4>Seleccione um componente e de seguida seleccione as acções a que o tipo de utilizador tem acesso.</h4> -->
                            <ul id="main-contentIdiomas-nav" class="nav nav-tabs nav-stacked">

                                <?php foreach ($this->recursos as $key => $recurso) : ?>
                                <li id="tipo_<?= $recurso['controladorNome'] ?>">
                                    <a href="javascript:void(0);">
                                        <table style="width:100%;border-collapse:collapse;">
                                            <tr>
                                                <td style="width: 79%;padding: 2% 0 2% 4%;" onClick="javascript:obterRecursos('<?= $recurso['controladorNome'] ?>', '<?=$this->role->id_role?>', '<?=$this->action?>');">
                                                    <div class="name" style="text-transform: uppercase;width: 96%;"><?= $recurso['controladorNome'] ?> <div class="checked"> <img src="<?= $this->baseUrl() ?>/management/img/check.png" width="26" height="19" /></div></div>

                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </li>
                                <?php endforeach; ?>


                            </ul>

                        </div>
               </div>


        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->