<div class="span9">

    <div class="widget">

        <h1 class="page-title">
            <i class="icon-home"></i>
            <?=$this->translate('_editar')?> <?=$this->translate('_perfil')?>		
        </h1>

        <div class="widget-content">
                <div class="backList" >
                    <a href="javascript:void(0);" onclick="window.history.go(-1)"><?=$this->translate('_voltar')?></a>
                </div>
                <?=$this->render('alert.phtml')?>
                <div class="tab-content">
                    <form id="edit-profile" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <fieldset>

                                <div class="group-name">
                                    <?=  ucfirst($this->translate('_perfis'))?> de <?=$this->translate('_utilizador')?>
                                </div>
                              
                                <BR />
                                <div class="control-group">											
                                    <label class="control-label" for="designacao"><?=$this->translate('_designacao')?></label>
                                    <div class="controls">
                                        <input type="text" class="input-large" name="designacao" id="designacao" value="<?=$this->role->designacao?>">
                                    </div> 				
                                </div> 


                                <div class="control-group">											
                                    <label class="control-label" for="descricao"><?=$this->translate('_descricao')?></label>
                                    <div class="controls">
                                        <textarea class="input-xlarge" id="descricao" name="descricao" rows="2"><?=$this->role->descricao?></textarea>  
                                    </div> 				
                                </div> 
                                
                                <div class="control-group">											
                                    <label class="control-label" for="buttons-radio"><?=$this->translate('_estado')?></label>
                                    <div class="controls" style="clear: both;">
                                        <div class="btn-group" data-toggle-name="estado" data-toggle="buttons-radio">
                                            <button type="button" value="A" class="btn <?= (($this->role->estado == 'A') ? 'active' : '' ) ?>" data-toggle="button"><?=$this->translate('_activo')?></button>
                                            <button type="button" value="I" class="btn <?= (($this->role->estado == 'I') ? 'active' : '' ) ?>" data-toggle="button"><?=$this->translate('_inactivo')?></button>
                                        </div>
                                        <input type="hidden" name="estado" id="estado" value="<?=$this->role->estado?>" />
                                    </div> 
                                </div> 
                            </fieldset>
                        </form>
                </div>

                <div id="containerAN"> 
                        <div id="loading" style="top: 565px;">
                            <img src="<?= $this->baseUrl() ?>/management/img/loading.gif" width="53" height="53" /> <p>A carregar permissões... </p>
                        </div>

                        <div id="rightSide" style="top: 565px;">

                        </div>

                        <div id="leftSide" style="">


                            <h3>Gestão de privilégios</h3>

                            <h4>Seleccione um componente e de seguida seleccione as acções a que o tipo de utilizador tem acesso.</h4> 
                            <ul id="main-contentIdiomas-nav" class="nav nav-tabs nav-stacked">
                                    
                                <?php foreach ($this->recursos as $key => $recurso) : ?>
                                <li id="tipo_<?= $recurso->controladorNome ?>">
                                    <a href="javascript:void(0);">
                                        <table style="width:100%;border-collapse:collapse;">
                                            <tr>
                                                <td style="width: 79%;padding: 2% 0 2% 4%;" onClick="javascript:obterRecursos('<?= $recurso->controladorNome ?>', '<?=$this->role->id_role?>', '<?=$this->action?>');">
                                                    <div class="name" style="text-transform: uppercase;width: 96%;"><?= $recurso->descricao ?> <div class="<?= $recurso->controladorNome ?> checked" style="<?= (((int)$this->quantosRecursosDeRole($recurso->controladorNome, $this->role->id_role)>0) ? 'display: block;' : 'display: none;' ) ?>"> <img src="<?= $this->baseUrl() ?>/management/img/check.png" width="26" height="19" /></div> </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </li>
                                <?php endforeach; ?>


                            </ul>
                            
                            <div class="control-group" id="opActions" style="z-index: 1;right: 0px;">
                                    
                                <span id="donebutton" onClick="javascript:updateRole('<?= $this->role->id_role ?>');"><?= ucfirst($this->translate('_concluir')) ?></span>
                                <?php if(in_array($this->role->id_role, array(1,2))): ?>
                                <?php else: ?>
                                    <input style="cursor: pointer;margin-right: 5px;" type="button" onclick="return bootbox.confirm('<?=$this->translate('_temACerteza')?>?', function(result) { if (result) { window.location='<?= $this->baseUrl() ?>/management/<?=$this->controller?>/apagar/id/<?=$this->role->id_role?>'; }});" id="resetbutton" value="<?=$this->translate('_remover')?>" />						
                                <?php endif; ?>
                            </div>

                        </div>
                </div>
            
                







        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div> <!-- /span9 -->