<div class="span9">
    
    <h1 class="page-title">
        <i class="ico-users"><img alt="" src="<?=$this->baseUrl()?>/management/img/icons/users.png"></i>
         <?=  ucfirst($this->translate('_perfis'))?> de <?=$this->translate('_utilizador')?>
        <button onclick="location.href='<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'adicionar') ) ?>'" type="button" class="btn addNew" id="addNew" style="display: block;"><?=$this->translate('_adicionarNovo')?></button>		
    </h1>


        
    <div class="widget">
        
        <div class="widget-content">
            <?=$this->render('alert.phtml')?>
            
            <?php if (count($this->roles)): ?>
            <ul id="main-websites-nav" class="nav nav-tabs nav-stacked">

                <?php foreach($this->roles as $key => $role) : ?>
                <li><a href="<?php echo $this->url(array ('module'=> $this->module, 'controller'=> $this->controller, 'action'=> 'detalhe', 'id' => $role->id_role) ) ?>">
                        <table style="width:100%;height: 36px;border-collapse:collapse;">
                                <td style="width: 35%;"><div class="name"><?=$role->designacao?></div></td>
                                <td style="width: 35%;"><div class="owner"><?=$role->descricao?> </div></td>
                                <td style="width: 10%;"><div><?= (($role->estado == 'A') ? 'Activo' : 'Não activo' ) ?></div></td>
                                <td style="width: 20%;">    <div></div>  </td>
                            </tr>
                        </table>
                    </a>
                </li>
                <?php endforeach; ?>

                
            </ul>
            <?php endif; ?>
            

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->