<div class="span9">

    <h1 class="page-title">
        <i class="icon-home"></i>
        <?= $this->getOptionValue('title') ?> - Administração e gestão do site		
    </h1>

    
    <div class="widget">

        <div class="widget-content">
            <?php if($this->parameters == false): ?>
            <div class="alert">
                <button data-dismiss="alert" class="close" type="button">×</button>
                Para visualizar as estatisticas do site, por favor indique os parâmetros do serviço google analytics
            </div>
            
            
            
            <img src="<?= $this->baseUrl() ?>/management/img/profileGoogleAnalytics.jpg" width="779" height="542" />
            <?php else: ?>
            <h3><?= $this->translate('_visitasUltimoMes') ?></h3>
            
            <div id="stats-graph" style="height:320px" ></div>
            	<div id="legenda">
                <?= $this->translate('_ultimos31Dias') ?> 
                </div>
            <script type="text/javascript">
            function charts() {
	


                if($("#stats-graph").length)
                {	
                    var pageviews = [
                        <?php foreach ($this->results as $key => $row) : ?>
                        <?php $dataFormatada = new Zend_Date($row->getValue('ga:date'), 'YYYYMMdd'); ?>
                        [<?=$dataFormatada->get(Zend_Date::DAY)?>, <?=$row->getMetric('ga:visits')?>], 
                        <?php endforeach; ?>
                        
                    ];

                    var plot = $.plot($("#stats-graph"),
                        [{
                            data: pageviews, 
                            label: "visitas"
                        }], {
                            series: {
                                lines: {
                                    show: true,
                                    lineWidth: 2
                                },
                                points: {
                                    show: true, 
                                    lineWidth: 2 
                                },
                                shadowSize: 0,
                                showMarker:false
                            },
                            grid: {
                                hoverable: true, 
                                clickable: true, 
                                tickColor: "#f9f9f9",
                                borderWidth: 0
                            },
                            legend: {
                                show: true
                            },	
                            
                            colors: ["#1683C2"],
                            
                            xaxis: {
                                label:'Últimos 30 dias',
                                position: "bottom",
                                ticks:31, 
                                tickDecimals: 0
                            },
                            yaxis: {
                                label:'N.º de visitas',
                                
                                show: true,
                                ticks:5, 
                                tickDecimals: 0
                            }
                            
                        });

                    function showTooltip(x, y, contents) {
                        $('<div id="tooltip">' + contents + '</div>').css( {
                            position: 'absolute',
                            display: 'none',
                            top: y + 5,
                            left: x + 5,
                            border: '1px solid #4A515B',
                            padding: '2px',
                            'background-color': '#CCC',
                            opacity: 0.80
                        }).appendTo("body").fadeIn(200);
                    }

                    var previousPoint = null;
                    $("#stats-graph").bind("plothover", function (event, pos, item) {
                        $("#x").text(pos.x.toFixed(2));
                        $("#y").text(pos.y.toFixed(2));

                        if (item) {
                            if (previousPoint != item.dataIndex) {
                                previousPoint = item.dataIndex;

                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(0),
                                y = item.datapoint[1].toFixed(0);

                                showTooltip(item.pageX, item.pageY,
                                "Dia " + x + " : " + y + " " +item.series.label);
                            }
                        }
                        else {
                            $("#tooltip").remove();
                            previousPoint = null;
                        }
                    });

                }
            }
            
            
            </script>
           <?php endif; ?> 
        </div> <!-- /widget-content -->

    </div> <!-- /widget -->



</div> <!-- /span9 -->