
<div id="loginForm">
<form name="login-form" id="login-form" method="post" action="">
    <input type="text" value="Username" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Username';}" id="login" name="login" >
    <input type="password" value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}" id="password" name="password" ><button type="submit" id="submit"></button>
    <button type="button" id="btLostPass">Esqueceu password?</button>
</form>
</div>

<div id="lostPass-form" style="display: none;">
<form name="login-form" id="login-form" method="post" action="<?= $this->baseUrl() ?>/management/index/recuperar-pass">
    <input type="text" value="Digite o seu email" onfocus="if (this.value == 'Digite o seu email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Digite o seu email';}" id="email" name="email" ><button type="submit" id="submit"></button>
    
    <button type="button" id="btLogin">login</button>
</form>
</div>

