<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Dashboard - <?= strtoupper($this->getWebsiteSession(1)) ?></title>

        <link href="<?= $this->baseUrl() ?>/management/css/admin.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl() ?>/management/js/qaptcha/QapTcha.jquery.css" media="screen" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

        <script src="<?= $this->baseUrl() ?>/management/js/jquery-1.7.2.min.js"></script>
        <script src="<?= $this->baseUrl() ?>/management/js/jquery-ui-1.8.15.custom.min.js"></script>
        
        <script src="<?= $this->baseUrl() ?>/management/js/qaptcha/jquery.ui.touch.js"></script>
        <script src="<?= $this->baseUrl() ?>/management/js/qaptcha/QapTcha.jquery.js"></script>


    </head>
    <body>
        
        
            <script type="text/javascript">
                $(document).ready(function() {
                    
                    
                    <?php $display = new Zend_Session_Namespace('display'); ?>
                    <?php if(isset($display->display)): ?>
                         $('#boxlogin').effect("shake", { times: 3 }, 64);
                    <?php endif; ?>
                                            
                    $("input").keypress(function(event) {
                        if (event.which == 13) {
                            $("form").submit();
                            return false; 
                        }
                    });
                    
                    $("#btLostPass").click(function() {
                        $("#loginForm").css('display', 'none');
                        $("#lostPass-form").css('display', 'block');
                    });

                    $("#btLogin").click(function() {
                        $("#lostPass-form").css('display', 'none');
                        $("#loginForm").css('display', 'block');
                    });
                    
                    
                    $("input#password").keyup(function(){
                        var l = $('#loginForm form#login-form input#login').val();
                        var q = $(this).val();
                        if(l.length > 1 && q.length > 1){
                            $("#loginForm form#login-form button#submit").css('display', 'block');
                        }else{
                            $("#loginForm form#login-form button#submit").css('display', 'none');
                        }

                    });
                    
                    $("input#email").keyup(function(){
                        var q = $(this).val();
                        var filter = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        //se mail valido
                        if(filter.test(q)){
                            $("#lostPass-form form#login-form button#submit").css('display', 'block');
                        }else{
                            $("#lostPass-form form#login-form button#submit").css('display', 'none');
                        }

                    });

                });
            </script>
        
        

        <div id="boxlogin">
            
            <?php $display = new Zend_Session_Namespace('display'); ?>
            <?php if(isset($display->display)): ?>
                <p class="error"><?=$display->display?></p>
                <?php unset($display->display); ?>
            <?php endif; ?>
            
                            
            <div id="logo">
                <img src="<?= $this->baseUrl() ?>/management/img/logo.jpg" alt="Logo cotesi" />
            </div>

            <?= $this->layout()->content ?>



        </div>

        <div id="login-footer">
            <p>&copy; SBM 2.0. Desenvolvido por: <a href="http://www.setima.pt" title="Sétima - Tecnologias da Informação e Comunicação, Lda" >setima.pt</a></p>
        </div>
    </body>

</html>
