<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Dashboard - <?= strtoupper($this->getWebsiteSession($_SESSION['website_id'])) ?></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">    

        <link href="<?=$this->baseUrl()?>/management/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?=$this->baseUrl()?>/management/css/bootstrap-responsive.min.css" rel="stylesheet">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
        <link href="<?=$this->baseUrl()?>/management/css/font-awesome.css" rel="stylesheet">

        <link href="<?=$this->baseUrl()?>/management/css/dashboard-cotesi.css" rel="stylesheet"> 
        <link href="<?=$this->baseUrl()?>/management/css/dashboard-cotesi-responsive.css" rel="stylesheet"> 
        
        <link href="<?=$this->baseUrl()?>/management/css/jquery-ui-theme/jquery-ui-1.8.2.custom.css" rel="stylesheet">
        
        <link href="<?=$this->baseUrl()?>/management/css/pages/dashboard.css" rel="stylesheet"> 
        <link href="<?=$this->baseUrl()?>/management/js/fancybox/jquery.fancybox.css?v=2.1.2" media="screen" rel="stylesheet" type="text/css" />

        <link href="<?=$this->baseUrl()?>/management/js/bootstrap-duallistbox/bootstrap-duallistbox.css" rel="stylesheet"> 
        <link href="<?=$this->baseUrl()?>/management/js/bootstrap-duallistbox/prettify/prettify.css" rel="stylesheet" type="text/css" media="all">
<!--        <link href="<?=$this->baseUrl()?>/management/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="all">-->
        <link href="<?=$this->baseUrl()?>/management/js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet"> 
        
        <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/js/fcbkcomplete/fcbkcomplete.css" />
        <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/js/bootstrap-slider/css/slider.css" />
        <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/js/jquery-datetimepicker/jquery.ui.datetime.css" />
        
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>
        
        <div class="navbar navbar-fixed-top">

            <div class="navbar-inner">

                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 				
                    </a>

                    <a class="brand" href="<?= $this->baseUrl() ?>/management/index"><?=$this->translate('_siteDesciption')?>: <b><?=$this->getWebsiteSession($_SESSION['website_id'])?></b></a>

                    <div class="nav-collapse">

                        <ul class="nav pull-right">
                            
                            <li class="divider-vertical"></li>

                            <li class="dropdown">
                                <a href="<?= $this->baseUrl() ?>/management/index/logout"><i class="icon-off"></i> <?=$this->translate('_logout')?></a>
                            </li>
                        </ul>
                        
                        

                    </div> <!-- /nav-collapse -->

                </div> <!-- /container -->

            </div> <!-- /navbar-inner -->

        </div> <!-- /navbar -->




        <div id="content">

            <div class="container">

                <div class="row">

                    <div class="span3">

                        <div class="account-container">

                            <div class="account-avatar">
                                <?php if(($this->infoUtilizador()->foto != null)): ?>
                                    <img width="52" height="52" src="<?=$this->baseUrl()?>/uploads/images/utilizadores/<?=$this->infoUtilizador()->foto?>" alt="" class="thumbnail" />
                                <?php else: ?> 
                                    <img src="<?=$this->baseUrl()?>/management/img/headshot.png" alt="" class="thumbnail" />
                                 <?php endif; ?>
                               
                            </div> <!-- /account-avatar -->

                            <div class="account-details">

                                <span class="account-name"><?=$this->infoUtilizador()->nome?> <?=$this->infoUtilizador()->apelido?></span> 

                                <span class="account-role"> <?=ucfirst($this->infoUtilizador()->role)?></span>
                                
                                <span class="account-actions">
                                    <a href="<?=$this->baseUrl()?>/management/utilizadores/detalhe"><?=$this->translate('_viewProfile')?></a>  
                                </span>

                            </div> <!-- /account-details -->

                        </div> <!-- /account-container -->

                        <hr />
                        

                    </div> <!-- /span3 -->
                    
                    <div class="span9">
                        <h1 class="page-title">
                            <i class="ico-conteudos"><img alt="" src="<?= $this->baseUrl() ?>/management/img/icons/banners.png"></i>
                            sem permissao
                        </h1>


                        <div class="widget">

                            <div class="widget-content">
                                
                                <div class="row-fluid">

                                   <div class="span12">
				
                                            <div class="error-container">

                                                    <h1>Oops!</h1>

                                                    <h2>403 Acesso Negado</h2>

                                                    <div class="error-details">
                                                            Lamentamos, mas não tem permissão para aceder a esta operação.

                                                    </div> <!-- /error-details --> <br />

                                                    <div class="error-actions">
                                                            <a class="btn btn-large btn-primary" href="javascript:history.back()">
                                                                    <i class="icon-chevron-left"></i>
                                                                    &nbsp;
                                                                    Voltar atrás					
                                                            </a>

                                                            <a class="btn btn-large" href="./">
                                                                    <i class="icon-envelope"></i>
                                                                    &nbsp;
                                                                    Contactar o administrador						
                                                            </a>

                                                    </div> <!-- /error-actions -->

                                            </div> <!-- /.error-container -->				


                                    </div>
                                </div>

                            </div> <!-- /widget-content -->

                        </div> <!-- /widget -->



                    </div> <!-- /span9 -->


                </div> <!-- /row -->

            </div> <!-- /container -->

        </div> <!-- /content -->


        




        <!--    javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
<!--        <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>-->
        <script src="<?=$this->baseUrl()?>/management/js/jquery-1.7.2.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery-ui-1.8.15.custom.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/excanvas.min.js"></script>
        <script type="text/javascript" src="<?=$this->baseUrl()?>/management/js/fancybox/jquery.fancybox.js?v=2.1.3"></script>
        
        <script src="<?=$this->baseUrl()?>/management/js/bootbox.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.pie.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.orderBars.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.resize.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/ajaxupload.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.validate.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/messages_pt.js"></script>
        
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-fileupload.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/fileuploader.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/holder.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/farbtastic/farbtastic.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.pajinate.js"></script>
        
        <script src="<?=$this->baseUrl()?>/management/js/<?=$this->controller?>.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/alerts-pt.js"></script> 
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-duallistbox/prettify/prettify.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/nestedSortable/jquery.mjs.nestedSortable.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-editable/bootstrap-editable.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/fcbkcomplete/fcbkcomplete.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-slider/js/bootstrap-slider.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery-datetimepicker/jquery.ui.datetime.src.js"></script>
        
    </body>
</html>
