<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
<!--        <meta charset="koi8-r">-->
        
        <title>Dashboard - <?= $this->getOptionValue('title') ?></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">    

        <link href="<?=$this->baseUrl()?>/management/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?=$this->baseUrl()?>/management/css/bootstrap-responsive.min.css" rel="stylesheet">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
        <link href="<?=$this->baseUrl()?>/management/css/font-awesome.css" rel="stylesheet">

        <link href="<?=$this->baseUrl()?>/management/css/dashboard-cotesi.css" rel="stylesheet"> 
        <link href="<?=$this->baseUrl()?>/management/css/dashboard-cotesi-responsive.css" rel="stylesheet"> 
        
        <link href="<?=$this->baseUrl()?>/management/css/jquery-ui-theme/jquery-ui-1.8.19.custom.css" rel="stylesheet"> <!-- jquery-ui-1.8.2.custom.css -->
        
        <link href="<?=$this->baseUrl()?>/management/css/pages/dashboard.css" rel="stylesheet"> 
        <link href="<?=$this->baseUrl()?>/management/js/fancybox/jquery.fancybox.css?v=2.1.2" media="screen" rel="stylesheet" type="text/css" />

        <link href="<?=$this->baseUrl()?>/management/js/bootstrap-duallistbox/bootstrap-duallistbox.css" rel="stylesheet"> 
        <link href="<?=$this->baseUrl()?>/management/js/bootstrap-duallistbox/prettify/prettify.css" rel="stylesheet" type="text/css" media="all">
        <?php if ($this->controller == 'galerias'): ?>
            <link href="<?=$this->baseUrl()?>/management/js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet"/>
        <?php endif; ?>
        
        <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/js/fcbkcomplete/fcbkcomplete.css" />
        <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/js/jquery-datetimepicker/jquery.ui.datetime.css" />
        
        <link rel="stylesheet" type="text/css" href="<?=$this->baseUrl()?>/management/js/bootstrap-tablesorter/css/theme.bootstrap.css" />
        
        <link rel="stylesheet" media="all" type="text/css" href="<?=$this->baseUrl()?>/management/js/jquery-ui-timepicker/jquery-ui-timepicker.css" />
        
        
        
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>
        
        <div class="navbar navbar-fixed-top">

            <div class="navbar-inner">

                <div class="container">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 				
                    </a>

                    <a class="brand" href="<?= $this->baseUrl() ?>/management/index"><?=$this->translate('_siteDesciption')?>: <b><?= $this->getOptionValue('title') ?></b></a>

                    <div class="nav-collapse">

                        <ul class="nav pull-right">
                            <li>
                                <a href="javascript:void(0)"><span onClick="javascript:language('<?=(($_SESSION['lang'] == 'pt') ? 'en' : 'pt' )?>')" id="lang"><?=(($_SESSION['lang'] == 'pt') ? strtoupper('en')  : strtoupper('pt') )?></span></a>
                            </li>
                            <li class="divider-vertical"></li>

                            <li class="dropdown">
                                <a href="<?= $this->baseUrl() ?>/management/index/logout"><i class="icon-off"></i> <?=$this->translate('_logout')?></a>
                            </li>
                        </ul>
                        
                        

                    </div> <!-- /nav-collapse -->

                </div> <!-- /container -->

            </div> <!-- /navbar-inner -->

        </div> <!-- /navbar -->




        <div id="content">

            <div class="container">

                <div class="row">

                    <div class="span3">

                        <div class="account-container">

                            <div class="account-avatar">
                                <?php if(($this->infoUtilizador()->foto != null)): ?>
                                    <img width="52" height="52" src="<?=$this->baseUrl()?>/uploads/images/utilizadores/<?=$this->infoUtilizador()->foto?>" alt="" class="thumbnail" />
                                <?php else: ?> 
                                    <img src="<?=$this->baseUrl()?>/management/img/headshot.png" alt="" class="thumbnail" />
                                 <?php endif; ?>
                               
                            </div> <!-- /account-avatar -->

                            <div class="account-details">

                                <span class="account-name"><?=$this->infoUtilizador()->nome?> <?=$this->infoUtilizador()->apelido?></span> 

                                <span class="account-role"> <?=ucfirst($this->infoUtilizador()->role)?></span>
                                
                                <span class="account-actions">
                                    <a href="<?=$this->baseUrl()?>/management/utilizadores/detalhe"><?=$this->translate('_viewProfile')?></a>  
                                </span>

                            </div> <!-- /account-details -->

                        </div> <!-- /account-container -->

                        <hr />
                        
                        <?=$this->render('menu.phtml')?>

                    </div> <!-- /span3 -->
                    
                    <?= $this->layout()->content ?>


                </div> <!-- /row -->

            </div> <!-- /container -->

        </div> <!-- /content -->


        




        <!--    javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
<!--        <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>-->
        <script src="<?=$this->baseUrl()?>/management/js/jquery-1.7.2.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery-ui-1.8.19.custom.min.js"></script> <!-- jquery-ui-1.8.15.custom.min.js -->
        <script src="<?=$this->baseUrl()?>/management/js/excanvas.min.js"></script>
        <script type="text/javascript" src="<?=$this->baseUrl()?>/management/js/fancybox/jquery.fancybox.js?v=2.1.3"></script>
        
        <script src="<?=$this->baseUrl()?>/management/js/bootbox.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.pie.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.orderBars.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.flot.resize.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/ajaxupload.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.validate.min.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/messages_pt.js"></script>
        
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-fileupload.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/fileuploader.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/holder.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/farbtastic/farbtastic.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery.pajinate.js"></script>
        <?php if ($this->controller == 'galerias'): ?>
            <script src="<?= $this->baseUrl() ?>/management/js/bootstrap-editable/bootstrap-editable.js"></script>
        <?php endif; ?>
            
        <script src="<?=$this->baseUrl()?>/management/js/<?=$this->controller?>.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/alerts-pt.js"></script> 
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-duallistbox/prettify/prettify.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/nestedSortable/jquery.mjs.nestedSortable.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/fcbkcomplete/fcbkcomplete.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/jquery-datetimepicker/jquery.ui.datetime.src.js"></script>
        
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-tablesorter/js/jquery.tablesorter.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-tablesorter/js/jquery.tablesorter.widgets.js"></script>
        <script src="<?=$this->baseUrl()?>/management/js/bootstrap-tablesorter/js/jquery.tablesorter.pager.js"></script>
        
        
    </body>
</html>
