

                <div class="incubadosBasePage" > 
                    
                <div class="incubadosBasePageTop" > 
                    
                    <div class="row">
                        <div class="span3">
                          <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                         </div>
                        
                        <div class="span3">
                            <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                        
                        <div class="span3">
                             <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                    
                 </div>
                           
                    <div class="row">
                        <div class="span3">
                          <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                         </div>
                        
                        <div class="span3">
                            <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                        
                        <div class="span3">
                             <div class="empresa">
                                        <img src="/images/empresa1.jpg" alt="Smiley face">
                                        <div class="nome_empresa"> Plantit</div>
                                        <div class="plus_empresa">  
                                            <img src="/images/plus.png" alt="Smiley face">
                                        </div>   
                                    </div>
                        </div>
                    
                 </div>
                </div>
                  <div class="linha"> </div>
                  <div>
                 <div class="empresasIncubadas">
                     
                 <div class="titulo">
                   Empresas Incubadas
                 </div>

                 <div class="texto">
                 texto dhdhhdhdhd
                 jdjdjdjjd
                 ddhhdhdh
                 jdjdjjd
                 dndnndnd
                 jdjjdjdj
                 jdjddjjdjdjd
                 jdjdjdj
                 shshshshs
                 jsjsjsj
                 sjsjsjsj
                 </div>
                     <div class="empresas">
                       
                        <div class="nome">
                            nome
                         </div>
                        
                        <div class="setor">
                            setor
                        </div>
                        
                        <div class="descricao">
                            Descrição hdhdhdhhd djdjjdjdjdj djdjjdjdjjd jdjdjjdjd djdjjdjdj jdjdjdj
                        </div>
                     
                 </div>
                         <div class="empresas">
                       
                        <div class="nome">
                            nome
                         </div>
                        
                        <div class="setor">
                            setor
                        </div>
                        
                        <div class="descricao">
                            Descrição hdhdhdhhd djdjjdjdjdj djdjjdjdjjd jdjdjjdjd djdjjdjdj jdjdjdj
                        </div>
                     
                 </div>
                    <div class="empresas">
                       
                        <div class="nome">
                            nome
                         </div>
                        
                        <div class="setor">
                            setor
                        </div>
                        
                        <div class="descricao">
                            Descrição hdhdhdhhd djdjjdjdjdj djdjjdjdjjd jdjdjjdjd djdjjdjdj jdjdjdj
                        </div>
                     
                 </div>
                            <div class="empresas">
                       
                        <div class="nome">
                            nome
                         </div>
                        
                        <div class="setor">
                            setor
                        </div>
                        
                        <div class="descricao">
                            Descrição hdhdhdhhd djdjjdjdjdj djdjjdjdjjd jdjdjjdjd djdjjdjdj jdjdjdj
                        </div>
                     
                 </div>
                </div> 
                  <div class="direitoSetores">

    <div class="setoresIncubacao">

        <div class="titulo">
            Sectores de <br/>
            incubação:
        </div>

        <div class="texto">

            <a href="#">ggggggggggg</a> <br/>
            <a href="#">ggggggggggg</a> <br/>
            <a href="#">ggggggggggg</a> <br/>
        </div>
    </div> 




    <div class="agenda">
        <div class="titulo">
            Agenda: </div>
        <br/>

        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
        <div class="descricaoData">
            <div class="data"> Novembro 26,
                2013</div>
            <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
        </div>
   
</div>
</div>
            </div> 
    </div> 
    