@charset "UTF-8";
/* CSS estilos cotesi */
*{
    margin:0;
    padding:0;
}
a{
    text-decoration:none !important;
}
a:hover{
    text-decoration: underline;
}
img{
    border:0;
}
#detalhe-conteudo{
    float:right;
    width:710px;
    min-height: 680px;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size:9pt;
    color:#888;
    font-weight:normal;

}
#detalhe-conteudo .conteudo{
    float:left;
    width:654px;
    margin-left:46px;
    padding-bottom:20px;
    margin-bottom:10px;
    border-bottom:1px solid #d5d5d5;
}
#detalhe-conteudo .conteudo h2#designacaoConteudo{
    font-size:14pt;
    color:#2b2b2b;
    margin-bottom:10px;
}
#detalhe-conteudo .conteudo h3#designacaoConteudo{
    font-size:14pt;
    color:#2b2b2b;
    margin-bottom:10px;
    text-transform:uppercase;
}
#detalhe-conteudo .conteudo .contactos-topo{
    float:left;
    width:654px;
}
#detalhe-conteudo .conteudo .contactos-topo .imgContacto{
    float:left;
    width:220px;
    height:165px;
    background-color:#000;
}

#detalhe-conteudo .conteudo .contactos-topo .detalheMorada{
    float:left;
    width:424px;
    min-height:165px;
    padding-left:10px;
    line-height: normal;
    color: #888888;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 9pt;
    font-weight: normal;
}
#detalhe-conteudo .conteudo .contactos-topo .detalheMorada h4#tituloContacto{
    text-transform:uppercase;
    font-size:10pt;
    color:#393939;
    margin-top:1px;
    margin-bottom:5px;
}

#detalhe-conteudo .conteudo .contactos-topo .detalheMorada h5#subTituloContacto{
    text-transform:uppercase;
    font-size:8pt;
    color:#393939;
    margin-top:2px;
}

#detalhe-conteudo .conteudo .contactos-topo .detalheMorada .morada{
    float:left;
    margin-bottom:3px;
    width:424px;
}
#detalhe-conteudo .conteudo .contactos-topo .detalheMorada .morada p{
    margin: 0 0 3px 0;
    line-height: normal;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#detalhe-conteudo .conteudo .contactos-topo span#mapaDesignacao{
    text-transform:uppercase;
    float:left;
    width:654px;
    clear:both;
    margin-top:30px;
    color:#000;
}
#detalhe-conteudo .conteudo .contactos-topo span#formDesignacao{
    text-transform:uppercase;
    float:left;
    width:654px;
    clear:both;
    margin-top:20px;
    color:#000;
}
#detalhe-conteudo .conteudo .contactos-topo .mapa{
    float:left;
    width:500px;
    min-height:220px;
}
#detalhe-conteudo .conteudo .contactos-topo small{
    float:left;
    width:424px;
}
#detalhe-conteudo .conteudo .contactos-topo form#form{
    float:left;
    width:610px;
    padding-top:15px;
}
#detalhe-conteudo .conteudo .contactos-topo form#form label{
    color:#666666;

    clear:both;
    display:block;
    width:74px;
}
#detalhe-conteudo .conteudo .contactos-topo form#form input{
    /* -moz-border-radius: 5px 5px 5px 5px;
     border: 1px solid #818181;*/
    border:0;
    font-size: 13px;
    margin-bottom:10px;
    width:297px;
    height:18px;
    padding: 3px;


    background-image: url('../images/input.png');
    background-repeat:no-repeat;
}
#detalhe-conteudo .conteudo .contactos-topo form#form textarea{
    /* -moz-border-radius: 5px 5px 5px 5px;
     border: 1px solid #818181;*/
    border:0;
    font-size: 13px;
    margin-bottom:10px;
    width:297px;
    min-height:147px;
    padding: 3px;
    clear:both;
    float:left;
    background-image: url('../images/textarea.png');
    background-repeat:no-repeat;
    resize: none;
}

#area-total{
    width: 310px;
    float: left;
    margin: 0;
    padding: 0;


}
label#AI{
    float: left;
    width: 140px;
}
#detalhe-conteudo .conteudo .contactos-topo form#form #areas-interesse{    
    float: left;
    width: 189px;
}
#detalhe-conteudo .conteudo .contactos-topo form#form #areas-interesse input.areasInteresse{
    float: left;
    width: 24px;
}
#detalhe-conteudo .conteudo .contactos-topo form#form #areas-interesse .area-int{
    float: left;
    width: 189px;
}

#detalhe-conteudo .conteudo .contactos-topo form#form #areas-interesse .area-int h5.areaInt{
    color: #000000;
    float: left;
    text-align: left;
    text-transform: uppercase;
    width: 165px;
    font-size: 7pt;
    height: 16px;
    padding-top: 4px;
}
#detalhe-conteudo .conteudo .contactos-topo form#form input.button{
    float:left;
    background-color:transparent;
    background-image: url('../images/submit.png');
    background-repeat:no-repeat;
    border:0;
    width:90px;
    height:28px;
    margin-left:330px;
    margin-top:-36px;
    padding-bottom: 7px;
    cursor:pointer;
    text-transform:uppercase;
    font-weight:bold;
    font-size:7pt;
}
#detalhe-conteudo .conteudo .imagem-detalhe-cs{
    float:left;
    margin-bottom:18px;
}
#detalhe-conteudo .conteudo .barraSup{
    float:left;
    width:654px;
    height:16px;
    color:#2b2b2b;
    border-bottom:1px solid #2b2b2b;
    text-transform:uppercase;
    margin-top:10px;
}
#detalhe-conteudo .conteudo span.data{
    float:left;
    width:654px;
    color:#000000;
    margin-top:4px;
    margin-bottom:25px;
}
#detalhe-conteudo .conteudo .barraSup h3#tituloConteudo{
    font-size:10pt;
    color:#000000;
    width:570px;
    float:left;
    font-weight: normal;
    margin: 0;
    line-height: normal;
}
#detalhe-conteudo .conteudo .barraSup .partilhar{
    width:50px;
    float:right;
}
#detalhe-conteudo .conteudo .barraSup .partilhar .distribuir{
    float:left;
}
#detalhe-conteudo .conteudo .barraSup .partilhar .enviarAmigo{
    float:left;
    margin-left:10px;
    margin-top:1px;
}
#detalhe-conteudo .conteudo .barraSup .partilhar .imprimir{
    float:left;
    margin-left:10px;
}

#detalhe-conteudo .conteudo .introducaoConteudo{
    float:left;
    color:#2b2b2b;
    line-height: 20px;
    font-weight:bold;
    font-size:11pt;
    text-align:left;
    margin-top: 10px;
    width: 100%;
    
    
}
#detalhe-conteudo .conteudo .introducaoConteudo p{
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
    margin: 0;
}
#detalhe-conteudo .conteudo .descricaoConteudo{
    float:left;
    color:#666666;
    line-height: 18px;
    margin-top: 5px;
}
#detalhe-conteudo .conteudo .descricaoConteudo p{
    margin-top:12px;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
}
#detalhe-conteudo .conteudo .descricaoConteudo .img {
    background: none repeat scroll 0 0 #666666;
    padding: 3px;
}