

<div class="incubadoraBasePage" > 

    <div class="incubadoraBasePageTop" > 

        <div class="imagemIncubadora">
            <img src="<?= $this->baseUrl() ?>/images/ieminho2013 (3).jpg" >

        </div>
        <div class="row_top">   
            <img src="<?= $this->baseUrl() ?>/images/greytop.png" >
        </div>
    </div>
    <div class="textoIncubadora">
        <div class="span6">
            <div class="tituloConteudoIncubadora">

                a incubadora do instituto empresarial do minho
            </div>
            <div class="textoConteudoIncubadora">
                fffffffffffffff jdsjdjdjdjjdjdjdjjd
                ddkdkkdkdkkkkkkkkkkkkkkkk
                jdejnkjbnkejb rjebrjkbrjkberjb
                jbrejbkjbkejbkr erkejbkejbkjr
                eknkljNJNEJWBFJW
                JEBFKJWBB FEFB
            </div>
        </div>
        <div class="span3">
            <div class="setoresIncubacao_Incubadora">

                <div class="titulo">
                    Sectores de <br/>
                    incubação:
                </div>

                <div class="texto">

                    <a href="#">ggggggggggg</a> <br/>
                    <a href="#">ggggggggggg</a> <br/>
                    <a href="#">ggggggggggg</a> <br/>
                </div>
            </div> 
            <div class="agendaIncubadora">
                <div class="titulo">
                    Agenda: </div>
                <br/>

                <div class="descricaoData">
                    <div class="data"> Novembro 26,
                        2013</div>
                    <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                </div>
                <div class="descricaoData">
                    <div class="data"> Novembro 26,
                        2013</div>
                    <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                </div>
                <div class="descricaoData">
                    <div class="data"> Novembro 26,
                        2013</div>
                    <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                </div>
                <div class="descricaoData">
                    <div class="data"> Novembro 26,
                        2013</div>
                    <div class="descricao">Curso de Gestão de carreira, Av General Carrilho da Silva (Variante do Fijo)-Tenões</div>
                </div>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    <div class="galeriaPage">
        <div class="titulo">
            Galeria </div>

        <div class="galeria_incubadora">
            <ul class="galeria_incubadora_ul">
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                 <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                 <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                 <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_2.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_3.jpg&amp;height=150" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="<?= $this->baseUrl() ?>/image.php?image=<?= $this->baseUrl() ?>/images/ieminho2013_1.jpg&amp;height=150" alt="" /></a>
                </li>
                
            </ul>




        </div>



    </div>

</div> 
<!--
<?php if ($this->getOptionValue('google-analytics') != NULL): ?>
        <script type="text/javascript"><?= $this->getOptionValue('google-analytics') ?></script>
<?php endif; ?>

-->