<div class="span9">

    <h1 class="page-title">
        <i class="icon-home"></i>
        Foi despoletado um erro			
    </h1>



    <div class="widget">
        <h3><?=$this->message?></h3>
        <pre><?= $this->stack_trace ?></pre>
        <pre><?= $this->exception->getTraceAsString() ?></pre>

    </div> <!-- /widget -->



</div> <!-- /span9 -->